{% extends 'depart/layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/depart/css/my.css">
{% endblock %}

{% block content %}
<div class="g-bd" id="balance" v-cloak>
	<div class="m-balance">
		当前余额：
		<div class="money"><em>¥</em>${balance}</div>
	</div>
	<a href="/depart/recharge" class="u-btn-confirm">充值</a>
</div>
{% include 'depart/footer.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
var balance = new Vue({
    el: '#balance',
    delimiters: ['${', '}'],
    data:{
        balance:''
    },
    mounted: function () {
        this.$nextTick(function () {
            var _this = this;
            $.ajax({
                url: '/departapi/driverschool/userInfo?userId=1000100',
                type: 'get',
                dataType:'json',
                crossDomain:true,
                xhrFields: {
                    withCredentials: true,
                },
                success: function(data) {
                    if(data.code==0){
                        _this.balance = data.object.balance; 
                    }else if(data.code==302){
                        window.location.href = data.result;
                    }                 
                },
                error: function() {

                }
            });
        })
    },
    methods:{
        
    }  
})
</script>
{% endblock %}