{% extends 'depart/layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/depart/css/departure.css">
{% endblock %}
{% block content %}
<div class="g-bd" id="departure">
	<div class="g-hd"></div>
	<div class="g-box fs-24">
		<div class="g-box-item">
			<!-- 我的区服 -->
			<div class="m-region">
				<h3 class="m-title">我的区服</h3>
		        <ul class="select-ul f-cb">
		            <li>微信区</li>
		            <li>QQ区</li>
		        </ul>
			</div>
			<!-- 我的段位 -->
			<div class="m-segment">
				<h3 class="m-title">我的段位</h3>
		        <ul class="select-ul f-cb">
		            <li>尊贵铂金</li>
		            <li>至尊星耀</li>
		            <li>永恒钻石</li>
		            <li>尊贵铂金</li>
		            <li>荣耀黄金</li>
		        </ul>
			</div>
			<!-- 开车类型 -->
			<div class="m-departType">
				<h3 class="m-title">开车类型</h3>
			</div>
			<!-- 联系方式 -->
			<div class="m-contact">
				<h3 class="m-title">联系方式</h3>
				<input class="u-contact-weChat" type="text" placeholder="输入金额">
				<input class="u-contact-phone" type="text" placeholder="输入金额">
			</div>
			<!-- 抵用卷 -->
			<div class="m-coupon">
				<h3 class="m-title">抵用卷</h3>
			</div>
			<!-- 开车时间 -->
			<div class="m-departTime">
				<h3 class="m-title">开车时间</h3>
			</div>
			<!-- 下单须知 -->
			<div class="m-orderNote">
				<span>已经阅读</span>
				<div>荣耀驾校下单须知</div>
			</div>	
		</div>
		<div class="g-foot">
			<span>合计:</span><span>288¥</span><span>支付酬劳</span>
		</div>
	</div>
</div>
{% include 'depart/footer.html' %}
{% endblock %}
