{% extends 'depart/layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/depart/css/departure.css">
{% endblock %}
{% block content %}
<div class="g-bd" id="departure">
	<div class="g-hd"></div>
	<div class="g-box fs-24">
		<div class="g-box-item">
			<!-- 我的区服 -->
			<div class="m-region">
				
			</div>
			<!-- 我的段位 -->
			<div class="m-segment">
				
			</div>
			<!-- 开车类型 -->
			<div class="m-departType">
				
			</div>
			<!-- 联系方式 -->
			<div class="m-contact">
				
			</div>
			<!-- 抵用卷 -->
			<div class="m-coupon">
				
			</div>
			<!-- 开车时间 -->
			<div class="m-departTime"></div>
			<!-- 下单须知 -->
			<div class="m-orderNote">
				<span>已经阅读</span>
				<div>荣耀驾校下单须知</div>
			</div>	
		</div>
		<div class="g-foot">
			<span>合计:</span><span>288¥</span><span>支付酬劳</span>
		</div>
	</div>
</div>
{% include 'depart/footer.html' %}
{% endblock %}
