{% extends 'depart/layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/depart/css/list.css">
{% endblock %}

{% block content %}
<div class="g-bd" id="list" v-cloak>
	<div class="m-tab">
        <ul class="tab">
            <li v-for="(item,index) in tab" :class="{active:isCur==index}" @click='switchCash(index,item)'>${item}</li>
        </ul>   
    </div>
    <div class="g-list" v-if="list">
        <div class="list-box" v-if="isCur==0">
            <a v-bind:href="'/depart/listDetail?out_trade_no='+list.out_trade_no" class="m-list driverList" v-for="list in list">
                <h3>${list.order_date}<span class="driver">查看</span></h3>
                <div class="target-name">${list.level_name}包${list.order_type==2?'上'+list.total+'星':list.total==100?'单局':list.total+'小时'}<span v-if="list.world==1">微信区</span><span v-else>QQ区</span></div>
                <div class="target-price" :class="{drivePrice:user_type==2}"><span><em>¥</em>${list.amount}</span></div>
            </a>
        </div>
        <div class="list-box" v-if="isCur==1">
            <div class="m-list" v-for="list in list">
                <h3>${list.order_date}<span>已完成</span></h3>
                <div class="target-name">${list.level_name}包${list.order_type==2?'上'+list.total+'星':list.total==100?'单局':list.total+'小时'}<span v-if="list.world==1">微信区</span><span v-else>QQ区</span></div>
                <div class="target-price" :class="{drivePrice:user_type==2}"><span><em>¥</em>${list.amount}</span></div>
                <div class="rank">用户评分:${list.graded?rank[list.rank-1]:'暂无'}</div>
            </div>
        </div>
        <p v-show="islast" class="no-more">没有更多了</p>
    </div>
    <div class="empty-list" v-else>
        暂无订单
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var list = new Vue({
    el: '#list',
    delimiters: ['${', '}'],
    data:{
        tab:["进行中","已完成"],
        rank:["A","B","C","D"],
        isCur:0,
        list:'',
        islast:0,
        page:1,
        user_type:''
    },
    mounted: function () {
        this.$nextTick(function () {
            var _this = this;
            _this.user_type = window.localStorage.getItem("depart_type");
            _this.getList(1,1);
            $(window).scroll(function(){ 
                var totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop()); 
                if($(document).height() <= totalheight){
                    if(!_this.islast){
                        _this.page+=1;
                        _this.getList(_this.isCur+1,_this.page);
                    }
                    
                }
            })
        })
    },
    methods:{
        getList:function(type,page){
            var _this = this;
            $.ajax({
                url: '/departapi/driverschool/orderList',
                type: 'get',
                data:{
                    // "user_id":1000100,
                    "type":type,
                    "page":page,
                    "pageSize":5
                },
                dataType:'json',
                crossDomain:true,
                xhrFields: {
                    withCredentials: true,
                },
                success: function(data) {
                    if(data.code==0){
                        if(_this.list){
                            _this.list = data.object.list.length!=0?_this.list.concat(data.object.list):'';
                        }else{
                            _this.list = data.object.list.length!=0?data.object.list:'';
                        }
                        _this.islast = data.object.isLast;
                    }else if(data.code==302){
                        window.location.href = data.result;
                    }                   
                },
                error: function() {

                }
            });
        },
        switchCash:function(index,value){
            var _this = this;
            _this.page = 1;
            _this.islast = 0;
            _this.isCur = index;
            _this.list = '';
            _this.getList(index+1,1);
        },
    }  
})
</script>
{% endblock %}