<footer>
	<ul>
		<li class="footer-item  {% if index == 0 %}active{% endif %}">
			<a href="/depart/departure">
				<i class="departure-icon"></i>
				<div class="footer-text">开车</div>
			</a>
		</li>
		<li class="footer-item {% if index == 1 %}active{% endif %}">
			<a href="/depart/list">
				<i class="list-icon"></i>
				<div class="footer-text">订单</div>
			</a>
		</li>
		<li class="footer-item {% if index == 2 %}active{% endif %}">
			<a href="/depart/my">
				<i class="my-icon"></i>
				<div class="footer-text">我的</div>
			</a>
		</li>
	</ul>
</footer>