{% extends 'depart/layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/depart/css/list.css">
{% endblock %}

{% block content %}
<div class="g-bd" id="list" v-cloak>
	<div class="m-tab">
        <ul class="tab">
            <li>可使用</li>
            <li>已过期</li>
            <li>已使用</li>
        </ul>   
    </div>
    <div class="g-list">
        <div class="list-box">
            <div class="m-list">
                <h3>2017年08月01日   11:09 <span>待发车</span></h3>
                <div class="target-name">尊贵铂金包上1星</div>
                <div class="target-price"><span><em>￥28</em></span><i>￥38</i>抵用券减免10元</div>
            </div>
        </div>
        <div class="list-box">
            
        </div>
        <div class="list-box">
            
        </div>
    </div>
</div>
{% include 'depart/footer.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
var list = new Vue({
    el: '#list',
    delimiters: ['${', '}'],
    data:{
        
    },
    mounted: function () {
        this.$nextTick(function () {
            
        })
    },
    methods:{
        
    }  
})
</script>
{% endblock %}