{% extends 'depart/layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/depart/css/my.css">
{% endblock %}

{% block content %}
<div class="g-bd" id="recharge" v-cloak>
    <h3 class="my-title">请选择您的陪练接单时间</h3>
    <div class="g-recharge">
        <h3 class="m-title">可选择时间段</h3>
        <ul class="select-ul f-cb">
            <li v-for="(item,index) in time" :class="{active:isCur==index}" @click='switchCash(index,item)'>${item}</li>
        </ul>
    </div>
	<button class="u-btn-confirm">确认</button>
</div>
{% include 'depart/footer.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
var recharge = new Vue({
    el: '#recharge',
    delimiters: ['${', '}'],
    data:{
        time:["9:00-9:59","10:00-10:59","11:00-11:59","12:00-12:59","13:00-13:59","14:00-14:59","15:00-15:59","16:00-16:59","17:00-17:59","18:00-18:59","19:00-19:59","20:00-20:59","21:00-21:59","22:00-22:59","23:00-23:59","00:00-00:59"],
        isCur:0,
        payCash:''
    },
    mounted: function () {
        this.$nextTick(function () {
            
        })
    },
    methods:{
        switchCash:function(index,value){
            var _this = this;
            _this.isCur = index;
            _this.payCash = value;
        },
    }  
})
</script>
{% endblock %}