{% extends 'depart/layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/depart/css/my.css">
{% endblock %}

{% block content %}
<div class="g-bd" id="recharge" v-cloak>
    <h3 class="my-title">请选择您的陪练接单时间</h3>
    <div class="g-recharge">
        <h3 class="m-title">可选择时间段</h3>
        <ul class="select-ul f-cb">
            <li v-for="(item,index) in time" :class="{active:item.is_set}" @click='switchCash(index,item)'>${item.start_time}-${item.end_time}</li>
        </ul>
    </div>
	<button class="u-btn-confirm" @click="confirmTime">确认</button>
    <div class="g-clue-mask" v-show='paySuccessMask'>
        <div class="g-clue-box">
            <div class="m-clue-box">
                <i class="clue-mask-close" @click='payCloseMask'></i>
                <img src="/depart/images/withdrawSuccess.png" alt="没有图片">
                <div class="u-pay-text">提交成功</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var recharge = new Vue({
    el: '#recharge',
    delimiters: ['${', '}'],
    data:{
        time:'',
        isCur:0,
        setTime:'',
        paySuccessMask:false
    },
    mounted: function () {
        this.$nextTick(function () {
            var _this = this;
            $.ajax({
                url: '/departapi/driverschool/timeZoneList?userId=1000100',
                type: 'get',
                dataType:'json',
                crossDomain:true,
                xhrFields: {
                    withCredentials: true,
                },
                success: function(data) {
                    if(data.code==0){
                        _this.time = data.object;
                    }else if(data.code==302){
                        window.location.href = data.result;
                    }                     
                },
                error: function() {

                }
            });
        })
    },
    methods:{
        switchCash:function(index,value){
            var _this = this;
            _this.time[index].is_set = !_this.time[index].is_set;
        },
        confirmTime:function(){
            var _this = this;
            _this.time.forEach(function(value,index){
                if(value.is_set){
                    if(_this.setTime==''){
                        _this.setTime = value.id;
                    }else{
                        _this.setTime = _this.setTime+','+value.id;
                    }
                }
            })
            $.ajax({
                url: '/departapi/driverschool/timeZoneListSubmit',
                type: 'get',
                data:{
                    "userId":1000100,
                    "timezoneIds":_this.setTime
                },
                dataType:'json',
                crossDomain:true,
                xhrFields: {
                    withCredentials: true,
                },
                success: function(data) {
                    if(data.code==0){
                        _this.paySuccessMask = true;
                        setTimeout(function(){
                            window.location.href = '/depart/my';
                        },2000);
                    }
                },
                error: function() {

                }
            });
        },
        payCloseMask:function(){
            var _this = this;
            _this.paySuccessMask = false;
        },
    }  
})
</script>
{% endblock %}