{% extends 'depart/layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/depart/css/my.css">
{% endblock %}

{% block content %}
<div class="g-bd" id="recharge" v-cloak>
    <h3 class="my-title">请选择您的陪练接单时间</h3>
    <div class="g-recharge">
        <h3 class="m-title">可选择时间段</h3>
        <ul class="select-ul f-cb">
            <li v-for="(item,index) in time" :class="{active:item.is_set}" @click='switchCash(index,item)'>${item.start_time}-${item.end_time}</li>
        </ul>
    </div>
	<button class="u-btn-confirm">确认</button>
</div>
{% include 'depart/footer.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
var recharge = new Vue({
    el: '#recharge',
    delimiters: ['${', '}'],
    data:{
        time:'',
        isCur:0,
        payCash:''
    },
    mounted: function () {
        this.$nextTick(function () {
            var _this = this;
            $.ajax({
                url: '/departapi/driverschool/timeZoneList?userId=1000100',
                type: 'get',
                dataType:'json',
                crossDomain:true,
                xhrFields: {
                    withCredentials: true,
                },
                success: function(data) {
                    _this.time = data.object;
                },
                error: function() {

                }
            });
        })
    },
    methods:{
        switchCash:function(index,value){
            var _this = this;
            _this.isCur = index;
            _this.payCash = value;
        },
    }  
})
</script>
{% endblock %}