<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no"/>  
    <link href="/mobile/css/agreement.css" rel="stylesheet"/>
    <title>最终用户使用许可协议</title>
</head>
<body>
	<section class="user_agreement_cont">
<!-- 		<h2>用戶协议</h2> -->
		<!-- <h3 class="mb10">首先，娱儿直播感谢您的下载和使用！ </h3> -->
		<div class="mb10 g9">
		本《最终用户使用许可协议》（以下称《协议》，包括《用户服务条款》、《用户须知》、《版权声明》）是用户（个人或单一实体，以下或称“用户”）与浙江网竞网络科技有限公司（以下简称“浙江网竞”）之间有关本公司运营的娱儿直播平台（以下简称“软件产品”或“软件”）使用的法律协议。

“娱儿直播”根据平台用户意愿提供相关游戏等视频（包括但不限于文字、图片、音频、视频等）的上载及传播，是一个向广大用户提供上传空间及视频直播的服务平台，并不事先审核前述被上载的、由用户参与、编辑、制作的视频内容，也不主动对该等视频进行任何编辑、整理、修改、加工。

本“软件产品”包括网页端软件，相关网络服务器、网站，无线终端软件（包括但不限于：安卓版、IOS版、WM版、pad游戏版、TV版等），并可能包括电子媒体、印刷材料和“联机”或电子文档。用户一旦安装、复制、访问网站、充值、运行网页端软件或无线终端软件或以其它方式使用“软件产品”，即表示用户同意接受本《协议》各项条款的约束。如用户不同意本《协议》中的条款，请不要以上述任何一种方式使用“软件产品”。

浙江网竞在此特别提醒用户认真阅读本协议的全部条款，特别是其中免除或者限制浙江网竞责任的免责声明条款（该等条款通常含有“不负任何责任”、“无义务”等词汇）以及用户须遵守的《用户服务条款》、《用户须知》、《版权声明》中的条款和其它限制用户权利的条款（该等条款通常含有“不得”等词汇），这些条款应在中国法律所允许的范围内最大程度地适用。除非用户接受本协议的全部条款，否则无权安装、复制、访问网站、充值、运行客户端软件或以其它方式使用“软件产品”。

本协议（包括《用户服务条款》、《用户须知》、《版权声明》）下的条款可由浙江网竞随时变更，用户须定期审阅本协议。协议条款一旦发生变动，浙江网竞将会在浙江网竞相关的页面上提示变更内容。变更后的协议一旦在相关的页面上公布即有效代替原来的协议。如用户不同意浙江网竞对本协议的所作的任何变更，用户应立即停止使用浙江网竞的软件产品。如用户在本协议变更后继续使用浙江网竞的软件产品，即视作用户已完全同意变更后的协议。

浙江网竞特别申明，未成年人应在法定监护人的陪同下审阅和接受本协议。未成年人在使用浙江网竞的服务前，应事先取得父母（监护人）的同意。若父母（监护人）希望未成年人（尤其是十岁以下子女）得以使用本服务，必须以法定监护人身份加以判断本服务是否符合于未成年人。未成年人用户应当在合理程度内使用“软件产品”，不得因使用“软件产品”而影响了日常的学习生活。用户理解浙江网竞无义务对本款前述事项进行任何形式的审查和确认。
		</div>
		<ul class="user_agreement_list">
			<li>
				<h3><span class="hb_list_dot"></span>1. 许可权利的授予。</h3>
				<p>
					本《协议》授予用户下列权利：以非商业目的访问、下载、安装、使用、显示、运行本软件。用户可在许可生效的时间内（1）运行网页端软件；（2）将自己使用的娱儿直播无线终端软件安装在自己使用的联网无线终端设备上，并以客户端软件指定的方式运行。其他任何形式的未经许可的下载、安装、使用、访问、显示、运行以及转让，都将被视为对《协议》的侵犯。
				</p>
			</li>
			<li>
				<h3><span class="hb_list_dot"></span>2. 禁止性行为或活动。</h3>
				<p>
					2.1 禁止用户发生以下行为，包括但不限于：
						1）利用反向工程、编译或反向编译、反汇编等技术手段制作软件对软件进行分析、修改、攻击；
						2）使用任何外挂程序或软件修改程序（本协议所称“外挂程序”是指独立于软件之外的，能够在软件运行的同时影响软件操作的所有程序，包括但不限于模拟键盘鼠标操作、改变操作环境、修改数据等一切类型。如国家有管法律、法规及政府主管部门的规章或规范性文件规定的外挂定义与本协议有冲突，则以法律、法规、部门规章或规范性文件规定的为准），对本软件进行还原工程、编译、译码或修改，包括但不限于修改本软件所使用的任何专有通讯协议、对动态随机存取内存（RAM）中资料进行修改或锁定；
						3）通过非浙江网竞开发、授权的第三方软件、插件、外挂、系统，使用异常的方法登录或使用本软件及服务、使用网络加速器等外挂软件或机器人程式等恶意破坏服务设施、扰乱正常服务秩序的行为；
						4）制作、传播或使用上述外挂、封包、加速软件，及其它各种作弊程序，或组织、教唆他人使用此类软件程序，或销售此类软件程序而为私人或组织谋取经济利益；
						5）使用任何方式或方法，试图攻击提供软件服务的相关服务器、路由器、交换机以及其他设备，以达到非法获得或修改未经授权的数据资料、影响正常软件服务，以及其他危害性目的的任何行为；
						6）利用软件产品系统可能存在的技术缺陷或漏洞而以各种形式为自己及他人牟利。
						7）一旦浙江网竞通过内部的监测程序发现或经其他用户举报而发现用户有可能正在从事上述行为，则浙江网竞有权采取相应的措施进行弥补，该措施包括但不限于限制或删除用户的账号和要求用户赔偿因用户从事上述行为而给浙江网竞造成的损失等。
				</p>
				<p>
					2.2未经浙江网竞书面同意，用户禁止有下列行为（无论是有偿的还是无偿的）：
						1）出租、出借、复制、翻拷、修改、汇编、传播、发表、出版和在网络上链接、转载、建立镜像站点等方式陈列本产品的程序、使用手册和其它图文音像资料的全部或部分内容，及以本软件作为营业使用的行为。
						2）对本软件或者本软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及本软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非浙江网竞经授权的第三方工具/服务接入本软件和相关系统。
						3）通过修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的。
						4）对本产品的程序、图像、动画和音乐进行还原、反编译、反汇编、剪辑、翻译和改编等任何修改行为。
						5）修改或遮盖本产品程序、图像、动画、包装和手册等内容上的产品名称、公司标志、版权信息等内容。
						6）自行或授权他人、第三方软件对本软件及其组件、模块、数据进行干扰；
						7）其他未经浙江网竞明示授权的行为。
						8）其它违反著作权法、计算机软件保护条例和相关法规的行为。
						一旦用户有实施违反上述内容的行为，本软件产品的授权协议将立即停止。浙江网竞有权通过各种合法途径向因违反上述条款而对浙江网竞造成损害的用户追究法律责任。
				</p>
			</li>
			
			
			<li>
				<h3><span class="hb_list_dot"></span>3. 服务条款的确认和接纳。</h3>
				<p>
					本“软件产品”的运营权归浙江网竞。浙江网竞提供的服务完全按照其发布的章程、服务条款和操作规则严格执行。用户应该遵守浙江网竞制定的上述管理规定。如果用户发生违反此类管理规定的行为，浙江网竞可中止或终止本《协议》并停止用户使用“软件产品”的权利。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>4. 用户必须提供的设备和须提供的信息。</h3>
				<p>
					4.1浙江网竞提供可使用的“软件产品”，并运用自己的网络系统通过国际互联网络（Internet）为用户提供服务。同时，用户必须：
						1）自行配备上网及显示的所需设备，包括电脑、调制解调器或其他必备上网装置。本软件使用过程中可能产生数据流量的费用，用户需自行向运营商了解相关资费信息，并自行承担相关费用。
						2）自行负担个人上网所支付的与此服务有关的电话费用、网络费用。
				</p>
				<p>
					4.2基于浙江网竞提供服务的重要性，用户应同意：
						1）提供详尽、准确的个人资料。
						2）不断更新注册资料，符合及时、详尽、准确的要求。
						3）牢记用户填写的注册资料、历史信息。
				</p>
				<p>
					4.3在使用本软件产品服务的过程中，用户可能需要使用一些必要的信息，例如：为了向用户提供更优质的终端资源管理服务，需要用户提供移动终端设备型号或名称以完成设备对接、适配。若国家法律法规或政策有特殊规定的，用户需要提供真实的身份信息。若用户不提供或提供的信息不完整，则无法使用本服务或在使用过程中受到限制。
				</p>
				<p>
					4.4浙江网竞在为用户提供相关客户服务的前提是用户能表明用户是账号的所有人，这可能需要用户提供相关信息（包括但不限于注册信息、历史密码等），如果用户没有牢记自己填写的注册资料及相关历史信息或未及时更新相关注册资料，用户的相关问题（包括但不限于密码找回等）将得不到解决，对此浙江网竞不承担任何责任。
				</p>
				<p>
					4.5保护用户个人信息是浙江网竞的一项基本原则，浙江网竞将会采取合理的措施保护用户的个人信息。浙江网竞对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。未经用户同意，浙江网竞不会向浙江网竞以外的任何公司、组织和个人披露用户的个人信息，但法律法规另有规定的除外。
				</p>
				<p>
					4.6浙江网竞非常重视对未成年人个人信息的保护。若用户是18周岁以下的未成年人，在使用浙江网竞的服务前，应事先取得用户家长或法定监护人的书面同意。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>5. 拒绝提供担保。</h3>
				<p>
					用户个人对网络服务的使用承担风险。浙江网竞对以下事宜不作任何类型的担保，不论是明确的或隐含的：
				</p>
				<p>5.1 本协议项下的“软件产品”及浙江网竞提供的相关服务将符合用户的要求。
				</p>
				<p>5.2 本协议项下的“软件产品”及浙江网竞提供的相关服务将不受不可抗力、计算机病毒、黑客攻击、系统不稳定、用户所在位置、用户关机、电信部门原因及其他任何网络、技术、通信线路等外界或人为因素的影响；
				</p>
				<p>5.3 安装、复制、访问网站、充值、运行客户端软件或以其它方式使用“软件产品”及/或接受浙江网竞提供的相关服务与任何其他硬件、软件不存在任何冲突；
				</p>
				<p>5.4 通过浙江网竞网站、软件官方网站及其他相关网络上的链接和标签所指向的第三方的商业信誉、信息安全及其提供服务的质量。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>6. 免除责任。</h3>
				<p>
					6.1浙江网竞对任何直接、间接、偶然、特殊及继起的损害不负责任，这些损害可能来自：不正当使用网络服务，非法使用网络服务或用户传送的信息有所变动等方面。用户明确同意其安装、复制、访问网站、充值、运行客户端软件或以其它方式使用“软件产品”及/或接受浙江网竞提供的相关服务所存在的风险将完全由其自己承担。因其安装、复制、访问网站、充值、运行客户端软件或以其它方式使用“软件产品”及/或接受浙江网竞提供的相关服务而产生的一切后果也由其自己承担，浙江网竞对用户不承担任何责任。
				</p>
				<p>6.2浙江网竞可能为不同的终端设备开发了不同的软件版本，用户应当根据实际情况选择下载合适的版本进行安装，且用户不得将本软件安装在未经浙江网竞明示许可的其他终端设备上。由于用户未正确安装合适的软件版本所带来的风险及损失，浙江网竞不承担任何责任。
				</p>
				<p>6.3为了增进用户体验、完善服务内容，浙江网竞将不断努力开发新的服务，并为用户不时提供软件更新（这些更新可能会采取软件替换、修改、功能强化、版本升级等形式）。为了保证服务的安全性和功能的一致性，浙江网竞有权不经向用户特别通知而对软件进行更新，或者对软件的部分功能效果进行改变或限制。本软件新版本发布后，旧版本的软件可能无法使用。浙江网竞不保证旧版本软件继续可用及相应的客户服务，请用户随时核对并下载最新版本。
				</p>
				<p>6.4 第三方责任
					1）用户应理解并同意本软件产品的部分服务由第三方提供，并非由本软件自行提供。用户在使用第三方应用产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。用户应对第三方应用产品及其提供的服务自行加以判断，并承担因使用第三方应用产品或服务而引起的所有风险。浙江网竞不对任何非由浙江网竞运营的应用产品或服务的合法性、安全性、适用性及稳定性等作出保证，亦不对非由浙江网竞运营的任何应用产品或服务承担任何责任。浙江网竞无法且不会对因前述风险而导致的任何损失或损害承担责任。
					2）本软件可能会使用第三方软件或技术（包括本软件可能使用的开源代码和公共领域代码等，下同），这种使用已经获得合法授权。本软件如果使用了第三方的软件或技术，浙江网竞将按照相关法规或约定，对相关的协议或其他文件，可能通过本协议附件、在本软件安装包特定文件夹中打包等形式进行展示，它们可能会以“软件使用许可协议”、“授权协议”、“开源代码许可证”或其他形式来表达。前述通过各种形式展现的相关协议或其他文件，均是本协议不可分割的组成部分，与本协议具有同等的法律效力，用户应当遵守这些要求。如果用户没有遵守这些要求，该第三方或者国家机关可能会对用户提起诉讼、罚款或采取其他制裁措施，并要求浙江网竞给予协助，用户应当自行承担法律责任。如因第三方引发的任何纠纷，应由该第三方负责解决，浙江网竞不承担任何责任。浙江网竞不对第三方软件或技术提供客服支持，若用户需要获取支持，请与第三方联系。
					3）因用户使用本软件或要求浙江网竞提供特定服务时，本软件可能会调用第三方应用产品或通过第三方支持用户的使用或访问，使用或访问的结果由该第三方提供，浙江网竞不保证通过第三方应用产品提供的服务及内容或支持实现的结果的安全性、准确性、有效性及其他不确定的风险，由此若引发的任何争议及损害，与浙江网竞无关，浙江网竞不承担任何责任。
					4）用户须明白，在使用本软件产品及服务过程中可能存在有来自任何他人的包括威胁性的、诽谤性的、令人反感的或非法的内容或行为或对他人权利的侵犯（包括知识产权）的匿名或冒名的信息的风险，用户须承担以上风险，浙江网竞对上述风险不作担保，不论是明确的或隐含的（包括所有有关信息真实性、适当性、适于某一特定用途、所有权和非侵权性的默示担保和条件），对因此导致任何因用户不正当或非法使用本软件产品及服务产生的直接、间接、偶然、特殊及后续的损害，不承担任何责任。
				</p>
			</li>

			<li>
				<h3><span class="hb_list_dot"></span>7. 违约赔偿</h3>
				<p>
					7.1 用户同意保障和维护浙江网竞及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给浙江网竞造成损害，用户同意承担由此造成的损害赔偿责任，该等责任包括但不限于给浙江网竞造成的任何直接或间接损失。
				</p>
				<p>7.2 因用户违反有关法律、法规或本协议项下的任何条款导致任何第三方向浙江网竞主张任何索赔、要求或损失的，用户同意赔偿浙江网竞由此产生的任何直接或间接损失。
				</p>
			</li>

			<li>
				<h3><span class="hb_list_dot"></span>8. 法律适用和争议解决</h3>
				<p>
					8.1 本协议的订立、履行、解释及争议的解决均应适用中国法律。
				</p>
				<p>8.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均应向上海市浦东新区人民法院提起诉讼。
				</p>
			</li>
			<li>
				<h3><span class="hb_list_dot"></span>9. 通知和送达。</h3>
				<p>
					本协议项下浙江网竞的所有通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。
				</p>
			</li>
			<li>
				<h3><span class="hb_list_dot"></span>10. 其他规定</h3>
				<p>
					10.1 本“软件产品”受著作权法及国际著作权条约和其它知识产权法和条约的保护；本“软件产品”只许可在给定范围和时间内使用，而不出售其原代码和其他任何相关知识产权权利。
				</p>
				<p>10.2 关于本“软件产品”的《用户服务条款》、《用户须知》、《版权声明》等文件均属于本《协议》不可分割的一部分，与本《协议》同样有效。
				</p>
				<p>10.3 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。
				</p>
				<p>10.4 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，在此情况下，该无效或不具有执行力的部分将被最接近原条款意图的一项有效并可执行的条款所替代，并且本协议的其余条款仍应有效并且有约束力。
				</p>
				<p>10.5 本协议中的标题仅为方便而设，不会对本协议的其他条款有限制作用，也不具有任何法律效力。
				</p>
			</li>
		</ul>
	</section>
	<section class="user_agreement_cont">
		<h2>用户服务条款</h2>
		<ul class="user_agreement_list">
			<li>
				<h3><span class="hb_list_dot"></span>1. 释义：</h3>
				<p>
					本服务条款系由用户与浙江网竞技术有限公司（本服务条款中简称为“浙江网竞”）之间就浙江网竞提供运营服务的“娱儿直播”（以下简称“软件产品”或“软件”）所订立的相关权利义务规范。因此，请于使用软件产品（包括但不限于注册成为软件产品用户或以安装、复制、访问网站、充值或以其它一切方式使用）前，确实详细阅读本服务条款的所有内容。
				</p>
			</li>
			<li>
				<h3><span class="hb_list_dot"></span>2. 权利声明：</h3>
				<p>
					软件产品的所有相关著作权、专利权、商标、商业秘密及其它任何所有权或权利，均属浙江网竞或其原始授权人所有。非经浙江网竞或其原始授权人同意，任何人或用户均不得擅自下载、重制、传输、改作、编辑于任何为软件产品目的以外的使用或任何以获利为目的的使用，否则应负所有法律责任。
					《娱儿直播》运营过程中产生并储存于浙江网竞数据库的任何数据信息（包括但不限于帐号数据信息、直播时长数据信息、虚拟礼物数据信息等）的所有权均属于浙江网竞。用户在完全遵守协议（包括《最终用户使用许可协议》、《用户服务条款》、《用户须知》和《版权声明》）下的各项条款的前提下，在正常使用《娱儿直播》的过程中对属于其用户帐号的数据信息享有协议规定的使用权。
				</p>
			</li>
			<li>
				<h3><span class="hb_list_dot"></span>3. 用户的基本义务：</h3>
				<p>
					浙江网竞向用户提供软件产品本身属于商业行为，用户有义务根据浙江网竞自主确定的收费项目（包括但不限于购买娱儿直播内的虚拟礼物的使用权以及接受其他增值服务等各类收费项目）及收费标准支付相应的费用。浙江网竞有权按需要修改或变更所提供的收费服务、收费标准、收费方式、服务费、及服务条款。浙江网竞提供服务时，可能现在或日后对部分服务的用户开始收取一定的费用，如用户拒绝支付该等费用，则不能在收费开始后继续使用相关的服务。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>4. 软件的下载与装卸：</h3>
				<p>
					浙江网竞可能为不同的终端设备开发了不同的软件版本，用户应当根据实际情况选择下载合适的版本进行安装，且用户不得将本软件安装在未经浙江网竞明示许可的其他终端设备上。由于用户未正确安装合适的软件版本所带来的风险及损失，浙江网竞不承担任何责任。用户下载安装程序后，需要按照该程序提示的步骤正确安装。为提供更加优质、安全的服务，在本软件安装时浙江网竞可能推荐用户安装其他软件，用户可以选择安装或不安装。
					如果用户不再需要使用本软件或者需要安装新版软件，可以停止使用，浙江网竞不承担用户自行卸载的相关法律责任。如果用户愿意帮助浙江网竞改进产品服务，请告知停止使用的原因。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>5. 用户保管账号及密码的义务</h3>
				<p>
					5.1 浙江网竞有权审查用户注册所提供的身份信息是否真实、有效，并应积极地采取技术与管理等合理措施保障用户账号的安全、有效；用户有义务妥善保管其账号及密码，并正确、安全地使用其账号及密码。任何一方未尽上述义务导致账号密码遗失、账号被盗等情形而给用户和他人的民事权利造成损害的，应当承担由此产生的法律责任。
					5.2 用户对登录后所持账号产生的行为依法享有权利和承担责任。
					5.3 用户发现其账号或密码被他人非法使用或有使用异常的情况的，应及时根据浙江网竞公布的处理方式通知浙江网竞，并有权通知浙江网竞采取措施暂停该账号的登录和使用。
					5.4 浙江网竞根据用户的通知采取措施暂停用户账号的登录和使用的，浙江网竞应当要求用户提供并核实与其注册身份信息相一致的个人有效身份信息。
					5.4.1 浙江网竞核实用户所提供的个人有效身份信息与所注册的身份信息相一致的，应当及时采取措施暂停用户账号的登录和使用。
					5.4.2 浙江网竞违反5.4.1款项的约定，未及时采取措施暂停用户账号的登录和使用，因此而给用户造成损失的，应当承担其相应的法律责任。
					5.4.3 用户没有提供其个人有效身份证件或者用户提供的个人有效身份证件与所注册的身份信息不一致的，浙江网竞有权拒绝用户上述请求。
					5.5 用户为了维护其合法权益，向浙江网竞提供与所注册的身份信息相一致的个人有效身份信息时，浙江网竞应当为用户提供账号注册人证明、原始注册信息等必要的协助和支持，并根据需要向有关行政机关和司法机关提供相关证据信息资料。
					5.6 软件产品用户账号的所有权归浙江网竞所有，用户注册成功后获得的是软件产品用户账号的使用权。用户有义务妥善保管在注册并使用软件产品时获得的账号及密码，并为此组账号及密码登入系统后所开始的一连串行为或活动负责。鉴于网络服务的特殊性，浙江网竞不审核是否用户本人使用该组账号及密码，仅审核账号及密码是否与数据库中保存的一致，只要任何人输入的账号及密码与数据库中保存的一致，即可凭借该组账号及密码登陆软件，所以即使用户认为其所有的账号登陆软件的行为并非其本人所为，浙江网竞将不承担因此而产生的任何责任。
					5.7 若用户发现其所有的账号或密码遭他人非法使用或有异常使用的情形，应立即通知浙江网竞并寻求可能的帮助，但鉴于是否用户本人使用其账号难于判断，浙江网竞在无法确认是否为他人非法使用的时候将不能擅自取消该账号进入软件后已经实施的行为，对此用户表示谅解并承诺不要求浙江网竞承担任何责任。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>6. 个人资料的保护及其限制</h3>
				<p>
					6.1 浙江网竞要求用户提供与其个人身份有关的信息资料时，应当事先以明确而易见的方式向用户公开其隐私权保护政策和个人信息利用政策，并采取必要措施保护用户的个人信息资料的安全。
					6.2未经用户许可浙江网竞不得向任何第三方（6.3所列情况除外）提供、公开或共享用户注册资料中的姓名、个人有效身份证件号码、联系方式、家庭住址等个人身份信息，但下列情况除外：
					6.2.1 用户或用户监护人授权浙江网竞披露的；
					6.2.2 有关法律要求浙江网竞披露的；
					6.2.3 司法机关或行政机关基于法定程序要求浙江网竞提供的；
					6.2.4 浙江网竞为了维护自己合法权益而向用户提起诉讼或者仲裁时；
					6.2.5 应用户监护人的合法要求而提供用户个人身份信息时；
					6.2.6 浙江网竞为维护社会公众利益时。
					6.3 用户同意在浙江网竞与第三方合作向用户提供相关网络服务，且该第三方同意承担与浙江网竞同等的保护用户隐私的责任的情况下，允许浙江网竞将用户的注册资料等信息提供给该第三方。
					6.4 在不透露单个用户隐私资料的前提下，浙江网竞有权对整个用户数据库进行技术分析并对已进行分析、整理后的用户数据库进行商业上的利用。尽管浙江网竞对用户的隐私权保护做了极大的努力，但是仍然不能保证现有的安全技术措施使用户的技术信息等不受任何形式的损失。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>7. 用户使用软件产品的限制</h3>
				<p>
					7.1 用户使用浙江网竞的软件产品，除应遵守法律、《最终用户使用许可协议》、本服务条款的规范外，并应遵守《用户须知》和《版权声明》等其他规定，否则浙江网竞有权随时按照该守则处分或终止用户使用软件产品，由此造成的任何损失浙江网竞不负任何责任。
					7.2 浙江网竞严禁用户利用运行软件产品的机会做与使用软件无关的行为，包括但不限于：
					7.2.1 为任何非法目的而使用网络服务系统；
					7.2.2 未经浙江网竞授权访问或试图访问和软件产品及浙江网竞提供的相关网络服务相关的任何帐户、计算机或网络；
					7.2.3 未经浙江网竞授权利用软件产品及浙江网竞提供的相关网络服务以任何方式收集任何其它用户的信息，包括但不限于用户的个人身份信息和通讯信息；
					7.2.4 下载、安装或使用未经浙江网竞授权开发并正式发布的其它任何由软件产品衍生的软件；
					7.2.5 接收或下载由其他软件产品用户传输的用户所知道或应当知道不能以此方式合法传播的任何材料；
					7.2.6 利用软件产品及浙江网竞提供的相关网络服务进行任何可能对互联网的正常运转造成不利影响的行为，包括但不限于以任何方式传输含有计算机病毒、破坏性程序的文件或其他任何可能对他人计算机或互联网的正常运转造成不利影响的软件或程序；
					7.2.7 利用软件产品及浙江网竞提供的相关网络服务传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；
					7.2.8 利用软件产品及浙江网竞提供的相关网络服务进行任何不利于浙江网竞的行为；
					7.2.9 就浙江网竞及合作商业伙伴的服务、产品、业务咨询应采取相应机构提供的沟通渠道，在公众场合发布有关浙江网竞及相关服务的负面宣传。
					7.3 用户对本软件产品管理人员所进行的询问应据实澄清，否则浙江网竞有权随时终止用户使用软件产品；浙江网竞发现不法或可疑的行为者，浙江网竞有权随时通报司法或有权机关处理，并有权同时向该机关陈报用户的基本资料及行为供该等机关为调查。用户理解因此所产生生的任何不便，不得向浙江网竞请求任何损害或补偿。
					7.4 用户应就其在软件产品的行为或活动自负责任。考虑到网络的复杂性和特殊性，浙江网竞在此提醒用户须特别慎重对待软件产品的行为或活动或交易，浙江网竞申明对用户在软件产品的行为或活动或交易不负任何责任。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>8. 服务的停止和更改</h3>
				<p>
					8.1 发生下列情形之一时，浙江网竞有权停止或中断软件产品，并且不向任何人承担因此产生的任何责任：
						8.1.1 对于浙江网竞的网络设备进行必要的保养及施工；
						8.1.2 发生突发性的网络设备故障时；
						8.1.3 由于浙江网竞所用的网络通信设备由于任何原因停止，无法提供服务时；
						8.1.4 由于不可抗力因素致使浙江网竞无法提供软件产品服务；
						8.1.5 为充分利用娱儿直播的账号资源，如用户连续【 】天未登陆使用娱儿直播，则浙江网竞有权对该账号进行回收、替换或采取措施删除该用户帐号在浙江网竞数据库中的任何纪录（包括但不限于注册信息、虚拟礼物信息等）等终止使用操作。
						8.1.6 收费项目的改变是一种正常的商业行为，用户不得因为收费项目的改变而要求终止本协议。在浙江网竞收费项目发生改变后，用户按照一种项目预先支付但尚未消费完毕的金额，浙江网竞有权提供转换方式将上述金额转换成相应能够支付其他收费项目的金额，而用户不能因此而要求终止本协议或返还上述尚未消费完毕的金额。用户在使用本软件访问第三方网站或应用时遇到内容质量及安全问题等，均由用户自行承担。
						8.1.7 在以用户购买虚拟道具的使用权或者以接受其他增值服务作为收费项目的情况下，如超出该虚拟道具的有效使用期限或增值服务的有效服务期限（不管用户是否已经实际使用或者享受服务），或者超出有效使用或服务次数，浙江网竞均有权采取措施取消用户对上述虚拟道具的使用权或者取消继续提供增值服务。上述虚拟道具的使用权以及增值服务的具体收费标准均由浙江网竞在其相关网站上颁布，用户有义务在选择前仔细阅读并确认理解，一旦用户选择购买相关虚拟道具使用权或者接受相关服务，则表明用户已经充分理解上述虚拟道具使用权或者相关增值服务的具体收费标准，并接受其价格。
					8.2 除8.1条规定之外，浙江网竞有权停止或更改各项服务内容或终止任一用户账户，但需在官方网站首页提前24小时通知，用户违反用户守则的处理不在此例。无论任何情形，浙江网竞就停止或更改或终止用户账户所可能产生的不便或损害，浙江网竞对用户本人或任何第三人均不负任何损害赔偿责任。
					8.3 用户应了解并同意，浙江网竞可能因公司本身、其它合作厂商或相关电信业者网络系统软硬件设备的故障、失灵、或人为操作的疏失而全部或一部分中断、暂时无法使用、迟延或因他人侵入浙江网竞系统篡改或伪造变造资料等，造成软件产品的停止或中断者，用户不得要求浙江网竞提供任何形式的补偿或赔偿。
					8.4 用户了解并同意，“娱儿直播”作为一款软件产品，可能有全面终止运营的情况发生，浙江网竞在发生以下情况下会终止运营软件产品：(i) 应政府机关的命令终止运营； (ii) 软件本身的技术问题导致无法继续运营。不管由于任何原因终止运营，浙江网竞均会提前60日通知用户，用户应采取相应措施自行处理账号（包括注销或停止使用该账号）等相关事宜。用户不得以任何原因要求浙江网竞不得全面终止运营，也不得因全面终止运营而要求浙江网竞承担任何形式的赔偿或补偿责任（包括但不限于不再能继续使用账号或软件等）。

				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>9. 风险承担</h3>
				<p>
				用户同意使用浙江网竞网络软件产品是出于用户个人意愿，并愿自负任何风险，包括但不限于如下浙江网竞不可掌控的风险内容：
					9.1由于不可抗拒因素引起的个人信息丢失、泄漏等风险；
					9.2用户隐私信息在使用本软件及服务时可能产生的信息安全风险。
					9.3 用户在使用本软件访问、使用第三方应用产品时遇到内容质量及安全问题等，均由用户自行承担。
					9.4 由于网络信号不稳定、网络带宽小等原因，所引起的应用产品同步登录失败、资料同步不完整、应用页面打开速度慢等风险。
					9.5其因执行本软件产品或自行下载、安装而使用第三方应用产品或服务等而导致用户或其所使用的计算机、手机等终端设备、本软件产品损害，或发生任何资料的流失等。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>10. 责任的免除</h3>
				<p>
				浙江网竞就软件产品，不负任何明示或默示的担保责任，亦不保证软件产品的稳定、安全、无误及不中断。用户应自行承担使用执行软件产品所有的风险及因此可能致生的损害，包括而不限于其因执行软件产品或自行下载、安装而使用第三方应用产品或服务等而导致用户或其所使用的电脑、终端设备、本软件产品损害，或发生任何资料的流失等。
				</p>
			</li>


			<li>
				<h3><span class="hb_list_dot"></span>11. 赔偿责任的排除及限制</h3>
				<p>
					浙江网竞对于用户使用软件产品或无法使用软件产品所致生的任何直接、间接、衍生的损害或所失利益不负任何损害赔偿责任。若依法无法完全排除损害赔偿责任时，用户不得以账号或帐号内虚拟礼物作为赔偿标准，浙江网竞的赔偿责任亦以用户使用该账号所支付浙江网竞的对价为限（以浙江网竞提供的账号内的消费内容记录为准）。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>12. 链接</h3>
				<p>
					浙江网竞在其软件产品官方网站的所有网页上所提供的所有链接，可能链接到其它个人、公司或组织的网站，提供该等网站的目的，是便利用户自行搜寻或取得信息，浙江网竞对于被链接的个人、公司或组织的网站所提供的产品、服务或信息，不担保其真实性、完整性、实时性或可信度。浙江网竞不承担用户与该等网站之间产生的任何法律责任。
				</p>
			</li>

			<li>
				<h3><span class="hb_list_dot"></span>13. 浙江网竞的中止与终止权</h3>
				<p>
					13.1 用户应切实遵守有关法律命令、《最终用户使用许可协议》、《用户服务条款》、《用户须知》和《版权声明》的规定，浙江网竞对于用户是否违反《最终用户使用许可协议》、《用户服务条款》、《用户须知》和《版权声明》的条款有最终决定权。若浙江网竞认定用户已违反法律法规或相关协议条款，用户同意浙江网竞可以随时终止用户的账号及密码使用权。
					13.2 除本协议另有规定，浙江网竞在下列情况下亦拥有中止与终止权：
					13.2.1 用户有发布违法信息、严重违背社会公德、以及其他违反法律禁止性规定的行为，浙江网竞应当立即终止对用户提供服务。
					13.2.2 用户在接受浙江网竞服务时实施不正当行为的，浙江网竞有权终止对用户提供服务。该不正当行为的具体情形应当在本协议中有明确约定或属于浙江网竞事先明确告知的应被终止服务的禁止性行为，否则，浙江网竞不得终止对用户提供服务。
					13.2.3 用户提供虚假注册身份信息，或实施违反本协议的行为，浙江网竞有权中止对用户提供全部或部分服务；浙江网竞采取中止措施应当通知用户并告知中止期间，中止期间应该是合理的，中止期间届满浙江网竞应当及时恢复对用户的服务。
					13.2.4 浙江网竞根据本条约定中止或终止对用户提供部分或全部服务的，浙江网竞应负举证责任。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>14. 损害赔偿</h3>
				<p>
					用户同意保障和维护浙江网竞及其他用户的利益，如因用户违反有关法律、法规或《最终用户使用许可协议》、《用户服务条款》、《用户须知》和《版权声明》的任何条款而给浙江网竞造成损害，用户同意承担由此造成的损害赔偿责任，该等责任包括但不限于给浙江网竞造成的任何直接或间接损失。
					因用户违反有关法律、法规或《最终用户使用许可协议》、《用户服务条款》、《用户须知》和《版权声明》的任何条款导致任何第三方向浙江网竞主张任何索赔、要求或损失的，用户同意赔偿浙江网竞由此产生的任何直接或间接损失（包括但不限于因进行民刑事行政程序所支出的律师费用）。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>15. 停止或变更服务</h3>
				<p>
					15.1 浙江网竞取消或停止用户的资格或加以限制，用户不得要求补偿或赔偿。
					15.2 浙江网竞保留将来新增、修改或删除软件产品的全部或部分的权利，且不另行个别通知，用户不得因此要求任何补偿或赔偿。
					15.3 任何时候（包括但不限于用户正在注册账号或已经在软件中运行等），如浙江网竞发现用户在软件中注册或使用的账号等一切自定义名称与其他用户相同而导致无法识别，浙江网竞有权要求用户修改上述名称，如用户在浙江网竞要求的时限内未予修改，则浙江网竞有权在用户自定义的名称后加注识别符号予以区别以确保软件正常运行（例如用户希望或正在使用的账户名称为“潇洒”，但在同一组服务器中同样存在另外一个用户账户名为“潇洒”，则在用户不愿意修改名称的情况下，浙江网竞有权不经用户同意的情况在用户名称后加注识别符号后成为“潇洒1”、“潇洒2”等），用户保证无条件同意上述修改。
				</p>
			</li>
			
			<li>
				<h3><span class="hb_list_dot"></span>16. 广告信息或促销计划</h3>
				<p>
					浙江网竞的软件上可能刊登商业广告、或其它活动促销的广告。这些内容系广告商或商品服务提供者所为，浙江网竞仅提供刊登内容的媒介。用户通过浙江网竞或其所链接的网站所购买的服务或商品，其交易行为仅存于用户与该商品或服务的提供者之间，与浙江网竞无关，浙江网竞不承担用户与该商品或服务的提供者之间所产生的任何法律责任。
				</p>
			</li>
			<li>
				<h3><span class="hb_list_dot"></span>17. 服务条款的修改</h3>
				<p>
					由于用户及市场状况的不断变化，浙江网竞保留随时修改本服务条款的权利，修改本服务条款时，浙江网竞将于软件产品官方网站首页公告修改的事实，而不另对用户进行个别通知。若用户不同意修改的内容，可停止使用浙江网竞的软件产品。若用户继续使用浙江网竞的软件产品，即视为用户业已接受浙江网竞所修订的内容。
				</p>
			</li>
			<li>
				<h3><span class="hb_list_dot"></span>18.通知和送达。本协议项下浙江网竞的所有通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</h3>
			</li>
			<li>
				<h3><span class="hb_list_dot"></span>19. 个别条款的效力。如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，在此情况下，该无效或不具有执行力的部分将被最接近原条款意图的一项有效并可执行的条款所替代，并且本协议的其余条款仍应有效并且有约束力。</h3>
			</li>
		</ul>
	</section>
</body>
</html>