<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="shortcut icon" type="image/ico" href="/yuer.ico">
	<title>{{info.title}}</title>
	<link rel="stylesheet" href="/mobile/css/swiper.min.css">
	<link rel="stylesheet" href="/mobile/css/share.css">
</head>
<body>
	<div class="g-info">
		<div class="content">
			<div class="top f-cb">
				<img src="{{info.icon}}" alt="" class="avatar f-fl">
				<div class="title f-fl">
					<h3>
						{{info.nickname}}
						{% if info.sex==0 %}
						<img src="/mobile/images/male.png" alt="">
						{% else %}
						<img src="/mobile/images/female.png" alt="">
						{% endif %}
						{% if info.is_certificate==1 %}
						<img src="/mobile/images/ico8.png" alt="">
						{% endif %}
					</h3>
					<p>{{info.create_date}}</p>
				</div>
				<a href="https://yuertvfile.wangyuhudong.com/" class="f-fr"><img src="/images/heart.png" alt="">关注</a>
			</div>
			<div class="middle">
				<h3>{{info.title}}</h3>
				<p>{{info.content}}</p>
				<div class="lightbox">
					{% if imgs.length>4 %}
					{% for img in imgs %}
						<img src="{{img}}" alt="" class="full" onclick="showSwiper({{loop.index0}})">
					{% endfor %}
					{% elseif imgs.length==1 %}
					{% for img in imgs %}
						<img src="{{img}}" alt="" class="less" onclick="showSwiper({{loop.index0}})">
					{% endfor %}
					{% else %}
					{% for img in imgs %}
						<img src="{{img}}" alt="" class="mid" onclick="showSwiper({{loop.index0}})">
					{% endfor %}
					{% endif %}
				</div>
				<span class="game-name">{{info.game_name}}</span>
			</div>
			<!-- <video class="mejs-wmp" width="100%" height="203" src="{{info.video_rtmp}}" poster="http://img.wangyuhudong.com/{{info.video_img}}" type="video/mp4" id="player1" poster="" controls="controls" preload="none" webkit-playsinline playsinline></video> -->
		</div>
	</div>
	<div class="g-comment">
		<h3 class="u-title"><img src="/mobile/images/comment_icon.png" alt="">评论</h3>
		{% if comments.length>0 %}
			{% for list in comments %}
				<a href="https://yuertvfile.wangyuhudong.com/" class="comment f-cb">
					<img src="{{list.icon}}" alt="" class="f-fl">
					<div class="comment-content">
						<h3>{{list.nickname}} <span class="f-fr">{{list.create_date}}</span></h3>
						<div>{% if list.reply_nickname %}回复<span class="reply-nickname">{{list.reply_nickname}}</span>:{% endif %}{{list.content}}</div>
					</div>
				</a>
			{% endfor %}
		{% else %}
			<div class="u-empty">
				<img src="/mobile/images/empty_icon.png" alt="" class="u-empty-img">
				<p class="u-empty-data">还没有评论数据</p>
			</div>
		{% endif %}
	</div>
	<a href="https://yuertvfile.wangyuhudong.com/" class="g-bt">
		<ul class="f-cb">
			<li><img src="/mobile/images/comment.png" alt="">{{info.comment_num}}<i></i></li>
			<li><img src="/mobile/images/like.png" alt="">{{info.praise_num}}</li>
		</ul>
	</a>
	<div class="swiper-box">
		<div class="swiper-container">
            <div class="swiper-wrapper">
            	{% for img in imgs %}
                <div class="swiper-slide">
                    <img src="{{img}}" alt="">	
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>  
	</div>
	<script src="/jquery.js"></script>
	<script src="/mobile/js/swiper.min.js"></script>
	<script src="/jquery.sha1.js"></script>
	<script src="/wxjsapi.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
		var _hmt = _hmt || [];
	    (function() {
	        var hm = document.createElement("script");
	        hm.src = "https://hm.baidu.com/hm.js?5f199d5d81411ab659081729f1f34008";
	        var s = document.getElementsByTagName("script")[0]; 
	        s.parentNode.insertBefore(hm, s);
	    })();
		enableWxShare({
			appId: 'wxf96f728533f32fa8',
			ticket: '{{ticket}}',
			title: '{{info.title}}',		
			imgUrl: 'http://img.wangyuhudong.com/uploads/imgs/live/2017/yuerlogo.png',
			desc: '玩手游，做主播，打比赛，拿福利。尽在#娱儿直播#领跑移动电竞的直播平台'
		})
	</script>
	<script>
		var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            pagination: '.swiper-pagination',
            observer:true,
            observeParents:true,
            // initialSlide :index,
        });
		function showSwiper(index){
			var i = index+1;
			$('.swiper-box').show(); 
	        mySwiper.slideTo(i,false);
		}
		$('.swiper-container').click(function(e){
			if(e.target.nodeName!='IMG'){
				$('.swiper-box').hide();
			}			
		})
	</script>
</body>
</html>