<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="baidu-site-verification" content="nD6yyolNXN" />
    <link rel="shortcut icon" type="image/ico" href="/yuer.ico">
    <link rel="stylesheet" href="/mobile/css/news.css">
	<title>{{info.title}}</title>
	<script>
	</script>
</head>
<body>
<div class="g-container">
	<div class="g-top m-bg">
		{{info.title}} 
	</div>
	<div class='g-nav m-bg'>
		<span class="g-n-date">{{m}}月{{d}}日</span><span class="g-n-time">{{time}}</span><span class="g-n-title">{{info.game_name}}</span>
		<div class="g-n-line"></div>
	</div>
	<div class="g-mian m-bg">
		{{content}}
	</div>
	<div class="g-comment">
	{% if info.comment %}
		<h3 class="u-title"><img src="/mobile/images/comment_icon.png" alt="">评论</h3>
		{% for list in comments %}
			<a href="https://yuertvfile.wangyuhudong.com/" class="comment f-cb">
				<img src="{{list.icon}}" alt="" class="f-fl">
				<div class="comment-content">
					<h3>{{list.nickname}} <span class="f-fr">{{list.create_date}}</span></h3>
					<div>{% if list.reply_nickname %}回复<span class="reply-nickname">{{list.reply_nickname}}</span>:{% endif %}{{list.content}}</div>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<div class="u-empty">
			<img src="/mobile/images/empty_icon.png" alt="" class="u-empty-img">
			<p class="u-empty-data">还没有评论数据</p>
		</div>
	{% endif %}
	</div>
	<a href="https://yuertvfile.wangyuhudong.com/" class="g-bt">
		<ul class="f-cb">
			<li><img src="/mobile/images/comment.png" alt="">{{info.comment_num}}<i></i></li>
			<li><img src="/mobile/images/like.png" alt="">{{info.praise_num}}</li>
		</ul>
	</a>
</div>
<script type="text/javascript" src="/jquery.min.js"></script>
<script src="/jquery.sha1.js"></script>
<script src="/wxjsapi.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
	var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?5f199d5d81411ab659081729f1f34008";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
	enableWxShare({
		appId: 'wxf96f728533f32fa8',
		ticket: '{{ticket}}',
		title: '{{info.title}}',		
		imgUrl: 'http://img.wangyuhudong.com/uploads/imgs/live/2017/yuerlogo.png',
		desc: '玩着手游，躺着赚钱！娱儿直播主播招募令，百万薪金等你瓜分！'
	})
</script>
</body>
</html>