.breadnav{
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	color:#333;
	line-height: 2;
}
.breadnav a{
	margin-left: 15px;
}
.breadnav a,.breadnav span{
	font-size: 14px;
	color:#666;
	font-weight: normal;
}
.article{
	width: 900px;
	padding-top: 30px;
}
.activity-title{
	font-size: 30px;
	color:#033;
	text-align: center;
	margin-bottom: 10px;
}
.activity-author{
	font-size: 14px;
	color:#999;
	text-align: center;
}
.recommend-live{
	width: 230px;
}
.recommend-live .title{
    padding-top: 20px;
    font-size: 24px;
    color: #033;
    line-height: 2.5;
}
.recommend-live .title img{
    width: 32px;
    height: 32px;
    vertical-align: -6%;
    margin:0 10px;
}
.recommend-live .m-lst{
	margin-right: 0;
}