body{
	font-family:'Microsoft YaHei','微软雅黑', Helvetica,Arial,sans-serif,STHeiTi;
	background:#141a20;
}
input{
	float: none;
	text-align:left;
}
.m-float{
	display: none;
}
.g-container{
	background: #141a20;
	padding-bottom: 100px;
}
.g-container input{
	text-indent: 12px;
}
.g-main{
	width:1200px;
	padding-top: 100px;
	margin:0 auto;
	background:#141a20;
	position:relative;
	z-index: 99;
} 
/*左侧样式	*/
.g-left{ 
	position:absolute;
	width:260px;
	background:#1a2129; 
}   
.g-left ul li{
	color:#fff;
	height:60px;
	font-size:16px;
	color:#cecfd2;
}
.g-left ul li a i{
	display:inline-block;
	margin-left:55px;
	padding-right:30px;
	background:transparent;
	font-size:20px;
	vertical-align:middle;
}
.g-left ul li a{
	display:inline-block;
	padding-left:20px;
	color:#cecfd2;
	font-size:16px;
}
.g-left ul li:second-child a{
	color:#f36;
}
.g-left ul li:active{
	color:#f36;
}
.g-left .current{
	color:#f36;
}
.g-left h1.u-center{
 	font-size:30px;
 	color:#cecfd2;
 	height:100px;
 	margin-top:40px;
 	width:260px;
 	text-align:center;
 	font-weight:normal;

 } 
.g-left ul li.u-cbottom{
	margin-bottom:230px;
}
/*右侧样式*/
.g-right{ 
	margin-left:280px; 
	background:#1a2129; 
}
/*右侧上面的样式*/
.g-right .m-top{
	height:125px;
	padding-top:40px;
	padding-left:20px;
}

.m-tright .u-tovalue{
	display:inline-block;
	width:45px;
	height:20px;
	line-height:20px;
	text-align:center;
	margin-left:25px;
	background:#3ff;
	border-radius: 5px;
}
.m-tleft{
		position: relative;
}
.m-tleft img{
	display: inline-block;
	width:122px;
	height:122px;
	border-radius:50%;
}
.m-top .m-tleft img#seximg{
	display:inline-block;
	width:25px;
	height:25px;
	border-radius: 50%;
	position:relative;
	left:-35px;
	top:110;

}
/*右侧下面的样式－－－从修改密码起*/
.g-right .m-bottom{
	width:450px;
	margin-top:65px;
	margin-bottom:100px;
}
.g-right  .m-top .m-tleft{
	position:absolute;
	padding-left:35px;
	 width:200px;
}
.g-right .m-top .m-tright{
	margin-left:200px;
	padding-left:40px;
}
.m-tright .u-nicknameonly{
	color:#fff;
}
.g-right .m-top .m-tright .u-p1{
	font-size:24px;
}
.g-right .m-top .m-tright .u-p1 .u-p1-s{
	padding-left:15px;
	color:#cecfd2;
	font-size:14px;
	cursor:pointer;
}
.u-p1 .icon-vip{
	color:#f36;
	margin:0px 10px;
}
.g-right .m-top .m-tright .u-p2{
	margin-top:40px;
	color:#cecfd2;
}
.g-right .m-top .m-tright .u-p2 .u-change{
	padding-left:10px;
}
.g-right .m-top .m-tright .u-p3{
	margin-top:15px;
	color:#cecfd2;
}
.g-right .m-top .m-tright .u-p3 .u-change1{
	color:#ff0;
	padding-left:10px;
}
.g-right .m-top .m-tright .u-p3 input{
	background:#3ff;
	margin-left:25px;
	width:40px;
	height:20px;
	padding:auto;
	border:0px;
}
/*右边下侧样式*/
.thePhone,.thePhones,.switch-conCard,.iconModify,.payAdd{
	display:none;
}
.g-right .rightswitch{
	padding-top:50px;
	width:800px;
	margin:0px 70px 60px 55px;
}
.g-left ul li.rightswitchcolor a{
	color:#f36;
}
.g-right .m-bottom{
	width:800px;

}
.g-right .m-bottom .u-i1{
	width:100px;
	height:40px;
	font-size:16px;
	background:#f36;
	border:0px;
}
.g-right .m-bottom .u-i2{
	color:#cecfd2;
	font-size:16px;
	margin-left:30px;
	background:transparent;
}
.m-bottom .m-switch input#u-current,input#u-new,input#u-confirm{
	width:300px;
	height:40px;
	margin-bottom:10px;
	background:transparent;
	margin-left:15px;
	border:1px solid #353d48;
	color:#fff;
}
.g-right .m-bottom label{
	color:#666e72;
	font-size:14px;
	width:90px;
	padding-right: 10px;
	display: inline-block;
	text-align:right;
	margin-right:0px;
}
.g-right .m-bottom .u-i6{
	width:300px;
	height:48px;
	background:#f36;
	border:0px;
	font-size:18px;
	color:#fff;
	text-align:center;
	border-radius:5px;
	margin:50px 0px 165px 110px;
	cursor:pointer;
	/*margin:50px 0px 175px 110px;*/
}
a.m-changepass,a.m-change,a.m-realname,a.m-changeicon,a.m-bindpay{
	display:inline-block;
	width:100px;
	height:40px;
	margin-right:10px;
	margin-bottom:45px;
	line-height: 40px;
	text-align: center;
	color:#cecfd2;
	font-size:16px;
	border-radius:5px;
	background:#2d3741;
}
.m-bottom a.switch{
	background:#f36;
	color:#fff;

}
.m-switch .u-pcurrent,.u-pnew,.u-pcancel{
	position:relative;
}
.u-verifypassword,.PleaseEnterThePassword{
	display:none;
	position: absolute;
	left:303px;
	top:1px;
	width:120px;
	height:40px;
	line-height: 40px;
	background:#f93;
	color:#fff;
	text-align:center;
	display: none;
}
.u-failpassword{
	position: absolute;
	left:333px;
	top:1px;
	width:90px;
	height:40px;
	line-height: 40px;
	background:#f93;
	color:#fff;
	text-align:center;
	display: none;
}
.u-rightpassword{
	position: absolute;
	left:333px;
	top:1px;
	width:90px;
	height:40px;
	line-height: 40px;
	background:#396;
	color:#fff;
	text-align:center;
	display: none;
}
.u-vpassword{
	position: absolute;
	left:270px;
	top:1px;
	width:150px;
	height:40px;
	line-height: 40px;
	background:#f93;
	color:#fff;
	text-align:center;
	display: none;
}
.u-passwordshow{
	display:block;
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #b6c0cd; 
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: #b6c0cd; 
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: #b6c0cd; 
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: #b6c0cd; 
} 

/*手机认证*/
.m-switshowhide{
	display:none;
}
.m-switcht .u-div{
	position:relative;
	margin-bottom:20px;
	margin-left:15px;
}
.m-switcht .u-number,.u-verify{
	display:inline-block;
	position:absolute;
	left:316px;
	top:1px;
	width:105px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.m-switcht .u-copySecond{
	display:inline-block;
	position:absolute;
	left:290px;
	top:1px;
	width:130px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.u-numbertel{
	display:none;
	position:absolute;
	left:280px;
	top:1px;
	width:140px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.u-numberphone,.u-verifyInput{
	position:absolute;
	left:305px;
	top:1px;
	width:120px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.m-switcht{
	width:800px;
	height:430px;
}
.m-switcht .u-verify{
	top:-1px;
	background:#f36;
	border:1px solid #f36;
}
.m-switcht input{
	width:300px;
	height:40px;
	margin-bottom:10px;
	background:transparent;
	margin-left:15px;
	border:1px solid #353d48;
	color:#fff;
}
.m-switcht input#userbox{
	width:305px;
	height:50px;
	background:#f36;
	color:#fff;
	margin:125px 0px 95px 120px;
	border-radius:5px;
	border:0px;
	text-align: center;
	font-size:18px;
}
.m-switcht input.change-color{
	border:1px solid #f36;
}
.thephoneauth{
	display:block;
}
.thephoneauth,.toCertification{
	margin-left:50px;
	width:500px;
	height:40px;
	color:#fff;
}
.thephoneauth span{
	font-size:18px;
}
.toCertification span{
	font-size:18px;
}
.thephoneauth a{
	display:inline-block;
	width:150px;
	height:40px;
	line-height:40px;
	text-align:center;
	cursor:pointer;
	color:#f36;
	font-size:18px;
	margin-top:50px;
}
.thephoneauth #modifyTel{
	display:inline-block;
	width:150px;
	height:40px;
	line-height:40px;
	text-align:center;
	cursor:pointer;
	color:#f36;
	font-size:18px;
	margin-top:50px;
	background:transparent;
	border:none;
}
.toCertification a{
	display:inline-block;
	width:235px;
	height:40px;
	line-height:40px;
	text-align:right;
	cursor:pointer;
	color:#f36;
	font-size:18px;
	margin-top:50px;
}
.m-mask{
	position:absolute;
	left:-100px;
	top:350px;
	margin:auto;
	width:100%;
	height:100%;
	display:none;
	z-index:9999999;
	padding-left: 100px;
}
.code-wrap,.reg-success{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	border-radius: 20px;
	background: #323a43;
	color:#fff;
}
.code-wrap{
	width: 240px;
	height: 200px;
	padding:30px;
	position:relative;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}

.code-wrap span.error-tip{
	display:none;
	width:100px;
	height:40px;
	text-align:center;
	line-height:40px; 
	position:absolute;
	left:173px;
	top:72px;
	background:#f36;

}
.pic-code img{
	width:120px;
	height:50px;
}
.pic-code .changePic{
	margin-left:15px; 
	width:110px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#f36;
	text-decoration: underline;

}
.code-wrap a.u-wrap-btn{
	display:inline-block;
	width:105px;
	height:35px;
	line-height:35px;
	text-align:center;
	border-radius:5px;
}
.code-wrap a.confirm{
	background: #f36;
}
.code-wrap a.cancel{
	margin-left:30px;
	background: #575d65;
}
.reg-success{
	text-align: center;
	width: 380px;
	height: 200px;
	padding:30px 60px;
	background: url(/images/banana.png) #323a43 center center no-repeat;
	display: none;
}
.reg-success span{
	color: #ffff33;
}
.reg-success .u-success-btn{
	width: 150px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #f36;
	position: absolute;
	bottom: 30px;
	right:60px;
	border-radius: 15px;
}
.reg-success .jump-index{
	background: #575d65;
	left: 60px;
}
.code-wrap input{
	height: 40px;
	background: none;
	border:1px solid #999;
	width: 100%;
	margin:20px 0;
	text-indent: 12px;
	color: #fff;
}

/*实名认证设置*/
.m-switchi{
	width:780px;
	font-size:14px;
	color:#666e72;
}
.m-bottom .m-switchi label{
	width:135px;
	text-align:right;
}
.u-divmodify{
	position:relative;
}
.u-userbox{
	width:300px;
	height:40px;
	color:#cecfd2;
	padding-left:15px;
	background:transparent;
	margin-left:5px;
	border:1px solid #353d48;
}
.namemodify,.qqmodify,.idcardmodify{
	/*display:none;*/
	position:absolute;
	display:inline-block;
	left:359px;
	text-align:center;
	top:1px;
	width:110px;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#fff;
	background:#f93;
}
.namefieldempty,.qqfieldempty,.cardfieldempty,.timefieldempty{
	position:absolute;
	display:inline-block;
	left:359px;
	text-align:center;
	top:1px;
	width:110px;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#fff;
	background:#f93;
}
input.full{
	border:1px solid #f36;
}
.m-switchi div.u-idcard .u-dleft,.m-switchi div.u-idcard .u-dright{
	display:inline-block;
}
.m-switchi div.u-card{
	width:160px;
	height:190px;
	display:inline-block;
	float:left;
	margin-left:15px;

}
.m-switchi .u-div{
	margin-bottom:25px;
}
.m-switchi .u-div .u-finaltime{
	width:320px;
	height: 40px;
	margin-right:10px;
	color: #cecfd2;
	text-indent: 28px;
    border: 1px solid #353d48;
    border-radius: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.m-switchi .u-idcard{
	margin-bottom:25px;
	margin-left:-30px;
}
.u-div input{
	outline:0px;
}
.u-div input.u-finaltime{
	position:relative;
	background-color:transparent;
	background: url('/images/dateright.png') 98% center no-repeat;
	background-size: 25px 25px;
    color:#fff;  
    FILTER: alpha(opacity=0); /*androd*/  
    appearance:none;  /*下拉框去掉右侧图标*/  
    -moz-appearance:none;  
    -webkit-appearance:none;
}
.m-switchi .u-dleft{
	width:165px;
	height:80px;
	color:#cecfd2;
	font-size:14px;
	float:left;
	text-align:right;
}

.m-switchi .img{
	display:inline-block;
	width:160px;
	height:80px;
	border:2px solid #353d48;
	box-sizing: border-box;
}
.u-card .hand{
	background: url('/images/idcard1.jpg') no-repeat;
	background-size: 100% 100%;
}
.u-card .front{
	background: url('/images/idcard2.jpg') no-repeat;
	background-size: 100% 100%;
}
.u-card .back{
	background: url('/images/idcard3.jpg') no-repeat;
	background-size: 100% 100%;
}
.img img{
  width:100%;
  height:100%;
  border:1px solid #353d48;
}
.img img[src='']{
  opacity:0;
}
.m-bottom .u-card{
	float: left;
	margin-left:15px;
}
.m-bottom .u-card span{
	display:inline-block;
	width:160px;
	height:25px;
	text-align:center;
	font-size:14px;
	color:#666e72;
	margin-top:20px;
}
/*上传图片的样式*/
.upload-container{
	background-color:#f00;
	width:95px;
	height:35px;
	position:relative;
}
.fileupload{
	width:95px;
	height:35px;
	line-height:35px;
	position:absolute;
	z-index:200;
	margin-right:35px;
	top:0;
	left:0;
	opacity:0;
	filter:alpha(opacity=0);
}
.u-dright span,.u-dright .upload-container{
	display:inline-block;
	width:95px;
	height:35px;
	text-align:center;
	border:0px;
	color:#fff;
	margin-top:20px;
	vertical-align:middle;
}
.u-dright .upload-container{
	background:#36383f;
	margin-left:35px;
	color:#cecfd2;
	width:95px;
	height:35px;
	line-height:35px;
}
.m-switchi .u-deal{
	width:525px;
	height:320px;
	margin:25px 0px 0px 160px;
}
.u-deal p{
	font-size:14px;
	color:#f36;
}
.m-switchi .u-agree{
	width:290px;
	margin-left:210px;
	font-size:14px;
	color:#666e72;
	margin-bottom:30px;
}
.m-switchi .u-agree span.u-spec{
	color:#0ff;
	cursor:pointer;
}
.m-switchi .u-submit{
	display:inline-block;
	border:0;
	width:325px;
	height:40px;
	background:#f36;
	border:0px;
	font-size:18px;
	text-align:center;
	color:#fff;
	margin-top:20px;
	margin-bottom:60px;
	margin-left:170px;
	border-radius:5px;
}
.switchshowcard button.infogrey{
	background:#ccc;
}
.tip{
	background: rgba(69,83,101,0.8);
	width: 75%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color:#fff;
	border-radius: 5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin:auto;
	display: none;
	z-index: 999;
}
.switchshowcard{
	width:800px;
	height:1000px;
}
/*修改实名认证*/
.idcardtwomodify{
	width:800px;
	height:430px;
}
.idcardtwomodify p{
	font-size:18px;
	font-size:#fff;
}
.idcardtwomodifys{
	margin-top:50px;
	border:0;
	text-align:center;
	font-size:18px;
	color:#f36;
	background:transparent;
}
/*审核状态*/
.cardreviewing,.cardreviewingpass,.cardreviewingfailure{
	display:none;
	width:800px;
	height:430px;
}
.cardreviewing p,.cardreviewingpass p,.cardreviewingfailure p{
	font-size:18px;
	color:#fff;
}
.wingfailure{
	margin-top:50px;
	border:0;
	font-size:18px;
	color:#f36;
	background:transparent;
}
/*修改头像*/
.iconModify{
	height:430px;
}
.u-addIcon{
	position:relative;
	width:122px;
	height:122px;
	border-radius: 5px;
	margin-bottom:310px;
}
.u-addIcon img{
	position:relative;
	display:inline-block;
	width:100%;height:100%;
	line-height:122px; 
	border-radius: 5px;
	border:none;
}
.u-addIcon #modPic{
	position:absolute;
	width:100%;height:100%;
	text-align:center;vertical-align: middle;line-height: 122px;
	left:0;
	top:0;
	font-size:16px;
	color:#f36;
	cursor:pointer;
	display:none
}
.u-addIcon input[type="file"]{
	width:100%;height:100%;
	position:absolute;
	display:block;
	top:0;
	opacity: 0;
	cursor:pointer;
}
.u-addIcon:hover #modPic{
	display:block;
	width:100%;height:100%;
	/*height:35px;*/
	text-align:center;vertical-align: middle;line-height: 122px;
	left:0;
	top:0;
	cursor:pointer;
}
/*支付宝绑定*/
.u-paybind{
	width:800px;
	height:430px;
}
.u-paybind .u-div{
	height:40px;
	margin-bottom:20px;
}
.u-div input#realName,.u-div input#payaccount{
	display:inline-block;
	width:300px;
	height:40px;
	background:transparent;
	border:1px solid #353d48;
}
.u-div .warningtips{
	margin:5px 0px 0px 110px;
	font-size:10px;
	color:#ffe278;
}
#userboxPay{
	display:inline-block;
	width:300px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#f36;
	border:none;
	border-radius:5px;
	margin-top:50px;
	margin-left:102px;
	font-size:18px;
	color:#fff;
}
.u-paybind .paynametip, .u-paybind .paycounttip{
	display:none;
	position:absolute;
	left:660px;
	/*top:1px;*/
	width:100px;
	border-radius:5%;
	height:41px;
	line-height:41px;
	text-align:center;
	color:#fff;
	font-size:14px;
	background:#f93;
}
/*支付宝已被绑定*/
.paycontainer{
	width:800px;
	height:430px;
}
.payzfb{
	font-size:18px;
	color:#666e72;
}
.payzfb .payzfbtip{
	color:#f36;
}
.payzfbmodify{
	margin-top:40px;
	border:0;
	border-radius:5px;
	width:130px;
	height:50px;
	line-height: 50px;
	text-align: center;
	background:#f36;
	color:#fff;
	font-size:18px;
}
/* 操作型弹出浮层-默认居中 */
.m-layer{
	display:none;
	position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	background:rgba(0,0,0,0.6);
	z-index:999999;
}

.m-layer .lywrap{
	position:absolute;
	background:#323a43;
	width:360px;
	height:205px;
	border-radius:5px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.m-layer .lytt{
	position:relative;
	padding:10px;
	height:20px;
	line-height:20px;
}
.m-layer .lytt .u-tt{
	float:left;
	font-size:14px;
	color:#fff;
	margin-left:20px;
	margin-top:10px;
}
.m-layer .lyct{
	position:relative;
	text-align:center;
}
.m-layer .lyct p{
	position:relative;
	text-align:center;
}
.m-layer .lyct input{
	width:300px;
	height:40px;
	margin-top:20px;
	border:1px solid #5b6169;
	background:transparent;
	color:#fff;
}
.m-layer .lyct span.tips{
	display:none;
	position:absolute;
	left:177px;
	top:21px;
	width:130px;
	height:40px;
	line-height: 40px;
	font-size:14px;
	color:#fff;
	margin-bottom:10px;
	background:#f93;
	text-align:center;
}
.m-layer p.u-check{
	width:300px;
	margin-left:25px;
	color:#f36;
	margin-top:5px;
	margin-bottom:20px;
}
.m-layer .lybt .u-btn{
	display:inline-block;
	width:100px;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#fff;
	background:#f36;
	border-radius:20px;
	text-align:center;
	margin:0 36px;
	border:none;
}
.m-layer .lybt .u-btnCancel{
	background:#575d65;
}

/* 显示 */
.z-show{display:block;}
.m-psuccess{
	display:none;
	position:fixed;
	width:365px;
	height:200px;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	margin:auto;
	background:#323a43;
	border-radius:5px;
}
.m-psuccess .u-success{
	width:220px;
	height:45px;
	margin:50px 75px 35px 70px;
}
.m-psuccess img{
	display:inline-block;
	width:40px;
	height:40px;
	border:none;
}
.m-psuccess span{
	display:inline-block;
	color:#fff;
	font-size:24px;
	color:#f36;
	margin-left:25px;

}

.m-psuccess .u-cancel a{
	display:inline-block;
	width:100px;
	height:35px;
	line-height:35px;
	text-align: center;
	border-radius:5px;
	color:#fff;
	background:#f36;
	margin:0px 125px;

}
/*提交成功的弹框*/
.submitmask{
	display:none;
	position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	background:rgba(0,0,0,0.6);
	z-index:999999;
}
.m-submitsuccess{
	position:fixed;
	width:365px;
	height:200px;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	margin:auto;
	background:#323a43;
	border-radius:5px;
}
.m-submitsuccess .u-submitsuccess{
	width:220px;
	height:45px;
	margin:50px 75px 35px 70px;
}
.m-submitsuccess img{
	display:inline-block;
	width:40px;
	height:40px;
	border:none;
}
.m-submitsuccess span{
	display:inline-block;
	color:#fff;
	font-size:24px;
	color:#f36;
	margin-left:25px;

}

.m-submitsuccess .u-submitcancel a{
	display:inline-block;
	width:100px;
	height:35px;
	line-height:35px;
	text-align: center;
	border-radius:5px;
	color:#fff;
	background:#f36;
	margin:0px 125px;

}

/*我的关注*/
.g-focus{
	box-sizing: border-box;
	width:795px;
	height:800px;
	padding-bottom:60px;
	position:relative;
}
.g-focus .u-top{
	width:100px;
	height:45px;
	line-height:45px;
	border-radius:5px;
	background:#f36;
	color:#fff;
	text-align:center;
	margin-bottom:35px;

}
.g-focus .u-host{
	position:relative;
	width:780px;
	height:95px;
	background:#2d3741;
	margin-bottom:15px;
}
.focushost{
	min-height:560px;
}
.u-hleft{
	width:590px;
	height:95px;
	float:left;
}
.u-hleft .u-focusimg{
	float:left;
	width:125px;
	height:95px;
}
.u-hleft .u-focusimg img{
	display:inline-block;
	width:68px;
	height:68px;
	border-radius:50%;
	padding:20px 25px 20px 30px;
}
.u-hleft .u-nickhost{
	float:left;
	width:300px;
	height:95px;
	color:#fff;
	font-size:18px;
}
.u-nickhost .u-nicksex{
	height:20px;
	padding-top:20px;
}
.u-nickhost .u-hostfans{
	height:35px;
	font-size:14px;
	padding-top:20px;
}
.u-hostfans,.u-host,.u-hleft{
	overflow:hidden;
}
.u-hostfans p{
	float:left; 
}
.u-hostfans p.u-hhf{
	margin-left:10px;
}
.u-hleft .u-hf{
	color:#6c737a;
}
.u-hleft .u-num{
	color:#3ff;
}
.u-hright{
	float:left;
	width:160px;
	height:95px;
	line-height: 95px;

}
.u-hright a{
	display:inline-block;
	width:100px;
	height:30px;
	line-height: 30px;
	text-align: center;
	font-size:16px;
	color:#fff;
	background:#f36;
	border-radius:50px;
	margin-left:30px;
}
.u-hright #haveBeenOffline{
	display:inline-block;
	width:100px;
	height:30px;
	line-height: 30px;
	text-align: center;
	font-size:16px;
	color:#fff;
	background:#5e5f61;
	border-radius:50px;
	margin-left:30px;
}
/*.u-hright img.u-blur{
	visibility: hidden;

}*/
/*.stopdark span.dark{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:95px;
	background: rgba(108,115,122,0.5);
	color: #fff;
	text-align: center;
	line-height: 95px;
	display:none;
}
.u-host:hover span.dark{
	display:block;
	text-align: center;

}
.u-host:hover .stopdark{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}*/


/*我的道具*/
.g-props{
	width:800px;
	height:680px;
	margin:65px 65px 75px 70px;
}
/*.g-props .u-top h3{
	width:100px;
	height:40px;
	line-height:40px;
	text-align: center;
	background:#f36;
	color:#fff;
	border-radius:5px;
	margin-bottom: 30px;
}*/
.u-imgmessage .imgprops{
	width:800px;
	height:350px;
	margin-bottom:25px;
}
.imgprops {
	overflow: hidden;
}
.imgprops .u-props{
	width:180px;
	height:150px;
	background:#2d3741;
	float:left;
	margin-right:20px;
	border-radius:5%;
}
.u-props span{
	display:inline-block;
	font-size:14px;
	color:#9da4ad;
}
.u-props span.u-propscolor{
	font-size:16px;
	color:#3ff;
}
.u-props img{
	display: inline-block;
	width:83px;
	height:65px;
	border:none;
	border:0px;
	margin:15px 50px 20px 50px;
}
.u-props p{
	text-align:center;
	/*margin:0px 50px 20px 50px;*/
}
.u-bottom{
	margin-top:70px;
	margin-bottom: 70px;
}
.u-bottom p{
	height:25px;
}
.u-bottom .u-bvalue,.u-bunit{
	color:#fff;
}
.u-bottom .u-bvalue{
	font-size:14px;
}
.u-bottom .u-bmoney{
	font-size:18px;
	color:#ff0;
	margin-left:10px;
}
.u-bottom .u-bunit{
	font-size:18px;
	margin-left:10px;
}
/*弹框*/
.m-layerMask{
	display:none;
	position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	background:rgba(0,0,0,0.6);
	z-index:10000;
}
.u-propsgtips{
	width:415px;
	height:205px;
	background:#323a43;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	z-index:1000;
}
.u-propsgtips p{
	width:350px;
	height:25px;
	font-size:18px;
	color:#fff;
	margin:65px 40px 55px 45px;
}
.u-propsgtips a{
	display:inline-block;
	width:100px;
	height:40px;
	line-height: 40px;
	background:#f36;
	text-align:center;
	font-size:16px;
	color:#fff;
	border-radius:50px;
	margin:0px 150px 30px 160px;
}

/*我的关注，我的消息(系统消息和关注消息)*/
.M-box{
	position: relative;
	width:160px;
	height:25px;
	line-height:25px;
	margin:100px 0px 60px 560px;
	padding:5px;
	font-size:14px;
}
.M-box span.totalPage{
	margin:0 5px;
	display:inline-block;
	width:40px;
	text-align:center;
	background:#f36;
	color:#fff;
}
.M-box a{
	display:inline-block;
	width:50px;
	text-align:center;
	background:#f36;
	color:#fff;
}
.empty{
	display:inline-block;
	width:150px;
	height:150px;
	margin:50px auto auto 280px;
}
.emptyText{
	width:180px;
	height:150px;
	margin:10px auto auto 280px;
	color:#999;
}
/*我的消息*/
.m-mainm{
	width:800px;
	height:800px;
}
.m-message{
	width:800px;
	margin:85px 65px 60px 70px;
	padding-bottom:60px;
}
.u-m-top a{
	display:inline-block;
	width:100px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:16px;
	margin-right:35px;
	margin-bottom:40px;
}
 .focuscurrent{
	background:#f36;
	border-radius: 5px;
	
}
.u-systemmessage{
	width:780px;
	margin-bottom:60px;
}
.u-systemmessage .u-message{
	width:780px;
	height:100px;
	border-bottom:1px dotted #2d3a46;
	margin:0px 0px 20px 0px;
}
.u-message .u-msystem{
	float:left;
	width:75px;
	height:100px;
}
.u-message .u-yuer{
	float:left;
	width:700px;
	height:100px;
}
.u-yuer h3{
	display:inline-block;
	width:530px;
	font-size:18px;
	color:#fff;
}
span.u-messagetime{
	display:inline-block;
	font-size:12px;
	color:#626f7e;
}
.u-yuer p .u-messagecontent{
	font-size:14px;
	color:#626f7e;
}
.u-yuer p .u-messtips{
	font-size:14px;
	color:#f36;
	cursor:pointer;
}

/*关注消息*/
.u-focusmessage{
	position:relative;
	width:780px;
	height:400px;
}
.u-focusmessage .u-focusmess{
	width:780px;
	height:60px;
	border-bottom:1px dotted #2d3a46;
}
.u-focusmess p{
	display: inline-block;
	width:650px;
}
.u-focusmess .u-foucscolor{
	font-size:16px;
	color:#f36;
}
.u-focusmess p span.u-focusc{
	font-size:14px;
	color:#fff;
}
.u-focusmess .u-focustime{
	font-size:12px;
	color:#626f7e;
}
/*.u-foucscolor:hover */
.u-messnickname{
	display:none;
	position:absolute;
	left:0;
	width:180px;
	height:215px;
	text-align:center;
	background:#333a44;
	z-index:1000;
}
.u-messnickname img{
	margin:15px 45px 10px 30px;
	border-radius: 50px;
}
.u-messnickname img.messimgsex{
	display:inline-block;
	width:25px;
	height:25px;
	border-radius: 50%;
	position:relative;
	left:50px;
	top:-50px;
}
.u-messnickname p{
	text-align:center;
}
.u-messnickname .u-mkname{
	font-size:18px;
	color:#fff;
	margin-bottom:5px;
}
.u-messnickname span{
	font-size:14px;
	color:#cecfd2;
}

/*我要充值*/
.g-top-up{
	width:785px;
	height:680px;
	margin-left:65px;
	margin-top:80px;
}
.u-balance{
	margin-bottom:20px;
}
.u-balance p{
	font-size:16px;
	color:#fff;
}
.u-balance span{
	color:#f36;
}
.app p{
	font-size:14px;
	color:#fff;
	margin:10px 0px;
}
.app img{
	display:inline-block;
	width:220px;
	height:220px;
	margin-left:30px;
}
.u-value{
	width:780px;
	height:190px;
	margin-left:-15px;
	overflow:hidden;
}
.u-value div{
	box-sizing: border-box;
	width:135px;
	height:75px;
	border:1px solid #1a2a3e;
	float:left;
	margin-left:15px;
	margin-bottom:15px;
}
.u-value span.u-vfish{
	display:inline-block;
	width:100px;
	height:20px;
	line-height: 20px;
	text-align:center;
	font-size:18px;
	color:#fff;
	margin:10px 10px 15px 15px;
}
.u-value span.u-vmoney{
	display:inline-block;
	width:60px;
	height:20px;
	line-height: 20px;
	font-size:14px;
	color:#465667;
	margin:0px 0px 15px 40px;
}
.u-determine a.u-topvalue{
	display:inline-block;
	width:300px;
	height:50px;
	line-height: 50px;
	text-align:center;
	font-size:18px;
	color:#fff;
	background:#f36;
	margin:60px 235px 100px 235px;
}
/*选中状态*/
.u-value div.checktopup{
	border:2px solid #f36;
	color:#f36;
}
.u-value div.checktopup span{
	color:#f36;
}
.u-topupwindow{
	display:none;
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:1005px;
	height:520px;
	background:#323a43;
	border-radius:15px;
}
.u-iconwindow{
	height:45px;
}
.u-iconwindow img{
	margin-left:970px;
	margin-top:25px;
	cursor:pointer;
}
.u-wintop{
	width:895px;
	height:160px;
	border-bottom:1px dashed #1a2129;
	margin:0 50px;
}

.u-wintop .u-ws{
	text-align:center;
	font-size:24px;
	color:#fff;
}
.u-ws img{
	margin-right:20px;
	width:35px;
	height:35px;
	line-height:40px;
	display: inline-block;
}
.u-ws span{
	width:370px;
	height:40px;
	line-height:40px;
	display: inline-block;
}
.u-wintop .u-wm ,.u-wn{
	font-size:16px;
	color:#fff;
}
.u-wintop span.u-wntop{
	margin-left:15px;
}
.u-wm{
	width:200px;
	height:25px;
	margin:30px 0px 10px 270px;
}
.u-wintop .u-wm .u-wmtips{
	font-size:18px;
	color:#ff0;
	margin-right:5px;
}
.u-wn{
	width:300px;
	height:25px;
	margin-left:240px;
}
.u-wm,.u-wn span{
	display:inline-block;
}
.u-wn .u-wntop{
	padding-left:30px;
}
.u-wn .hiddenOrder{
	font-size:16px;
	vertical-align: middle;
	/*display:none;*/
}
.u-wbtop{
	width:895px;
	height:170px;
	margin:40px 0px 0px 60px;
}
.u-wbtop .paycontent{
	float:left;
	width:100px;
	font-size:24px;
	color:#fff;

}
.u-wbtop .payimg{
	float:left;
	width:225px;
	height:105px;
	margin-left:25px;
	margin-top:0px;
}
.payimg .u-wpleft{
	line-height: 105px;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin: 20px 10px;
}
.payshow:hover .gray{
	display:block;
}
.pay:hover .gray{
	display:block;
}
.payimg .u-checked{
	display:block;
}
.payimg .u-dischecked{
	display:none;
}

.u-wbbottom a{
	display: inline-block;
	width:300px;
	height:50px;
	line-height: 50px;
	text-align: center;
	color:#fff;
	background:#f36;
	border-radius:5px;
	margin:0 290px;
}
.u-wbbottom p{
	font-size:14px;
	color:#7d8ea0;
	width:300px;
	height:25px;
	margin:20px 302px 55px 300px;
}
.pay p, .payshow p{
	display:none;
}
.gray img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.gray p{
	display:block;
	color:#7d8ea0;
	text-align:center;
}

.pay:hover img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.payshow:hover img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.payshow:hover p{
display:block;
	color:#7d8ea0;
	text-align:center;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.pay:hover p{
display:block;
	color:#7d8ea0;
	text-align:center;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
/*遮罩*/
.asdfasdfa{
	display:none;
	position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	background:rgba(0,0,0,0.6);
	z-index:999999;
}
 /*我要当主播*/
 .m-mainh{
 	width:850px;
 	color:#cecfd2;
 }
.u-top a{
	display:inline-block;
	width:100px;
	height:40px;
	line-height:40px;
	margin-right:30px;
	font-size:16px;
	color:#cecfd2;
	background:#2d3741;
	text-align:center;
	border-radius:5px;
}
.m-mainh .switchcon{
	background:#f36;
	color:#fff;

}
.idcardmodifytwo{
	margin-top:50px;
}
#modifyIdCard{
	border:0;
	background:transparent;
	font-size:18px;
	color:#f36;
	margin-left:20px;
}
/*我要当主播－－主播认证*/
.u-live,.u-withdrawal{
	display:none;
}
.u-certification{
	height:590px;
	margin-left:-50px;
}
.u-certification{
	position:relative;
}
.u-ctleft{
	position:relative;
}
.u-ctleft .u-div{
	margin-bottom:20px;
	/*position:relative;*/
}
.u-ctleft .thePhone{
	position:relative;
}
.u-ctleft label{
	width:80px;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#666e72;
	display:block;
}
.u-ctleft input{
	position:relative;
}
.u-ctleft .u-userboxs{
	position:relative;
	width:300px;
	height:40px;
	line-height:40px;
	color:#fff;
	background:transparent;
	border:1px solid #353d48;
}

.u-ctleft .u-numbers{
	position:absolute;
	display:none;
	display:inline-block;

	width:100px;
	height:40px;
	top:41px;
	left:202px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#fff;
}
.u-ctleft .u-verifys{
	position:absolute;
	display:inline-block;
	width:100px;
	height:40px;
	top:141px;
	left:205px;
	line-height:40px;
	text-align:center;
	font-size:14px;
}
.u-ctleft .u-numberphones{
	display:inline-block;
	position:absolute;
	left:165px;
	top:41px;
	width:140px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.u-ctleft .u-numbertels{
	display:none;
	position:absolute;
	left:161px;
	top:41px;
	width:140px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.u-ctleft .u-copySeconds{
	display:inline-block;
	position:absolute;
	left:180px;
	top:41px;
	width:130px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.u-ctleft .u-verifyInputs{
	position:absolute;
	left:181px;
	top:143px;
	display:inline-block;
	width:120px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.u-ctleft .u-numbers{
	background:#f93;
	cursor:pointer;
	display:none;
}
.u-ctleft .u-verifys{
	border:1px solid #f36;
	background:#f36;
	display:none;
}
.u-ctleft input.change-color{
	border:1px solid #f36;
}
.u-ctleft .u-submits{
	border:none;
	margin-top:50px;
	width:150px;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#f36;
	color:#fff;
	font-size:18px;
	border-radius:5px;
}
.modifyphone{
	margin-top:50px;
}
.modifyshiming{
	margin-top:-40px;
}
#modifyTelVer{
	border:none;
	background:transparent;
	margin-left:30px;
	font-size:18px;
	color:#f36;
}
.changeRed{
	color:#972e2e;
}
/*我要当主播－－如何直播*/
.u-live{
	padding-bottom:50px;
	/*height:1100px;*/
}
.u-liveAI{
	position:relative;
	margin-top:30px;
}
.u-liveAI a{
	font-size:18px;
	color:#cecfd2;
	margin-right:35px;
}
.u-liveAndroid,.u-liveIphone{
	margin:20px 0px;
	padding-left:40px;
}
.u-liveAndroid div,.u-liveIphone div{
	margin:5px 0px;
}
.u-liveAndroid .u-ltop h1,.u-liveIphone .u-ltop h1{
	font-size:24px;
	font-weight:bold;
	color:#fff;
	margin:10px 10px;
}
.u-liveAndroid img,.Iphone2{
	display:inline-block;
	width:50%;
}
.u-liveAndroid .Android3Father{
	width:200px;
	height:320px;
	margin-bottom:40px;
}
.Android3Father .Android3{
	display:inline-block;
	width:100%;
}
.IphoneFather img{
	display:inline-block;
	height:360px;
}
.chengeMargin{
	padding-bottom:30px;
}
/*我要当主播－－提现说明*/
.u-withdrawal div{
	margin-top:100px;
	height:540px;
	font-size:14px;
	color:#cecfd2;
}
/*修改支付宝的弹框*/
.paytips{
	display:none;
	position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	background:rgba(0,0,0,0.6);
	z-index:999999;
}
div.paytipsbind{
	position:absolute;
	background:#f00;
	width:400px;
	height:265px;
	background:#303840;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	z-index:8888;
}
.paytipsbind .u-divpays{
	margin-top:30px;
	margin-left:20px;
}
.u-divpays label.paynames,.u-divpays label.paynums{
	display:inline-block;
	font-size:14px;
	color:#d2d2d2;
	width:80px;
	height:40px;
	line-height:40px;
}
.u-divpays input.payname,.u-divpays input.paynum{
	display:inline-block;
	width:240px;
	height:40px;
	line-height:40px;
	border:1px solid #5b6169;
	font-size:14px;
	color:#d2d2d2;
	margin-left:15px;
}
.paytipsbind .paytipsmo,.paytipsbind .paytipscel{
	border:0;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	border-radius:50px;
	background:#f36;
	color:#fff;
	margin:20px 0px 0px 50px;
}
.paytipsbind p.paywarning{
	margin:5px 0px 0px 100px;
	font-size:10px;
	color:#ffe278;
}
.paytipsbind .paymocel{
	margin-top:50px;
}
.paytipsbind .paytipscel{
	margin-left:70px;
	background:#575d65;
	
}
#paytips .paynametips, #paytips .paycounttips{
	display:none;
	position:absolute;
	left:285px;
	width:90px;
	border-radius:5%;
	height:41px;
	line-height:41px;
	text-align:center;
	color:#fff;
	font-size:14px;
	background:#f93;
}
/*修改手机号码弹框*/
.telValBounced{
	/*display:none;*/
	position:absolute;
	width:370px;
	height:265px;
	background:#303840;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	z-index:8888;
}
.telValBounced .u-divTelVer{
	position:relative;
	margin-top:20px;
	margin-left:15px;
}
.telValBounced .thePhoness{
	margin-top:40px;
}
.u-divTelVer label.numLable{
	margin-top:40px;
	width:55px;
	height:40px;
	line-height:40px;
	text-align:left;
	font-size:14px;
	color:#d2d2d2;
}
.u-divTelVer label.numVerify{
	padding-right:10px;
}
.u-divTelVer input.u-userboxTelVer{
	width:260px;
	height:40px;
	margin-bottom:10px;
	background:transparent;
	color:#fff;
	border:1px solid #5b6169;
	margin-left:15px;
}
.u-divTelVer input.u-userboxTelVerS{
	margin-left:19px;
}
/*请输入手机号,请输入正确的手机号,获取验证码,秒后重新获取*/
.telValBounced .u-numberphoneTelVer,.u-numbertelTelVer,.u-numberTelVer,.u-copySecondTelVer{
	display:inline-block;
	text-align:center;
	background:#f93;
	color:#fff;
}
.telValBounced .u-numberphoneTelVer{
	position:absolute;
	left:231px;
	top:1px;
	width:105px;
	height:40px;
	line-height: 40px;
}
.telValBounced .u-numbertelTelVer{
	display:none;
	position:absolute;
	left:197px;
	top:1px;
	width:140px;
	height:40px;
	line-height: 40px;
}
.telValBounced .u-numberTelVer{
	display:none;
	position:absolute;
	left:231px;
	top:1px;
	width:105px;
	height:40px;
	line-height: 40px;
	cursor:pointer;
}
.telValBounced .u-copySecondTelVer{
	display:none;
	position:absolute;
	left:207px;
	top:1px;
	width:130px;
	height:40px;
	line-height: 40px;
}
.u-divTelVer .u-verifyInputTelVer,.u-verifyTelVer{
	position:absolute;
	left:232px;
	top:1px;
	width:105px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.u-divTelVer .u-verifyTelVer{
	display:none;
	top:1px;
	background:#f36;
}
.telValBounced .u-divButtonVer{
	width:240px;
	height:35px;
	margin:0px 65px;
}
.u-submitTelVer,.u-submitTelCancel{
	width:100px;
	height:30px;
	line-height:30px;
	background:#f36;
	color:#fff;
	font-size:16px;
	border-radius:50px;
	text-align:center;
	border:none;
	margin-top:40px;
}
.u-submitTelCancel{
	background:#575d65;
	margin-left:30px;
}
.u-div input:focus{
	outline:1px solid #f36;
}
/*.u-div input.change-color{
	border:1px solid #f36;
}*/

.telValBounced input.change-color{
	border:1px solid #f36;
}
h3{
	font-weight:normal;
	font-size:16px;
}


