/**{color:#fff;}*/
.g-main{
	width:1200px;
	margin:100px auto 0;
	background:#141a20;
	position:relative;
	z-index: 99;
} 
/*左侧样式	*/
.g-left{ 
	position:absolute;
	width:260px;
	background:#1a2129; 
}   
.g-left ul li{
	color:#fff;
	height:60px;
	font-size:16px;
	color:#cecfd2;
}
.g-left ul li a span{
	display:inline-block;
	margin-left:55px;
	padding-right:30px;
	background:transparent;
	font-size:20px;
	vertical-align:middle;
}
.g-left ul li a{
	display:inline-block;
	padding-left:20px;
	color:#cecfd2;
}
.g-left ul li:second-child a{
	color:#f36;
}
.g-left .current{
	color:#f36;
}
.g-left ul li.u-center{
 	font-size:30px;
 	height:100px;
 	margin-top:40px;
 	width:260px;
 	text-align:center;

 } 
.g-left ul li.u-cbottom{
	margin-bottom:230px;
}
/*右侧样式*/
.g-right{ 
	margin-left:280px; 
	background:#1a2129; 
}
/*右侧上面的样式*/
.g-right .m-top{
	height:125px;
	padding-top:40px;
	padding-left:20px;
}

.m-tright .u-tovalue{
	display:inline-block;
	width:45px;
	height:20px;
	line-height:20px;
	text-align:center;
	margin-left:25px;
	background:#3ff;
	border-radius: 5px;
}
/*右侧下面的样式－－－从修改密码起*/
.g-right .m-bottom{
	width:450px;
	padding-left:30px;
	margin-top:65px;
	margin-bottom:100px;
}
.g-right  .m-top .m-tleft{
	position:absolute;
	padding-left:35px;
	 width:200px;
}
.g-right .m-top .m-tright{
	margin-left:200px;
	padding-left:40px;
}
.m-tright .u-nicknameonly{
	color:#fff;
}
.g-right .m-top .m-tright .u-p1{
	font-size:24px;
}
.g-right .m-top .m-tright .u-p1 .u-p1-s{
	padding-left:15px;
	color:#cecfd2;
	font-size:14px;
}
.g-right .m-top .m-tright .u-p2{
	margin-top:40px;
	color:#cecfd2;
}
.g-right .m-top .m-tright .u-p2 .u-change{
	padding-left:10px;
}
.g-right .m-top .m-tright .u-p3{
	margin-top:15px;
	color:#cecfd2;
}
.g-right .m-top .m-tright .u-p3 .u-change1{
	color:#ff0;
	padding-left:10px;
}
.g-right .m-top .m-tright .u-p3 input{
	background:#3ff;
	margin-left:25px;
	width:40px;
	height:20px;
	padding:auto;
	border:0px;
}
/*右边下侧样式*/
.g-right .rightswitch{
	width:800px;
	margin:60px 70px 60px 55px;
}
.g-left ul li.rightswitchcolor a{
	color:#f36;
}
.g-right .g-focus,.g-props,.m-message,.g-top-up,.g-host{
	display:none;
}
.g-right .m-bottom{
	width:800px;

}
.g-right .m-bottom .u-i1{
	width:100px;
	height:40px;
	font-size:16px;
	background:#f36;
	border:0px;
}
.g-right .m-bottom .u-i2{
	color:#cecfd2;
	font-size:16px;
	margin-left:30px;
	background:transparent;
}
.m-bottom .u-pcurrent{
	width:700px;
	height:40px;
}
.m-bottom .m-switch input#current,input#new,input#confirm,{
	width:300px;
	height:40px;
	margin-bottom:10px;
	background:transparent;
	margin-left:15px;
	border:1px solid #353d48;
	color:#fff;
}
.g-right .m-bottom label{
	color:#666e72;
	font-size:14px;
	width:90px;
	padding-right: 10px;
	display: inline-block;
	text-align:right;
	margin-right:0px;
}
.g-right .m-bottom .u-i6{
	width:300px;
	height:48px;
	background:#f36;
	border:0px;
	font-size:18px;
	text-align:center;
	border-radius:5px;
	margin:50px 0px 90px 110px;
}
a#m-change,a#m-realname{
	display:inline-block;
	width:110px;
	height:45px;
	margin-left:25px;
	margin-bottom:45px;
	line-height: 45px;
	text-align: center;
	color:#fff;
}
.switch{
	width:100px;
	height:35px;
	background:#f36;
	color:#fff;
	text-align:center;
	border-radius:5px;

}
.m-switch .u-pcurrent,.u-pnew,.u-pcancel{
	position:relative;
}
.u-verifypassword{
	position: absolute;
	left:303px;
	top:1px;
	width:120px;
	height:40px;
	line-height: 40px;
	background:#f93;
	color:#fff;
	text-align:center;
	display: none;
}
.u-failpassword{
	position: absolute;
	left:333px;
	top:1px;
	width:90px;
	height:40px;
	line-height: 40px;
	background:#f93;
	color:#fff;
	text-align:center;
	display: none;
}
.u-rightpassword{
	position: absolute;
	left:333px;
	top:1px;
	width:90px;
	height:40px;
	line-height: 40px;
	background:#396;
	color:#fff;
	text-align:center;
	display: none;
}
.u-vpassword{
	position: absolute;
	left:270px;
	top:1px;
	width:150px;
	height:40px;
	line-height: 40px;
	background:#f93;
	color:#fff;
	text-align:center;
	display: none;
}
.u-passwordshow{
	display:block;
}
/*手机认证*/
.m-switcht .u-div{
	position:relative;
	margin-bottom:20px;
	margin-left:15px;
}
.m-switcht .u-number,.u-verify{
	position:absolute;
	left:320px;
	top:1px;
	width:105px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background:#f93;
	color:#fff;
}
.m-switcht .u-verify{
	background:#f36;
}
.m-switcht input{
	width:300px;
	height:40px;
	margin-bottom:10px;
	background:transparent;
	margin-left:15px;
	border:1px solid #353d48;
	color:#fff;
}
.m-switcht .u-submit{
	width:305px;
	height:50px;
	background:#f36;
	color:#fff;
	margin:125px 0px 95px 120px;
	border-radius:5px;
	border:0px;
}
.m-mask{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	display:none;
	z-index:999999;
	padding-left: 100px;
}
.code-wrap,.reg-success{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	border-radius: 20px;
	background: #323a43;
	color:#fff;
}
.code-wrap{
	width: 240px;
	height: 200px;
	padding:30px;
}
.reg-success{
	text-align: center;
	width: 380px;
	height: 200px;
	padding:30px 60px;
	background: url(../images/banana.png) #323a43 center center no-repeat;
	display: none;
}
.reg-success span{
	color: #ffff33;
}
.reg-success .u-success-btn{
	width: 150px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #f36;
	position: absolute;
	bottom: 30px;
	right:60px;
	border-radius: 15px;
}
.reg-success .jump-index{
	background: #575d65;
	left: 60px;
}
.code-wrap input{
	height: 40px;
	background: none;
	border:1px solid #999;
	width: 100%;
	margin:20px 0;
	text-indent: 12px;
	color: #fff;
}

/*实名认证设置*/
.m-switchi{
	width:780px;
	font-size:14px;
	color:#666e72;
}
.m-switchi .u-msimg{
	width:100%;
}
/* 操作型弹出浮层-默认居中 */
.m-layer{
	display:none;
	position:fixed;
	width:360px;
	height:200px;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	margin:auto;
	background:#323a43;
	border-radius:5px;
}

.m-layer .lywrap{
	position:relative;
	width:360px;
	height:205px;
	border-radius:5px;
	margin-left:30px;
}
.m-layer .lytt{
	position:relative;
	padding:10px;
	height:20px;
	line-height:20px;
}
.m-layer .lytt h2{
	float:left;
	font-size:14px;
	font-size:#cecfd2;
}
.m-layer .lyct p{
	position:relative;
}
.m-layer .lyct input{
	width:300px;
	height:40px;
	margin-top:20px;
	border:1px solid #5b6169;
	background:transparent;
	color:#fff;
}
.m-layer .lyct span.tips{
	display:block;
	position:absolute;
	left:173px;
	top:21px;
	width:130px;
	height:40px;
	line-height: 40px;
	font-size:14px;
	color:#fff;
	margin-bottom:10px;
	background:#f93;
	text-align:center;
}
.m-layer p.u-check{
	width:300px;
	margin-left:0px;
	text-align:center;
	color:#f36;
	margin-top:5px;
	margin-bottom:20px;
}
.m-layer .lybt .u-btn{
	width:100px;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#fff;
	background:#f36;
	border-radius:20px;
	text-align:center;
	margin:0 90px;
}

/* 显示 */
.z-show{display:block;}
.m-psuccess{
	display:none;
	position:fixed;
	width:365px;
	height:200px;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	margin:auto;
	background:#323a43;
	border-radius:5px;
}
.m-psuccess .u-success{
	width:220px;
	height:45px;
	margin:50px 75px 35px 70px;
}
.m-psuccess img{
	display:inline-block;
	width:40px;
	height:40px;
	border:none;
}
.m-psuccess span{
	display:inline-block;
	color:#fff;
	font-size:24px;
	color:#f36;
	margin-left:25px;

}

.m-psuccess .u-cancel a{
	display:inline-block;
	width:100px;
	height:35px;
	line-height:35px;
	text-align: center;
	border-radius:5px;
	color:#fff;
	background:#f36;
	margin:0px 125px;

}


/*我的关注*/
.g-focus{
	box-sizing: border-box;
	width:795px;
	/*padding:65px 60px 50px 65px;*/
	position:relative;
}
.g-focus .u-top{
	width:100px;
	height:45px;
	line-height:45px;
	border-radius:5px;
	background:#f36;
	color:#fff;
	text-align:center;
	margin-bottom:35px;
}
.g-focus .u-host{
	position:relative;
	width:780px;
	height:95px;
	background:#2d3741;
	margin-bottom:15px;
}
.u-hleft{
	width:590px;
	height:95px;
	float:left;
}
.u-hleft .u-focusimg{
	float:left;
	width:125px;
	height:95px;
}
.u-hleft .u-focusimg img{
	border-radius:50px;
	padding:20px 25px 20px 30px;
}
.u-hleft .u-nickhost{
	float:left;
	width:300px;
	height:95px;
	color:#fff;
	font-size:18px;
}
.u-nickhost .u-nicksex{
	height:20px;
	padding-top:20px;
}
.u-nickhost .u-hostfans{
	height:35px;
	font-size:14px;
	padding-top:20px;
}
.u-hostfans p{
	float:left; 
}
.u-hostfans p.u-hhf{
	margin-left:10px;
}
.u-hleft .u-hf{
	color:#6c737a;
}
.u-hleft .u-num{
	color:#3ff;
}
.u-hright{
	float:left;
	width:160px;
	height:95px;
	line-height: 95px;

}
.u-hright img{
	display: inline-block;
}
.u-hright a{
	display:inline-block;
	width:100px;
	height:30px;
	line-height: 30px;
	text-align: center;
	font-size:16px;
	color:#fff;
	background:#f36;
	border-radius:50px;
	margin-left:30px;
}
.u-hright img.u-blur{
	visibility: hidden;

}
.stopdark span.dark{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:95px;
	background: rgba(108,115,122,0.5);
	color: #fff;
	text-align: center;
	line-height: 95px;
	display:none;
}
.u-host:hover span.dark{
	display:block;
	text-align: center;

}
.u-host:hover .stopdark{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}


/*我的道具*/
.g-props{
	width:800px;
	height:600px;
	margin:65px 65px 75px 70px;
}
.g-props .u-top h3{
	width:100px;
	height:40px;
	line-height:40px;
	text-align: center;
	background:#f36;
	color:#fff;
	border-radius:5px;
	margin-bottom: 30px;
}
.u-imgmessage .imgprops{
	width:800px;
	height:155px;
	margin-bottom:25px;
}
.imgprops .u-props{
	width:180px;
	height:150px;
	background:#2d3741;
	float:left;
	margin-right:20px;
}
.u-props span{
	display:inline-block;
	font-size:14px;
	color:#9da4ad;
}
.u-props span.u-propscolor{
	font-size:16px;
	color:#3ff;
}
.u-props img{
	margin:15px 50px 20px 55px;
}
.u-props p{
	margin:0px 50px 20px 50px;
}
.u-bottom{
	margin-top:70px;
	margin-bottom: 70px;
}
.u-bottom p{
	height:25px;
}
.u-bottom .u-bvalue,.u-bunit{
	color:#fff;
}
.u-bottom .u-bvalue{
	font-size:14px;
}
.u-bottom .u-bmoney{
	font-size:18px;
	color:#ff0;
	margin-left:10px;
}
.u-bottom .u-bunit{
	font-size:18px;
	margin-left:10px;
}
/*弹框*/
.u-propsgtips{
	display:none;
	width:415px;
	height:205px;
	background:#323a43;
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	z-index:1000;
}
.u-propsgtips p{
	width:350px;
	height:25px;
	font-size:18px;
	color:#fff;
	margin:65px 40px 55px 45px;
}
.u-propsgtips a{
	display:inline-block;
	width:100px;
	height:40px;
	line-height: 40px;
	background:#f36;
	text-align:center;
	font-size:16px;
	color:#fff;
	border-radius:50px;
	margin:0px 150px 30px 160px;
}



 
/*我的消息*/
.m-message{
	width:800px;
	height:460px;
	margin:85px 65px 0px 70px;
}
.u-m-top a{
	display:inline-block;
	width:100px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:16px;
	margin-right:35px;
	margin-bottom:40px;
}
 .focuscurrent{
	background:#f36;
	border-radius: 5px;
	
}

.u-systemmessage .u-message{
	width:780px;
	height:100px;
	border-bottom:1px dotted #2d3a46;
	margin:0px 0px 20px 0px;
}
.u-message .u-msystem{
	float:left;
	width:75px;
	height:100px;
}
.u-message .u-yuer{
	float:left;
	width:700px;
	height:100px;
}
.u-yuer h3{
	display:inline-block;
	width:580px;
	font-size:18px;
	color:#fff;
}
.u-yuer p .u-messagetime{
	display:inline-block;
	float:left;
	font-size:12px;
	color:#626f7e;
}
.u-yuer p .u-messagecontent{
	font-size:14px;
	color:#626f7e;
}
.u-yuer p .u-messtips{
	font-size:14px;
	color:#f36;
}

/*关注消息*/
.u-focusmessage{
	position:relative;
	width:780px;
	height:400px;
}
.u-focusmessage .u-focusmess{
	width:780px;
	height:60px;
	border-bottom:1px dotted #2d3a46;
}
.u-focusmess p{
	display: inline-block;
	width:650px;
}
.u-focusmess .u-foucscolor{
	font-size:16px;
	color:#f36;
}
.u-focusmess p span.u-focusc{
	font-size:14px;
	color:#fff;
}
.u-focusmess .u-focustime{
	font-size:12px;
	color:#626f7e;
}
/*.u-foucscolor:hover */
.u-messnickname{
	display:none;
	position:absolute;
	left:0;
	width:180px;
	height:215px;
	text-align:center;
	background:#333a44;
	z-index:1000;
}
.u-messnickname img{
	margin:15px 45px 10px 30px;
	border-radius: 50px;
}
.u-messnickname p{
	text-align:center;
}
.u-messnickname .u-mkname{
	font-size:18px;
	color:#fff;
	margin-bottom:5px;
}
.u-messnickname span{
	font-size:14px;
	color:#cecfd2;
}

/*我要充值*/
.g-top-up{
	width:785px;
	height:455px;
	margin-left:65px;
	margin-top:80px;
}
a.u-topfish{
	display:inline-block;
	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	border-radius:5px;
	background:#f36;
	margin-bottom: 25px;
}
.u-value{
	width:780px;
	height:180px;
	margin-left:-15px;
}
.u-value div{
	width:135px;
	height:75px;
	border:1px solid #1a2a3e;
	float:left;
	margin-left:15px;
	margin-bottom:15px;
}
.u-value span.u-vfish{
	display:inline-block;
	width:100px;
	height:20px;
	line-height: 20px;
	text-align:center;
	font-size:18px;
	color:#fff;
	margin:10px 10px 15px 15px;
}
.u-value span.u-vmoney{
	display:inline-block;
	width:60px;
	height:20px;
	line-height: 20px;
	font-size:14px;
	color:465667;
	margin:0px 0px 15px 40px;
}
.u-determine a.u-topvalue{
	display:inline-block;
	width:300px;
	height:50px;
	line-height: 50px;
	text-align:center;
	font-size:18px;
	color:#fff;
	background:#f36;
	margin:60px 235px 100px 235px;
}
/*选中状态*/
.checktopup{
	border:2px solid #f36;
	color:#f36;
}
.u-topupwindow{
	display:none;
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:1005px;
	height:520px;
	background:#323a43;
	border-radius:15px;
}
.u-iconwindow{
	height:45px;
}
.u-iconwindow img{
	margin-left:970px;
	margin-top:40px;
}
.u-wintop{
	width:895px;
	height:160px;
	border-bottom:1px dashed #1a2129;
	margin:0 50px;
}

.u-wintop .u-ws{
	text-align:center;
	font-size:24px;
	color:#fff;
}
.u-ws img{
	margin-right:20px;
	width:45px;
	height:40px;
	line-height:40px;
	display: inline-block;
}
.u-ws span{
	width:370px;
	height:40px;
	line-height:40px;
	display: inline-block;
}
.u-wintop .u-wm ,.u-wn{
	text-align: center;
	font-size:16px;
	color:#fff;
}
.u-wm{
	width:200px;
	height:25px;
	margin:30px 260px 10px 260px;
}
.u-wintop .u-wm .u-wmtips{
	font-size:18px;
	color:#ff0;
	margin-right:5px;
}
.u-wn{
	width:300px;
	height:25px;
	margin-left:254px;
}
.u-wbtop{
	width:895px;
	height:170px;
	margin:40px 30px 0px 40px;
}

.u-wbtop .payimg{
	float:left;
	width:220px;
	height:105px;
	margin-left:35px;
	margin-top:0px;
}
.payimg .u-wpleft{
	line-height:105px;
	text-align:center;
	vertical-align: middle;
	margin-right:15px;
}
.payshow:hover .gray{
	display:block;
}
.pay:hover .gray{
	display:block;
}
.u-wbtop .paycontent{
	float:left;
	width:100px;
	font-size:24px;
	color:#fff;

}

.u-wbbottom a{
	display: inline-block;
	width:300px;
	height:50px;
	line-height: 50px;
	text-align: center;
	color:#fff;
	background:#f36;
	border-radius:5px;
	margin:0 290px;
}
.u-wbbottom p{
	font-size:14px;
	color:#7d8ea0;
	width:300px;
	height:25px;
	margin:20px 302px 55px 300px;
}
.u-graywec,.u-graycard{
	width:210px;
	height:100px;

}
.u-graywec p,.u-graycard p{
	font-size:14px;
	color:#7d8ea0;
	text-align:right;
}

.gray img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.gray p{
	display:block;
	color:#7d8ea0;
	text-align:center;
}













