.banner{
    margin-top: 90px;
    height: 460px;
    position: relative;
    overflow: hidden;
}
.banner li{
    width: 100%;
    height: 460px;
    position: absolute;
}
.banner li a{
    display: block;
    height: 460px;
    width: 100%;
}
.banner .up{
    z-index: -1;
}
.banner .list{
    position: absolute;
    bottom: 25px;
    left:50%;
    z-index: 5;
}
.banner .list a{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 4px;
    background: #595a60;
    margin-right: 9px;
}
.banner .list .on{
    background: #fdba33;
}
.banner .banner_btn{
    width: 50px;
    height: 98px;
    background: url(../images/banner_prev.png) center center no-repeat;
    display: inline-block;
    position: absolute;
    top:179px;
    border:none;
    z-index: 99;
    display: none;
}
.banner .banner_btn:hover{
    background-color: rgba(0,0,0,0.6);
}
.banner:hover .banner_btn{
    transition:0.4s;
    display: block;
}
.banner .banner_prev{
    left:15%;
}
.banner .banner_next{
    background-image: url(../images/banner_next.png);
    right:15%;
}
.landing-box{
    margin-bottom: 40px;
}
.landing-box h3{
    color:#7a8387;
    line-height: 45px;
}
.landing-content{
    border-top: 1px solid #343940;
    padding-top: 30px;
}
.match{
    width: 32%;
    float: left;
    border:1px solid transparent;
    padding-bottom: 20px;
    box-sizing: border-box;
    cursor: pointer;
    background: #171a21;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);  
    -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);  
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);
}
.match:nth-child(2){
    margin:0 2%;
}
.match:hover{
    border-color:yellow;
}
.match-name{
    margin:15px 0;
    height: 55px;
    overflow: hidden;
}
.pic{
    position: relative;
    height: 35%;
    overflow: hidden;
    line-height: 0;
}
.pic .title{
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding:0 9px;
    line-height: 2.5;
    text-align: right;
    color:#e4e4e4;
    font-size: 12px;
    background: -webkit-linear-gradient(to bottom, #000 0%,rgba(0, 0, 0, 0.5) 60%,rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, #000 0%,rgba(0, 0, 0, 0.5) 60%,rgba(0, 0, 0, 0) 100%);
}
.pic [class^="icon-"]{
    font-size: 12px;
    color:#f2f6f9;
    margin-right: 5px;
}
.match-progress .match-name{
    font-size: 18px;
    font-weight: normal;
    color:#f2f6f9;
    padding:0 5px;
}
.match-progress .list{
    width:96%;
    margin:0 auto;
    overflow: hidden;
    line-height: 28px;
    color:#666;
    font-size: 12px;
}
.match-progress label{
    float:left;
    width:80px;
    text-align: right;
    font-size: 1.3rem;
    position: relative;
    margin-right: 9px;
}
.match-progress label .iconfont{
    position: absolute;
    left: 1px;
}
.progress {
    width:100%;
    height: 6px;
    margin-top: 8px;
    background: #343b45;
    border-radius: 3px;
}
.progress .orange {
    background: #fdb91a;
}
.progress > span {
    position: relative;
    float: left;
    height: 6px; /*从8修改成10*/
    line-height: 16px;
    text-align: right;
    border-radius: 3px;
}
.progress > span:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 18px;
    border-radius: 10px;
}
.match-progress strong{
    color:#31763f;
}

.m-organize,.m-match{
    width: 25%;
    float: left;
    text-align: center;
    color:#7a8387;
}
.m-organize{
    font-size: 12px;
}
.m-organize h3,.m-match h3{
    font-size: 18px;
    color:#fdb91a;
}
.m-match h3{
    color:#42aa53;
}
.landing-box .u-landing-btn{
    display: block;
    width: 200px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: none;
    margin:50px auto;
    border:1px solid #fdbb33;
    color:#fdbb33;
}
.landing-box .u-enter-btn{
    border:1px solid #42aa53;
    color:#42aa53;
}
.m-advertise{
    position: relative;
    line-height: 0;
}
.m-advertise .ad-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color:#f2f6f9;
    background: rgba(0,0,0,0.7);
}
/*卡片翻转*/
.flip-container {
    perspective: 1000;
    width: 32%;
    margin-top:30px;
    margin-right: 2%;
    float: left;
}
.flip-container:nth-child(3n){
    margin-right: 0;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

.flip-container, .front, .back {
    height: 150px;
    overflow: hidden;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}
.front .flip-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#f2f6f9;
    font-size: 12px;
    background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}
.front .flip-wrap span{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
/* back, initially hidden pane */
.back {
    width: 100%;
    padding:20px 15px;
    box-sizing: border-box;
    transform: rotateY(180deg);
    color:#7a8387;
    font-size: 12px;
    background: #27282e;
    line-height: 2;
    cursor: pointer;
}
.back h4{
    margin-bottom: 35px;
}
.back [class^="icon-"]{
    font-size: 12px;
    margin-right: 10px;
}
.back .flip-num [class^="icon-"]{
    font-size: 16px;
    margin-left: -2px;
}
.back strong{
    color:#fdba33;
    margin-right: 2px;
}
.back .flip-btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    transform: rotate(180deg);
}
.back .flip-btn [class^="icon-"]{
    font-size: 24px;
    color:#fdba33;
}
.get_eventid,.get_roundid,.get_isPublish{
    display: none;
}
 /*主体模板公共*/

 .g-w{
    width:1024px;
    margin:140px auto 0;
 }
 .g-z{
    width:600px;
    margin:0 auto;
 }
 .pt40{padding-top: 40px;}.mt20{margin-top: 20px;}.mb20{margin-bottom: 20px;}
 .mt90{margin-top: 90px;}.mt40{margin-top: 40px;}.h36{height: 36px;}.mr56{margin-right: 56px;}.mb6{margin-bottom: 6px;}.mt16{margin-top: 16px;}.mt5{margin-top: 5px;}.mb120{margin-bottom: 120px;}.mb12{margin-bottom: 12px;}.ml20{margin-left:20px;}.pt20{padding-top: 20px;}.mb100{margin-bottom: 100px;}.ptb50{padding: 0.5rem 0;}
 .colfdb{color: #fdb91a;}.col7a8{color: #7a8387;}.col42a{color: #42aa53;}
 .backLast{
    position: fixed;
    width: 100%;
    top: 60px;
    height:40px;
    line-height: 20px;
    background: #27282e;
    color:#b7c1c6;
    font-size: 18px;
    z-index: 99;
 }
.backLast a{
    float: left;
    display: inline-block;
    margin-right: 10px;
    height: 40px;
    width:20px;
    background: url(../images/back.png) top center no-repeat;
}
 /*头部*/
.g-hd{
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;
    background: #27282e;
    z-index: 999;
}
.slidein{
    display: inline-block;
    float: left;
    width:80px;
    height: 60px;
    background: url(../images/slidein.png) center center no-repeat;
}
.header_left,.header_right{
    display: inline-block;
}
.header_left img{
    cursor: pointer;
    margin-top: 9px;
}
.backend-head img{
    margin-top: 0;
    float: left;
}
.game-title{
    display: inline-block;
    font-size: 14px;
    color:#b7c1c6;
    line-height: 60px;
}
.notify span{
    display: inline-block;
    float: left;
    width: 30px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.avatar{
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    /*text-align: center;*/
    margin: 0 60px 0 20px;
    cursor: pointer;
    position: relative;
}
.avatar img{
    vertical-align: middle;
    border:2px solid #666a74;
    border-radius: 50%;
    width:32px;
    height: 32px;
}
.avatar .icon-uniE60E{
    display: inline-block;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.nav-list{
    position: absolute;
    right:-20px;
    top:60px;
    width: 130px;
    padding:0 20px;
    background: #36383f;
    border-radius: 3px;
    display: none;
}
.nav-list:before{
    position: absolute;
    content: "";
    top:-17px;
    right: 20px;
    width: 0;
    height: 0;
    border:9px solid transparent;
    border-bottom-color: #36383f;
}
.nav-list li{
    line-height: 38px;
}
.nav-list a{
    color:#f2f6f9;
}
.nav-list li [class^="icon-"]{
    margin-right: 15px;
}
.backend-head img{
    margin:9px 87px 0 60px;
}
.visitor{
    margin-right: 48px;
    color:#fdb91a;
}
.visitor a{
    display: inline-block;
    margin: 0 10px;
    line-height: 60px;
    color:#b7c1c6;
}
.visitor a:hover{
    color:#fdb91a;
}