.g-wrap{
    margin-top:70px;
    padding-top: 50px;
    padding-bottom: 60px;
    background: #141a20;
}
.g-mb{
    padding-bottom: 285px;
}
.m-player{
    width: 980px;
    height: 590px;
    background: #1a2129;
}
.m-play-list{
    height: 570px;
    padding: 10px;
    overflow: hidden;
    background: #1a2129;
    position: relative;
}
.m-play-list .u-arrow{
    position: absolute;
    width: 50px;
    height: 25px;
    background: url('/images/arrow_up.png') no-repeat;
    left: 50%;
    margin-left: -25px;
    z-index: 99;
    cursor: pointer;
}
.m-play-list .arrow-up{
    top:0;
}
.m-play-list .arrow-down{
    background: url('/images/arrow_down.png') no-repeat;
    bottom: 0;
}
.m-play-list li{
    width: 182px;
    height: 82px;
    border: 2px solid transparent;
    background: #1a2129;
    margin-bottom: 10.8px;
}
.m-play-list li:last-child{
    margin-bottom: 0;
}
.m-play-list li .indexLive{
    display: block;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.m-play-list li .indexLive img{
    width: 100%;
    height: 100%;
}
.m-play-list li.current,
.m-play-list li:hover{
    border-color: #ff2b65;
}
.m-play-list li.current .indexLive:after,
.m-play-list li:hover .indexLive:after{
    position: absolute;
    content: '';
    left: -16px;
    top: 34px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: #ff2b65;
}
.g-mb .g-wrap{
    margin-top: 60px;
}
.g-mb .title{
    padding-top: 20px;
    font-size: 24px;
    color: #033;
    line-height: 2.5;
}
.g-mb .title img{
    width: 32px;
    height: 32px;
    vertical-align: -6%;
    margin:0 10px;
}
.more{
    float: right;
    font-size: 14px;
    color:#666;
    line-height: 60px;
    margin-right: 10px;
}
/*活动*/
.m-lst .active_name{
    width: 100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.m-activity .m-lst,
.m-hot .m-lst{
    width: 230px;
}
.m-game .m-lst{
    width: 140px;
    text-align: center;
}
.m-activity img{
    height: 150px;
}
.m-game img{
    height: 180px;
}
.m-game .m-lst{
    margin-right: 11px;
}
.m-lst:last-child{
    margin-right: 0;
}
.m-hot .m-lst:nth-child(5),
.m-video .m-lst:nth-child(5){
    margin-right: 0;
}

/*视频*/ 
.m-video .anchor-head .head-icon{
    border:1px solid #fff;
}
.m-video .anchor-info a{
    margin-top: -5px;
    color:#999;
}