html,body{
	height: 100%;
}
.g-lb{
	position: relative;
	min-width: 1100px;
	background: #f3f3f3;
	padding-top: 40px;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.m-float{
	display: none;
}
.m-sidebar{
	position: fixed;
	width: 70px;
	height: 100%;
	padding-top: 40px;
	top:0;
	background:#141a20;
	text-align: center;
	box-sizing: border-box;
}
.m-sidebar li a{
	display: block;
	margin:30px 0;
	color:#fff;
}
.m-sidebar li .iconfont{
	display: block;
	font-size: 28px;
}
.m-sidebar li a:hover{
	color:#f36;
}
.bottom-nav{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.m-live-left{
	margin-left: 70px;
	padding:20px;
	min-width: 660px;
	height: 100%;
	box-sizing: border-box;
	overflow: scroll;
}
.live-info{
	margin-bottom: 20px;
}
.hide-rtmp{
	display: none;
}
.videoBox{
	min-height: 375px;
}
.live-avatar{
	width: 80px;
	margin-right: 10px;
}
.avatar-info h3{
	font-size: 18px;
	color: #333;
	line-height: 2;
}
.avatar-info .u-label{
	display: inline-block;
	width: 150px;
}
.avatar-info .u-label img{
	vertical-align: middle;
	margin-left: 5px;
}
.follow a{
	display: inline-block;
	background: #f36;
	color:#fff;
	width: 90px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	font-size: 18px;
	text-align: center;
	float: right;
}
.followme .iconfont{
	margin:0 5px;
	font-size: 20px;
	vertical-align: middle;
}
.follow .is-subscibe{
	background: #999;
}
.follownum{
	background: #878b90;
	color: #fff;
	float: left;
	min-width: 50px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	position: relative;
	margin-left: 5px;
	padding:0 10px;
}
.follownum:after{
	position: absolute;
	top:10px;
	right: -10px;
	content: "";
	width:0;
	height:0;
	border:5px solid transparent;
	border-left-color: #878b90;
}
.option a{
	display: inline-block;
	margin:10px 0 0 20px;
	width: 70px;
	text-indent: 25px;
}
.option .report{
	background: url('/images/report.png') left top no-repeat;
}
.option .share{
	background: url('/images/share.png') left top no-repeat;
}
.report-pop{
	width: 276px;
	padding:17px;
	height: 486px;
	background: rgba(50,58,67,0.8);
	position: absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    color:#fff;
    border-radius: 20px;
}
.report-pop h3{
	text-align: center;
	font-size: 24px;
	line-height: 2;
	border-bottom: 2px dotted #2e363f;
	margin-bottom: 15px;
}
.report-radio{
	height: 55px;
	line-height: 55px;
	text-indent: 40px;
}
.report-pop input[type="radio"] {
  display: none;
}
.report-pop label {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  background: url('/images/dischecked.png') no-repeat 10px center;
}
.report-pop label.checked {
  background: url('/images/checked.png') no-repeat 10px center;
}
.report-pop p{
	color:#7d8ea0;
	text-indent: 45px;
}
.report-pop a{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #495665;
	color: #9faebe;
	margin:20px 20px 0;
	margin-left: 42px;
}
.report-pop .u-report-next{
	background: #f36;
	color:#fff;
	margin-left: 20px;
}
.wallet-empty{
	position: absolute;
	top: 40%;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	display: none;
}
.wallet-empty .wallet-text{
	background: #88e0e2;
	height: 40px;
	line-height: 40px;
	color:#efefef;
	text-indent: 10px;
	border-radius: 10px;
}
.wallet-empty img{
	position: absolute;
	right: -15px;
	bottom: 5px;
	width: 60px;
}
.m-live-recommend{
	margin-top: 30px;
}
.m-livenav li{
	float: left;
	font-size: 20px;
	color: #033;
	margin-right: 30px;
	cursor: pointer;
}
.m-livenav li.current{
	color: #f36;
	border-bottom: 4px solid #f36;
}
.recommendBox{
	padding:30px 10px;
	width: 1250px;
	margin:0 auto;
	position: relative;
}
.recommendBox .m-lst{
	margin:0 10px 28px;
}
.room-link{
	position: absolute;
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #f36;
	color:#fff;
	left: 50%;
	margin-left: -60px;
	bottom: -40px;
	border-radius: 3px;
}
@media screen and (max-width: 1770px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .recommendBox {
    width: 1000px;
  }
}
@media screen and (max-width: 1520px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .recommendBox {
    width: 750px;
  }
}
@media screen and (max-width: 1270px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .recommendBox {
    width: 500px;
  }
}
.m-live-right{
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 60px;
	width: 360px;
	padding-left: 10px;
	height: 100%;
}
.live-notice{
	color:#999;
	height: 80px;
	overflow: hidden;
	margin-bottom: 20px;
}
.live-notice img{
	vertical-align: middle;
	margin-right: 5px;
}
.live-notice h3{
	font-size: 18px;
	color:#333;
	font-weight: normal;
	line-height: 2;
}
.room-tab li{
	float: left;
	width: 178px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border:1px solid #ccc;
}
.room-tab li.current{
	background: #f36;
	color:#fff;
	border-color:#f36;
}
.liveroom{
	height: 100%;
}
.right-block{
	border:1px solid #ccc;
	box-sizing: border-box;
	border-top: none;
	border-bottom: none;
	padding:10px;
	overflow-y: scroll;
}
.gift-block{
	display: none;
}
.contributionRank{
	height: 80px;
	line-height: 80px;
}
.bank-left{
	font-size: 16px;
	color:#333;
}
.rank-index{
	float: left;
	display: inline-block;
	width: 30px;
	text-align: center;
	font-size: 14px;
}
.bank-head{
	width: 56px;
	height: 57px;
	margin-top: 12px;
	margin-right: 5px;
	float: left;
	background-size: cover;
}
.gift-block .contributionRank:first-child .bank-head{
	background: url('/images/first.png') top left no-repeat;
}
.gift-block .contributionRank:nth-child(2) .bank-head{
	background: url('/images/second.png') top left no-repeat;
}
.gift-block .contributionRank:nth-child(3) .bank-head{
	background: url('/images/third.png') top left no-repeat;
}
.bank-head img{
	margin-top: 9px;
	margin-left: 8px;
	width:46px;
	height: 47px;
	border-radius: 50%;
}
.bank-right span{
	color:#f36;
	display: inline-block;
	margin-right: 10px;
}
.room-block{
	color: #333;
	font-size: 12px;
	line-height: 30px;
}
.room-block .welcome{
	color:#f36;
}
.room-block .welcome span{
	color:#0cc;
	margin:0 3px;
}
.room-block .text-mes .membName{
	color:#0cc;
}
.room-block .gift-mes{
	color: #f36;
}
.hidegiftmes{
	display: none;
}
#chatarea .combo{
	font-size: 14px;
	margin-left: 10px;
	font-style: italic;
	color:#f60;
	font-weight: bolder;
}
#chatarea .combo i{
	display: inline-block;
	background: url('/images/combo.png') center center no-repeat;
	background-size: 100%;
	width:42.5px;
	height: 20px;
	vertical-align: middle;
	margin-left: 5px;
}
.set-block{
	height: 30px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.set-block .set-option{
	float: left;
	width: 33.3%;
	line-height: 30px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.set-block .set-option img{
	vertical-align: middle;
	margin:0 5px;
}
.option-block{
	display: none;
}
.quicktext{
	position: absolute;
	width: 160px;
	height: 220px;
	top: -220px;
	text-align: center;
	background: #fff;
	line-height: 36px;
	cursor: pointer;
	overflow-y: scroll;
}
.shield{
	position: absolute;
	width: 160px;
	padding:15px 0;
	top: -135px;
	background: #fff;
	line-height: 36px;
	text-align: left;
}
.shield-radio{
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
}
.shield input[type="radio"] {
  display: none;
}
.shield label {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  background: url('/images/dischecked.png') no-repeat left center;
}
.shield label.checked {
  background: url('/images/checked.png') no-repeat left center;
}
.send-block{
	height: 50px;
	display: table-cell;
	border:1px solid #ccc;
	width: 360px;
}
.send-block input{
	width: 268px;
	height: 34px;
	border:1px solid #ccc;
	border-radius: 3px;
	margin:7px 0 7px 19px;
	background: #f3f3f3; 
	text-indent: 12px;
}
.send-block button{
	background: none;
	border:none;
	font-size: 16px;
	color:#333;
	width: 60px;
	height: 36px;
	text-align: center;
	margin:0 4px;
}
.send-gift{
	height: 50px;
	padding:19px 0;
	border:1px solid #ccc;
}
.award img{
	float: left;
	margin-left: 20px;
	margin-right: 15px;
}
.countdown{
	float: left;
	width: 100px;
	line-height: 2;
}
.endingtime{
	display: inline-block;
	width: 25px;
	text-align: center;
}
.freegift{
	line-height: 50px;
	cursor: pointer;
}
.m-gift{
	float: right;
}
.m-gift .gift{
	position: relative;
	float: left;
	margin:0 5px;
}
.gift img{
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.gift .gift-hover{
	position: absolute;
	padding: 10px;
	top:-80px;
	left: 50%;
	width: 120px;
	margin-left: -70px;
	text-align: center;
	background: rgba(72,84,114,0.8);
	border-radius: 3px;
	display: none;
	color:#fff;
}
.gift .gift-hover span{
	color:#f36;
}
.gift .gift-hover:after{
	position: absolute;
    content: "";
    width: 0;
    height: 0;
    border:7px solid transparent;
    border-top-color: rgba(72,84,114,0.8);
    bottom:-14px;
    left: 50%;
    margin-left: -7px;
}
.myCoin{
	display: inline-block;
	margin-right: 20px;
}
.myCoin span{
	font-size: 16px;
	color:#f36; 
}
.myCoin .givemoney{
	display: inline-block;
	background: #f36;
	color:#fff;
	width: 100%;
	height: 26px;
	line-height: 26px;
	border-radius: 2px;
	text-align: center;
}
.myCoin,.myGift{
	float: left;
}
.myGift{
	line-height: 50px;
	margin:0 10px;
	position: relative;
	cursor: pointer;
}
.my-prop{
	position: absolute;
	padding: 10px;
	top:-180px;
	right: -10px;
	width: 180px;
	height: 150px;
	background: rgba(72,84,114,0.8);
	border-radius: 3px;
	display: none;
}
.my-prop:after{
	position: absolute;
    content: "";
    width: 0;
    height: 0;
    border:7px solid transparent;
    border-top-color: rgba(72,84,114,0.8);
    bottom:-14px;
    right: 30px;
}
.my-prop .propBox{
	position: relative;
	width: 50px;
	line-height: 20px;
	height: 70px;
	margin:0 5px 10px;
	color:#fff;
	float: left;
	text-align: center;
}
.my-prop .propBox img{
	width: 50px;
	height: 50px;
}
.my-prop .propBox span{
	position: absolute;
	top:30px;
	right: 0;
	display: block;
	width: 20px;
	height: 20px;
	background: #f36;
	font-size: 10px;
	text-align: center;
}
.m-l-gift{
	/*padding:9px 0;*/
	height: 30px;
	font-size: 12px;
}
.m-l-gift .countdown{
	width: 80px;
	line-height: 1.3;
}
.m-l-gift .myCoin{
	margin-top: -10px;
	margin-right: 10px;
}
.m-l-gift img{
	width: 30px;
	height: 30px;
}
.m-l-gift .award img{
	margin:0 10px;
}
.m-l-gift .freegift{
	line-height: 30px;
}
.m-l-gift .myGift{
	line-height: 30px;
}
.m-l-gift .givemoney{
	height: 20px;
	line-height: 20px;
}