html,body{
	height: 100%;
}
.g-lb{
	position: relative;
	min-width: 1100px;
	background: #f3f3f3;
	padding-top: 40px;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.m-sidebar{
	position: fixed;
	width: 70px;
	height: 100%;
	padding-top: 40px;
	top:0;
	background:#141a20;
	text-align: center;
	box-sizing: border-box;
}
.m-sidebar li a{
	display: block;
	margin:30px 0;
	color:#fff;
}
.bottom-nav{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.m-live-left{
	margin-left: 70px;
	padding:20px;
	min-width: 660px;
	height: 100%;
	box-sizing: border-box;
	padding-bottom: 1000px;
	overflow: scroll;
}
.live-info{
	margin-bottom: 20px;
}
.videoBox{
	min-height: 375px;
}
.live-avatar{
	width: 80px;
	margin-right: 10px;
}
.avatar-info h3{
	font-size: 18px;
	color: #333;
	line-height: 2;
}
.avatar-info .u-label{
	display: inline-block;
	width: 150px;
}
.avatar-info .u-label img{
	vertical-align: middle;
	margin-left: 5px;
}
.follow a{
	display: inline-block;
	background: #f36;
	color:#fff;
	width: 90px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	font-size: 18px;
	text-align: center;
	float: right;
}
.follownum{
	background: #878b90;
	color: #fff;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	position: relative;
	margin-right: 10px;
	padding:0 10px;
}
.follownum:after{
	position: absolute;
	top:10px;
	right: -10px;
	content: "";
	width:0;
	height:0;
	border:5px solid transparent;
	border-left-color: #878b90;
}
.option a{
	display: inline-block;
	margin:10px 10px 0;
}
.m-live-right{
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 60px;
	width: 360px;
	padding-left: 10px;
	height: 100%;
}
.live-notice{
	color:#999;
	height: 80px;
	overflow: hidden;
	margin-bottom: 20px;
}
.live-notice img{
	vertical-align: middle;
	margin-right: 5px;
}
.live-notice h3{
	font-size: 18px;
	color:#333;
	font-weight: normal;
	line-height: 2;
}
.room-tab li{
	float: left;
	width: 178px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border:1px solid #ccc;
}
.liveroom{
	height: 100%;
}
.room-block{
	border:1px solid #ccc;
	box-sizing: border-box;
	border-top: none;
	border-bottom: none;
}
.set-block{
	height: 30px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.set-block .set-option{
	float: left;
	width: 33.3%;
	text-align: center;
}
.send-block{
	height: 50px;
	display: table-cell;
	border:1px solid #ccc;
	width: 360px;
}
.send-block input{
	width: 268px;
	height: 34px;
	border:1px solid #ccc;
	border-radius: 3px;
	margin:7px 0 7px 19px;
	background: #f3f3f3; 
}
.send-block button{
	background: none;
	border:none;
	font-size: 16px;
	color:#333;
	width: 60px;
	height: 36px;
	text-align: center;
	margin:0 4px;
}
.send-gift{
	height: 50px;
	padding:19px 0;
	border:1px solid #ccc;
}
.award img{
	float: left;
	margin-left: 20px;
	margin-right: 15px;
}
.countdown{
	float: left;
	width: 100px;
	line-height: 2;
}
.m-gift{
	float: right;
}
.m-gift .gift{
	float: left;
	margin:0 5px;
}
.m-gift .gift img{
	width: 50px;
	height: 50px;
}
.myCoin{
	display: inline-block;
	margin-right: 20px;
}
.myCoin span{
	font-size: 16px;
	color:#f36; 
}
.myCoin .givemoney{
	display: inline-block;
	background: #f36;
	color:#fff;
	width: 100%;
	height: 26px;
	line-height: 26px;
	border-radius: 2px;
	text-align: center;
}
.myCoin,.myGift{
	float: left;
}
.myGift{
	line-height: 50px;
	margin:0 10px;
}