/* reset */
@media only screen { html { font-size: 100px; } }
@media only screen and (max-width: 1024px){ html { font-size: 64px; } }
@media only screen and (max-width: 768px) { html { font-size: 48px; } }
@media only screen and (max-width: 414px) { html { font-size: 25px; } }
@media only screen and (max-width: 320px) { html { font-size: 20px; } }

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 'Microsoft YaHei','微软雅黑', Helvetica,Arial,sans-serif,STHeiTi;color:#333;outline:0;}
body{font:14px/1.5 'Microsoft YaHei','微软雅黑', Helvetica,Arial,sans-serif,STHeiTi;background: #f3f3f3;}
input{font:14px/1.5 'Microsoft YaHei','微软雅黑', Helvetica,Arial,sans-serif,STHeiTi;/*letter-spacing:1px;*/}
a/*,a:hover*/{color:#333;}
input:-webkit-autofill { 
-webkit-box-shadow: 0 0 0px 1000px #14181d inset;
color: #fff !important;
} 
/*input:focus,select:focus,textarea:focus{outline: none;border-color: #42ac59;}*/

.content{
	display: flex; min-height: 100vh; flex-direction: column;
}

.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-re{position: relative;}
.f-ab{position: absolute;}
.f-tr{text-align: right;}
.f-tc{text-align: center;}

/*字体图标*/
@font-face {font-family: "iconfont";
  src: url('/fonts/iconfont.eot?t=1479173802950'); /* IE9*/
  src: url('/fonts/iconfont.eot?t=1479173802950#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/iconfont.woff?t=1479173802950') format('woff'), /* chrome, firefox */
  url('/fonts/iconfont.ttf?t=1479173802950') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/fonts/iconfont.svg?t=1479173802950#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prop:before { content: "\e655"; }

.icon-vip:before { content: "\e656"; }

.icon-pay:before { content: "\e657"; }

.icon-info:before { content: "\e658"; }

.icon-message:before { content: "\e659"; }

.icon-follow:before { content: "\e65a"; }

.icon-anchor:before { content: "\e65b"; }

.icon-out:before { content: "\e65c"; }

.icon-beanchor:before { content: "\e65d"; }

.icon-live:before { content: "\e65f"; }

.icon-download:before { content: "\e661"; }

.icon-spec-area:before { content: "\e662"; }

.icon-index:before { content: "\e663"; }

/*公共头部*/
.comWidth{
    width: 1200px;
    margin:0 auto;
}
.m-common{
    padding-top: 110px;
}
.g-hd{
    padding:17px 0;   
    width: 100%;
    background: #1a2129;
}
.common-hd{
    padding: 0;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    z-index:999;
}
.header_left img{
    margin-top: 5px;
    margin-right: 45px;
    vertical-align: middle;
}
.m-nav{
    margin-right: 110px;
}
.m-nav li{
    float: left;
    width: 110px;
    text-align: center;
    font-size: 18px;
}
.m-nav li a{
    color: #feffff;
}
.m-nav li.current a,.m-nav li a:hover{
    color: #f36;
}
.header_right a{
    display: inline-block;
    line-height: 36px;
    width: 100px;
    text-align: center;
    color:#fff;
}
.visitor a{
    width: 46px;
    background: #3c4856;
    margin:0 8px;
}
.reward-tip{
    height: 30px;
    line-height: 30px;
    background: #0c1014;
    color:#999;
    padding:0 5px;
    position: relative;
    display: none;
}
.reward-tip:after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border:7px solid transparent;
    border-bottom-color: #0c1014;
    top:-14px;
    right: 25px;
}
.sweepme{
    position: relative;
    float: left;
    margin-left: 50px;
    font-size: 16px;
    color:#999;
}
.sweepme img{
    margin-right: 10px;
    vertical-align: text-bottom;
}
.sweepme .QRbox{
    position: absolute;
    left: -20px;
    background: #fff;
    text-align: center;
    color:#333;
    font-size: 14px;
    line-height: 1.5;
    padding:10px;
    display: none;
}
.sweepme .QRbox img{
    margin:0 0 10px;
}
.avatar{
    position: relative;
    width: 60px;
}
.avatar .avatar-area{
    width: 60px;
}
.avatar img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
}
.avatar .nav-list{
    position: absolute;
    right: 0;
    display: none;
    padding:5px 10px;
    background: #0c1014;
}
.avatar .nav-list li{
    line-height: 1.5;
}
.avatar .nav-list li a:hover{
    color:#f36;
}
.avatar .nav-list li .iconfont{
    font-size: 18px;
    margin-right: 15px;
    vertical-align: middle;
}
/*登录框*/
.m-login-wrap{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    display:none;
    z-index:999999;
}
.close{
    position: absolute;
    top:15px;
    right: 15px;
}
.close img{
    width: 20px;
    height: 20px;
}
.login-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    width:380px;
    height: 440px;
    /*height: 250px;*/
    padding:40px 50px;
    border-radius: 20px;
    background: #3c4855;
    color:#fff;
}
.login-content h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.login-content input{
    display: block;
    width: 100%;
    width:100%;
    height: 40px;
    margin:20px auto;
    border-radius: 5px;
    border:none;
    text-indent: 12px;
}
.login-content .l-pwd{
    margin-bottom: 0;
}
.login-content .u-login{
    display: block;
    width:100%;
    height: 40px;
    line-height: 40px;
    border:0;
    border-radius: 5px;
    background: #f36;
    color:#fff;
    font-size: 18px;
}
.login-error{
    height: 35px;
    line-height: 35px;
}
.login-content .error-tip{
    color:#f36;
    display: none;
    text-indent: 12px;
}
.m-link a{
    margin:20px 18px;
    color:#9da4ad;
    text-decoration: underline;
}
.third-logins{
    /*display: none;*/
}
.line-through{
    position: relative;
    text-align: center;
    height: 17px;
    margin-bottom: 20px;
}
.line-through .line{
    position: absolute;
    width: 100%;
    top:8px;
    border-bottom: 1px solid #9da4ad;
}
.line-through span{
    position: absolute;
    background: #3c4855;
    display: inline-block;
    width:60px;
    height: 17px;
    line-height: 17px;
    color:#9da4ad;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
}
.third-enter{
    float: left;
    width: 62px;
    text-align: center;
    font-size: 14px;
    margin:32px 78px 0 10px;
}
.third-enter a{
    color:#9da4ad;
}
.third-enter:last-child{
    margin-right: 0;
}
.m-search{
    position: relative;
}
.m-search input{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid transparent;
    text-indent: 20px;
    color: #feffff;
    background: #141a20;
}
.m-search .u-search-btn{
    position: absolute;
    top:23px;
    right:15px;
    width: 24px;
    height: 24px;
    background: url(../images/search.png) no-repeat;
    background-size: 100%;
}
.m-search ::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #96b4d2; 
} 
.m-search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: #96b4d2; 
} 
.m-search ::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: #96b4d2; 
} 
.m-search :-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: #96b4d2; 
} 
.header_right .u-login-btn{
    background: #f53260;
    border-radius: 5px;
}
.visitor .u-login-btn{
    border-radius: 0;
}
/*窄头部*/
.mini-hd{
    padding: 0;
    height: 40px;
    line-height: 40px;
    position: fixed;
    top: 0;
    z-index:999;
    min-width: 1100px;
}
.mini-hd .header_left{
    width: 80%;
}
.mini-hd .m-nav{
    width: 30%;
    margin-right:8%;
}
.mini-hd .m-nav li{
    font-size: 14px;
    width: 33.3%;
}
.mini-hd .head_logo{
    width:38px;
    height: 37px;
    margin:1px 16px 0;
    vertical-align: middle;
}
.mini-hd .m-search input{
    height: 30px;
    border-radius: 15px;
}
.mini-hd .m-search .u-search-btn{
    top:10px;
    width: 20px;
    height: 20px;
}
.mini-hd .visitor a{
    height: 26px;
    line-height: 26px;
    margin:0 8px;
}
.mini-hd .avatar,
.mini-hd .avatar .avatar-area{
    width: 40px;
}
.mini-hd .avatar img{
    width: 25px;
    height: 25px;
}
.mini-hd .sweepme{
    position: relative;
    float: right;
    margin-left: 50px;
    font-size: 16px;
    color:#999;
}
/*视频弹窗*/
.m-video-mask{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    display:none;
    z-index:999999;
}
.m-video-mask .close{
    position: absolute;
    right: 30px;
    top: 30px;
}
.m-video-mask .close img{
    width: 20px;
    height: 20px;
}
.m-video-player{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    height: 70%;
    /*width: 1200px;
    height: 670px;*/
    margin:auto;
}
/*全部直播*/
.m-livetop{
    width:1200px;
    height:65px;
}
.m-livetop img{
    margin-left:15px;
}
.m-livetop .u-alllive{
    margin-left:10px;
    font-size:24px;
}
.m-livetop .u-alllnum{
    margin-left:25px;
    font-size:14px;
    color:#f36;
}
.m-livetop .u-alling{
    font-size:14px;
    margin-left:25px;
}
.m-video .anchor-head{
    top:-35px;
}
.video-name{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2.5;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-indent: 15px;
}
.footer{
	border-top: 1px solid #616d78;
	height: 112px;
	margin-top: 80px;
	overflow: hidden;
}
.foot{
    width: 1130px;
    margin: 0 auto;
    padding-left: 125px;
}
.tel{
    width:124px;
    height: 15px;
    top: 27px;
    left: 209px;
    position: relative ;
    border-right:1px solid #4f4f4f;
    
}
.telIcon span{
    font-size: 9px;
    color: #6a6a6a;
    line-height: 15px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}
.letter{
    width:284px;
    height: 16px;
    top: 12px;
    left:371px;
    position: relative ;
    border-right:1px solid #4f4f4f;
}
.letterIcon span {
    font-size: 9px;
    color: #6a6a6a;
    line-height: 16px;
    text-align: center;
    margin-left: 10px;
}
.address{
    width:380px;
    height: 16px;
    top: -3px;
    left:693px;
    position: relative ;
}
.address span {
    font-size: 9px;
    color: #6a6a6a;
    line-height: 16px;
    text-align: center;
    margin-left: 10px;
     cursor: pointer;
}
.contactInformation{
    /*width:450px;*/
    height: 16px;
    top: 12px;
    left:280px;
    position: relative ;
}
.contactInformation span{
    font-size: 9px;
    color: #6a6a6a;
    line-height: 16px;
    text-align: center;
    margin-left: -155px;
}
.m-lst{
    float: left;
    margin-right: 12px;
    margin-bottom: 28px;
}
.m-lst a{
    display: block;
}
.m-lst img{
    width: 100%;
}
/*右侧悬浮挂件*/
.m-float{
    position: fixed;
    bottom: 50px;
    right: 0;
    z-index: 1000;
}
.m-float img{
    vertical-align: bottom;
}
.m-float .u-download{
    position: relative;
}
.m-float .u-download .showQR{
    position: absolute;
    width: 120px;
    left: -121px;
    top:11px;
    display: none;
}
.m-float .fade{
    margin-top: 2px;
    width: 60px;
    overflow:hidden;
}
.m-float .fade ul{
    width: 120px;
}
.m-float .fade li{
    float: left;   
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #3c4856;
    cursor: pointer;
    color:#fff;
}
.m-float .fade li a{
    color:#fff;
}
.collect,.backToTop{
    display: none;
}
/*热门直播*/
.live-address{
    display: block;
    width: 230px;
    height: 130px;
    position: relative;
}
.play-mask{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: url(/images/play.png) center center rgba(26,33,41,0.5) no-repeat;
    display: none;
}
.live-address img{
    width: 100%;
    height: 100%;
}
.live-address span{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(23,26,33,0.8);
    height: 26px;
    line-height: 26px;
    display: inline-block;
    padding:0 5px;
    color:#fff;
}
.live-address i{
    color:#f36;
    font-size: 24px;
    line-height: 26px;
    vertical-align: middle;
}
.m-info{
    position: relative;
    padding-top: 8px;
    height: 56px;
    background: #fff;
}
.anchor-head{
    position: relative;
    float: left;
    margin-left: 2px;
    width: 50px;
    height: 46px;
    display: table-cell;
}
.anchor-head .head-icon{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.anchor-head .sex{
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: -3px;
    right: 0; 
}
.anchor-info{
    float: left;
    margin-left: 10px;
}
.anchor-id{
    font-size: 12px;
    color:#999;
}
.m-info .follow{
    position: absolute;
    right: 5px;
    bottom: 7px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color:#fff;
    background: #f36;
    border:none;
    border-radius: 2px;
}





