*{margin:0;padding:0;}
body{
	background:#101734;
}
.g-container{
	max-width: 800px;
	margin:0 auto;
	width: 100%;
	overflow: hidden;
	font-family: '微软雅黑';
/*	background: url("/activity/images/pro_bottom.jpg") center bottom no-repeat;
	background-size: 100%;*/
}
.m-contop,.m-concenter{
	position:relative;
}
.m-contop .vedioTop{
	width:74.5%;
	position:absolute;
	top:80.5%;
	left:14.2%;
}
.m-concenter .vedio{
	width:73.5%;
	position:absolute;
	top:42.4%;
	left:12%;
}
.m-contop img{
	width: 100%;
	vertical-align: top;
}
.m-concenter img{
	width: 100%;
	vertical-align: top;
}
.m-conbottom{

	position:relative;
}
.m-conbottom .conCenTop{
	position:relative;
}
.m-conbottom .conCenContent{
	position:absolute;
	top:-2.2%;
	left:0;
}
.conTop{
	margin-top:30%;
}
.conTop img{
	width: 100%;
	height:70%;
	vertical-align: top;
}
.m-conCenter .conCenTop{
	height:53px;
	line-height:53px;
	text-align:center;
	background:rgba(101,151,193,0.25);
	margin-bottom:5%;
}
.conCenTop h1{
	font-size:20px;
	color:#6597c1;
}
.m-conCenter .conCenContent{
	width:100%;
	height:325px;
	position: relative;
	overflow-x: hidden;
	/*background:#151a38;*/
/*	background:rgba(21,26,56,0.25);*/
}
.conCenContent  #switch a{
	background:#253656;
	display:inline-block;
	width:16.66%;
	height:55px;
	line-height:55px;
	text-align:center;
	font-size:14px;
	color:#6597c1;
	text-decoration:none;
}
#switch a.switchColor{
	background:#142050;
	color:#eb5e42;
}
.sumSwitch .rightswitch{
	width:100%;
	list-style:none;
	position: absolute;
	box-sizing: border-box;
}
.rightswitch li {
	height:55px;
	overflow:hidden;
}
.rightswitch li span{
	display:inline-block;
	width:50%;
	height:55px;
	line-height:55px;
	float:left;
	font-size:13px;
	color:#6293bd;
	border-bottom:1px solid #6293bd;
	text-align:left;
	padding-left:2.25%;
	box-sizing: border-box;
}
li span.an{
	display: inline;
	color:#eb5e42;
	border:none;
	float:none;
}
li span.ani{
	color:#eb5e42;
}
.m-conBContent{
	position:relative;
	top:0%;
}
.m-cTop {
	margin-top:-0.5%;
	box-shadow:2px 0px 0px 1px #0c385c;
}
.m-cTop img{
	width:100%;
	vertical-align: top;

}
.m-ToObtain{
	margin:20% 0% 10% 6%;
	position: absolute;
	left:15%;
	top:15%;
}
.m-Download{
	margin:50% 0% 10% 6%;
	position: absolute;
	left:15%;
	top:15%;
}
.m-ToObtain a,.m-Download a{
	position: absolute;
	display:inline-block;
	width:200px;
	height:80px;
	line-height: 40px;
	text-align: center;
	background: url("/activity/images/button.png") no-repeat;
	background-size: 100%;
	font-size:18px;
	color:#fffef0;
	text-decoration:none;
}