body{
	width: 100%;
	overflow-x: hidden;
	background: #121936;
}
.g-ct{
	position: relative;
    margin-top: -180px;
}
.g-ct .video-bg{
	width: 100%;
	vertical-align: bottom;
}
.videoBox{
	position: relative;
}
.videoBox .videoContainer{
	position: absolute;
	top: 153px;
	left: 320px;
	width: 590px;
	height: 300px;
	background: #000;
}
.videoBox .video-bottom{
	top:625px;
	left: 316px;
}
.recruitbg{
	margin:0 auto;
	width: 100%;
	min-width: 1200px;
}
.g-levels{
	position: relative;
	margin-top: 50px;
}
.g-levels img{
	position: relative;
	left: 50%;
	margin-left: -960px;
}
.comWidth{
	position: relative;
}
.u-toindex{
	position: absolute;
	top: 30px;
	right: 200px;
	background: url('/activity/images/button_net.png');
	background-size: 100%;
	display: block;
	width: 365px;
	height: 85px;
	line-height: 70px;
	color: #fff;
	font-size: 28px;
	text-indent: 60px;
	cursor: pointer;
	z-index: 1;
}
.levelBox{
	position: absolute;
	top: 222px;
	width: 790px;
	left: 50%;
	margin-left: -391px;
	height: 600px;
	overflow-x: hidden;
}
.level-nav{
	position: relative;
	background: rgba(101,151,193,0.25); 
}
.level-nav li{
	float: left;
	width: 131.6px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color:#69c;
	font-size: 17px;
	cursor: pointer;
}
.level-nav li.current{
	background: #142050;
	color:#78c9cc;
}
.rules table{
	margin-left: 50px;
}
.rules td{
	width: 50%;
	border-bottom:1px solid #15233e;
	text-indent: 16px;
	color:#69c;
	line-height: 60px;
	font-size: 16px;
}
.rules .orange{
	font-size: 20px;
	color: #f63;
	vertical-align: bottom;
}
.rules{
	position: absolute;
	top:50px;
	left: 790px;
	width: 500px;
}
.show{
	left: 0;
}
.side{
	position: fixed;
	right: 30px;
	top:10%;
	width: 160px;
}
.side img{
	width: 100%;
	margin-top: 5px;
}