<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据分享</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" href="/activity/css/swiper.min.css">
    <link rel="stylesheet" href="/activity/css/animate.min.css">
    <link rel="stylesheet" href="/activity/css/dataSwitch.css">
    <script src="/jquery.js"></script>
    <script src="/jquery.sha1.js"></script>
	<script src="/wxjsapi.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		var _hmt = _hmt || [];
		(function() {
	  		var hm = document.createElement("script");
	  		hm.src = "https://hm.baidu.com/hm.js?1869b3a9db6347d35265d4d340edfd0a";
	  		var s = document.getElementsByTagName("script")[0]; 
	  		s.parentNode.insertBefore(hm, s);
		})();

		enableWxShare({
			appId: 'wxf96f728533f32fa8',
			ticket: '{{ticket}}',
			title: '王者荣耀上铂金=199点券，“排好队，一个一个来!”',		
			imgUrl: 'http://img.wangyuhudong.com/uploads/imgs/live/2017/yuerlogo.png',
			desc: 'S6赛季来和娱儿直播决战王者峡谷，千元大奖等你领！'
		})
	</script>
</head>
<body>
<div class="g-container">
	<div class="m-startpage">
		<img src="/activity/images/data_bg.jpg">
		<div class="u-stotal">

			<div class="u-switch">
				<i>人气财富榜</i><i class="u-sright">直播劳模榜</i>
			</div>
			<div class="switchs">
				<div class="switch-content switchtss">
					<ul>
						{% for datas in dataShow.giftList %}
						<li>
							{% if loop.index < 10 %}
							<span class="scone">0{{loop.index}}</span>
							{% else %}
							<span class="scone">{{loop.index}}</span>
							{% endif %}
							<img src="http://img.wangyuhudong.com/{{datas.icon}}" class="sctwo">
							<span class="scthree">{{datas.nickname}}</span>
							<span class="scfour">
								<span class="scfouro">{{datas.total_gift}}</span>
							鱼币</span>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="switch-content switchts">
					<ul>
						{% for datash in dataShow.durationList %}
						<li>
							<span class="scone">01</span>
							<img src="http://img.wangyuhudong.com/{{datash.icon}}" class="sctwo">
							<span class="scthree">{{datash.nickname}}</span>
							<span class="scfour">
								<span class="scfouro">{{datash.duration}}</span>分钟</span></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			
			<div class="u-canc">
				<img src="/activity/images/data_switch.png" id="dataswitch">
			</div>
		</div>
	</div>
	<div class="g-containers">
		<div class="swiper-container">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide" id="shareone">
		        	<img src="/activity/images/data_onebg.jpg">
		        	<div class="m-float m-fbutton">
		        		<!-- <div class="oneblock">
		        			{% if datainfo.user_sex == 0 %}
							<p>你属于这<span>70%</span></p>
							{% else %}
							<p>你属于这<span>30%</span></p>
							{% endif %}
		        		</div> -->
		        		<img src="/activity/images/data_xz.png">
		        	</div>
		        </div>
		        <div class="swiper-slide" id="sharetwo">
		        	<img src="/activity/images/data_two.jpg">
		        	<div class="m-float m-twoblock">
		        		<div class="u-in">
		        			<div class="u-icon"><img src="/activity/images/icon.png"></div>
		        			<p class="infirst">娱儿直播<span>sss</span>的主播成绩单</p>
		        		</div>
		        		<div class="u-dates">
		        			<!-- <div id="total">
		        				<span class="t_num">{{datainfo.daily_max_fans_date}}</span>月
		        				<span class="t_num"></span>日
		        			</div> -->
		        			<p class="right">你来到娱儿报到注册</p>

		        			<div class="left u-datespec">
		        				<img src="/activity/images/1.png" class="specnum"><span>月</span>
		        				<img src="/activity/images/2.png" class="specnum"><span>日</span>
		        			</div>
		        			<p class="lefts">第一次开播成长，总需要迈出那勇敢的第一步</p>
		        			<!-- else -->
		        			<p class="lefts">你的第一次开播，将会是什么时候</p>
		        			<p class="lefts">第一次开播成长，总需要迈出那勇敢的第一步</p>
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide" id="sharethree">
		        	<img src="/activity/images/data_three.jpg">
		        	<div class="m-float m-threeblock">
		        		<div class="threeblock">
		        			<div class="left threetop">
		        				<img src="/activity/images/1.png" class="specnum"><span>月</span>
		        				<img src="/activity/images/2.png" class="specnum"><span>日</span>
		        			</div>
		        			<p class="lefts"><span>{{datainfo.first_fan_name}}</span>关注了你，这是你的第一位粉丝</p>
		        			<!-- else -->
		        			<p class="centers threetop">你还没有收到粉丝的关注</p>


		        			<div class="right threecenter">
		        				<img src="/activity/images/1.png" class="specnum"><span>月</span>
		        				<img src="/activity/images/2.png" class="specnum"><span>日</span>
		        			</div>
		        			<p class="rights rightsix">收获了 <span id="showTime">{{datainfo.total_fans}}</span>位粉丝</p>
		        			<p class="rights threebottom">这是你开播以来赢得粉丝关注最多的一天</p>
		        			<p class="lefts">截止今天，你一共获得了<span id="showTime">{{datainfo.daily_max_fans}}</span>位小伙伴的关注</p>
		        			<!-- else -->
		        			<p class="centers">多多直播才能涨人气哦！</p>
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide" id="sharefour">
		        	<img src="/activity/images/data_four.jpg">
		        	<div class="m-float m-fourblock">
		        		<div class="fourblock">
		        			<div class="left fourtop">
		        				<img src="/activity/images/1.png" class="specnum"><span>月</span>
		        				<img src="/activity/images/2.png" class="specnum"><span>日</span>
		        			</div>
		        			<p class="lefts">关注了<span>{{datainfo.first_concern}}</span></p>
		        			<!-- else -->
		        			<p class="centers fourtop">你还没有关注任何主播</p>

		        			<p class="lefts fourcenter">在这里，有志同道合的小伙伴一起成长</p>
		        			<p class="centers">截止今天，你一共关注了<span id="showTime">{{datainfo.total_concern}}</span>位小伙伴</p>
		        			<p class="centers fourbottom">他们给予你看待游戏和世界的角度</p>
		        			<!-- else -->
		        			<p class="centers fourcenter">点一点手指关注他们打开新世界的大门吧！</p>
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide" id="sharefive">
		        	<img src="/activity/images/data_five.jpg">
		        	<div class="m-float m-fiveblock">
		        		<div class="fiveblock">
		        			<div class="left fivetop fivepublic">
		        				<img src="/activity/images/1.png" class="specnum"><span>月</span>
		        				<img src="/activity/images/2.png" class="specnum"><span>日</span>
		        			</div>
		        			<p class="lefts fivepublic">你收到了来自<span>{{datainfo.first_get_gift_user_name}}</span>的第一份礼物</p>
		        			<!-- else -->
		        			<p class="centers ">你还没有收到任何礼物</p>
		        			<p class="centers ">赶紧开启手播，秀一下你的酷炫的操作</p>

		        			<p class="lefts fivepublic">目前已经累计获得<span id="showTime">{{datainfo.total_yuer_coin}}</span>鱼币的礼物</p>
		        			<p class="lefts fivepublic"><span>{{datainfo.first_contribution_user}}</span>是你贡献榜的第一名</p>
		        			<!-- else -->
		        			<!-- 空白 -->
		        			<div class="right fivecenter">
		        				<img src="/activity/images/1.png" class="specnum"><span>月</span>
		        				<img src="/activity/images/2.png" class="specnum"><span>日</span>
		        			</div>
		        			<p class="rights">你为<span>{{datainfo.first_send_gift_user_name}}</span>送出了你的第一份礼物</p>
		        			<p class="rights fivebottom">目前你一共送出<span id="showTime">{{datainfo.total_send_yuer_coin}}</span>鱼币的礼物</p>
		        			<p class="lefts">除了弹幕，礼物能更好的表达你对主播的喜爱与崇拜</p>
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide" id="sharesix">
					<img src="/activity/images/data_six.jpg">
		        	<div class="m-float m-sixblock">
		        		<div class="sixblock">
		        			<p class="lefts sexpublic"><span>{{datainfo.max_duration_game}}</span>是你直播时间最长的游戏</p>
		        			<p class="lefts sexpublic"><span>{{datainfo.max_times_game}}</span>是你直播次数最多的游戏</p>
		        			<p class="lefts sexcenter spub">这是你来到娱儿的第<span><img src="/activity/images/1.png"></span>天</p>
		        			<p class="lefts spub">累计开播<span><img src="/activity/images/3.png"><img src="/activity/images/2.png"></span>次</p>
		        			<p class="lefts spub">开播时长超过了<span><img src="/activity/images/3.png"><img src="/activity/images/data_num.png"></span>的娱儿主播</p>
		        			<!-- else -->
		        			<p class="centers ">这是你来到娱儿的第<span><img src="/activity/images/1.png"></span>天</p>
		        			<p class="centers sexcenter spub">王者荣耀、球球大作战、阴阳师...</p>
		        			<p class="centers spub">手游世界里的那一款才是你的本命游戏？</p>
		        			<p class="centers spub">打开娱儿手播，开启直播之旅吧</p>
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide" id="shareseven">
		        	<img src="/activity/images/data_seven.jpg">
		        	<div class="m-float m-sevenblock">
		        		<img src="/activity/images/data_sevencopy.png" class="sevtop" id="">
		        		<img src="/activity/images/data_sevenshare.png" class="sevbottom" id="disableds">
		        	</div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="tips" style="display:none">点击右上角分享给朋友</div>
</div>
	<script src="/activity/js/swiper.min.js"></script>
    <script src="/activity/js/swiper.animate.min.js"></script>
    <script src="/activity/js/animateBackground-plugin.js"></script>
    <script type="text/javascript">
    	$(function(){
    		$("#dataswitch").click(function(){
    			$(".m-startpage").hide();
    			$(".g-containers").show();
    		})
    		// tab切换
    		if (navigator.userAgent.match(/(iPhone|iPod|iPad);?/i) || navigator.userAgent.match(/android/i)) {
				// window.location.href = '/activity/recruit';
	        }else{
	        	// window.location.href = '/activity/hrecruit';
	        }
		    $(".u-switch i").on("click", function() {
		    	// 第二个的名字
		    	// (".switchts").eq($(this).index()).animate({left:0},300)
		    	// 两个共同的名字
			    $(".switch-content").eq($(this).index()).animate({left:0},300).siblings('.switch-content').css('left','-100%');
			})
		    $(".scthree").each(function(){
		       $(this).text($(this).text().substr(0,4)+"***");
		    });

			var mySwiper = new Swiper ('.swiper-container', {

			})       
    		function show_num(n){
				var it = $(".t_num i");
				var len = String(n).length;
				for(var i=0;i<len;i++){
					if(it.length<=i){
						$(".t_num").append("<i></i>");
					}
					var num=String(n).charAt(i);
					var y = -parseInt(num)*30;
					var obj = $(".t_num i").eq(i);
					obj.animate({
						backgroundPosition :'(0 '+String(y)+'px)' 
						}, 'slow','swing',function(){}
					);
				}
				$("#cur_num").val(n);
			}


			function dataUp(id,domEnd){
				// 得到的值
				var _dom = id;
				var _domStart = _dom.text();
				// 最后的值
				var _domEnd = domEnd;
				// 次数
				var _interCount = 5;
				var _step = parseInt(_domEnd / _interCount);
				var _setInterval = setInterval(function(){
				// 稳定拉回
				if(parseInt(_dom.text()) >= _domEnd){
					_dom.text(_domEnd)
					clearInterval(_setInterval);return;
				}
				// 定时器
					_dom.text(Math.floor(parseInt(_dom.text())) + _step);
				},100)
			}
			dataUp($("#showTime"),123);
			$("#disableds").on("click",function(){
				showTip();
			})
			function showTip(text){
				$('.tips').show();
	        	setTimeout(function(){
	            	$('.tips').hide();
	        	},1000);
			}

			$('.sevtop').click(function(){
				// $(".m-startpage").show();
				mySwiper.slideTo(0,false);
			})
    	})
    </script>
     
</body>
</html>