<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
	<title>火星工厂王者荣耀大赛报名</title>
	<style>
		*{
			margin: 0;
			padding:0;
		}
		.g-mobile-wrap{
			max-width: 800px;
			margin:0 auto;
		}
		img{
			width: 100%;
			vertical-align: bottom;
		}
		.g-mobile-wrap a{
			position: absolute;
			bottom: 10px;
			display: block;
			width: 65%;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 20px;
			background: #2a221f;
			color:#ecbd3a;
			left: 50%;
    		transform: translate(-50%,0);
    		text-decoration: none;
		}
	</style>
</head>
<body>
	<div class="g-mobile-wrap">
	    <div style="position:relative;">
	    	<img src="/activity/images/mars1.jpg" alt="">
	    	<a href="http://marsfactory.mikecrm.com/NwBWeQO">报名参赛</a>
	    </div>
	    <img src="/activity/images/mars2.jpg" alt="">
	    <img src="/activity/images/mars3.jpg" alt="">
	    <img src="/activity/images/mars4.jpg" alt="">
	    <img src="/activity/images/mars5.jpg" alt="">
	</div>
</body>
</html>