<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
	<title>百万主播招募活动页</title>
	<script src="/jquery.js"></script>
	<link rel="stylesheet" href="/css/propage.css">
</head>
<body>
	<div class="g-container">
		<div class="m-conTop">
			<img src="/activity/images/propage_page.jpg" alt="">
		</div>
		<div class="m-conVedioT">
			<div class="conVTop">
				<h1>你的星梦，这里实现！</h1>
			</div>
			<div class="conVBottom">
				<video width="100%" height="100%" id="player1" poster="" controls="" autoplay="" webkit-playsinline playsinline style="margin:0;"><source type="application/x-mpegURL" src="http://pili-live-hls.wangyuhudong.com/wyds/wyds_4038872.m3u8" /></video>
			</div>
		</div>
		<div class="m-conVedioB">
			<div class="conVBtop">
				<h2>百万主播招募资金，等你来瓜分！</h2>
				<p>排名靠前的用户将会获得娱儿TV优先签约的机会！</p>
			</div>
			<div class="conVBbottom">
				<video width="100%" height="100%" id="player1" poster="" controls="" autoplay="" webkit-playsinline playsinline style="margin:0;"><source type="application/x-mpegURL" src="http://pili-live-hls.wangyuhudong.com/wyds/wyds_4038872.m3u8" /></video>
			</div>
		</div>
		<div class="m-conCenter">
			<div class="conCenTop">
				<h1>主播分级细则</h1>
			</div>
			<div class="conCenContent">
				<div class="sumSwitch">
					<div id="switch">
						<div id="biubiubiu"></div>
						<a href="" class="switchColor">SS级</a><a href="">S级</a><a href="">A级</a><a href="">B级</a><a href="">C级</a><a href="">D级</a>

					</div>
					<ul class="rightswitch ">
						<li><span>等级</span><span>SS级</span></li>
						<li><span>称号</span><span>娱之神</span></li>
						<li><span>日均直播（小时）</span><span>4小时*20天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span>3000</span></li>
						<li><span>月浏览保底（人）</span><span>200000</span></li>
						<li><span>底薪（元）</span><span>8000</span></li>
						<li><span>付费礼物分成</span><span>5:5</span></li>
						<li><span>预期礼物收益（元）</span><span>190，000</span></li>
						<li><span>最终底薪</span><span>103，000
</span></li>
					</ul>
					<ul class="rightswitch switchCon">
						<li><span>等级</span><span>S级</span></li>
						<li><span>称号</span><span>娱之王者</span></li>
						<li><span>日均直播（小时）</span><span>4小时*20天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span>1000</span></li>
						<li><span>月浏览保底（人）</span><span>100000</span></li>
						<li><span>底薪（元）</span><span>4000</span></li>
						<li><span>付费礼物分成</span><span>5：5</span></li>
						<li><span>预期礼物收益（元）</span><span>38000</span></li>
						<li><span>最终底薪</span><span>23，000</span></li>
					</ul>
					<ul class="rightswitch switchCon">
						<li><span>等级</span><span>A级</span></li>
						<li><span>称号</span><span>娱播霸</span></li>
						<li><span>日均直播（小时）</span><span>4小时*20天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span>500</span></li>
						<li><span>月浏览保底（人）</span><span>20000</span></li>
						<li><span>底薪（元）</span><span>2000</span></li>
						<li><span>付费礼物分成</span><span>5：5</span></li>
						<li><span>预期礼物收益（元）</span><span>19，000</span></li>
						<li><span>最终底薪</span><span>11，5000</span></li>
					</ul>
					<ul class="rightswitch switchCon">
						<li><span>等级</span><span>B级</span></li>
						<li><span>称号</span><span>娱主神</span></li>
						<li><span>日均直播（小时）</span><span>4小时*20天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span>100</span></li>
						<li><span>月浏览保底（人）</span><span>10000</span></li>
						<li><span>底薪（元）</span><span>1000</span></li>
						<li><span>付费礼物分成</span><span>5：5</span></li>
						<li><span>预期礼物收益（元）</span><span>8400</span></li>
						<li><span>最终底薪</span><span>5200</span></li>
					</ul>
					<ul class="rightswitch switchCon">
						<li><span>等级</span><span>C级</span></li>
						<li><span>称号</span><span>小娱儿</span></li>
						<li><span>日均直播（小时）</span><span>3小时*20天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span>50</span></li>
						<li><span>月浏览保底（人）</span><span>2000</span></li>
						<li><span>底薪（元）</span><span>500</span></li>
						<li><span>付费礼物分成</span><span>5：5</span></li>
						<li><span>预期礼物收益（元）</span><span>5600</span></li>
						<li><span>最终底薪</span><span>3300</span></li>
					</ul>
					<ul class="rightswitch switchCon" >
						<li><span>等级</span><span>D级</span></li>
						<li><span>称号</span><span>小虾米</span></li>
						<li><span>日均直播（小时）</span><span>2小时*20天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span>—</span></li>
						<li><span>月浏览保底（人）</span><span>500</span></li>
						<li><span>底薪（元）</span><span>200</span></li>
						<li><span>付费礼物分成</span><span>—</span></li>
						<li><span>预期礼物收益（元）</span><span>—</span></li>
						<li><span>最终底薪</span><span>200</span></li>
					</ul>
				</div>
			</div>
			<div class="m-conBContent">
				<div class="m-cTop">
					<h1>如何成为娱儿TV主播？</h1>
				</div>
				<div class="m-ToObtain">
				<a href="http://qm.qq.com/cgi-bin/qm/qr?k=XV36m7Kd4bLQPhQKKeZVxeAgii754bNH">获取QQ群号</a>
				</div>
				<div class="m-Download">
					<a href="">下载娱儿TV</a>
				</div>
			</div>
		</div>
		<!-- <div class="m-conBottom">
			<img src="/activity/images/propage_bottom.jpg" alt="">
			<div class="m-conBContent">
				<div class="m-cTop">
					<h1>如何成为娱儿TV主播？</h1>
				</div>
				<div class="m-ToObtain">
				<a href="http://qm.qq.com/cgi-bin/qm/qr?k=XV36m7Kd4bLQPhQKKeZVxeAgii754bNH">获取QQ群号</a>
				</div>
				<div class="m-Download">
					<a href="">下载娱儿TV</a>
				</div>
			</div>
			
		</div> -->
	</div>
	<script type="text/javascript">
		$(function() {
			$("#switch a").on('click', function(event) {
		        event.preventDefault();
		        $(this).addClass("switchColor").siblings().removeClass("switchColor");
		        $(".sumSwitch .rightswitch").eq($(this).index() - 1).show().siblings('.rightswitch').hide();
		    });
		     // $("#switch a:eq(0)").trigger("click");
			$("#switch #biubiubiu").css({width:"48px",left:0,position:"absolute",height:"3px",background:"#78c9cc"})
			$("#switch a").on("click",function(e){
			    $("#switch #biubiubiu").animate({left:$(this).position().left},300)
			})
		});
	</script>
</body>
</html>