<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
	<title>百万主播招募活动页</title>
	<script src="/jquery.js"></script>
	<link rel="stylesheet" href="/css/propage.css">
	<script>
		var ua = navigator.userAgent.toLowerCase(); 
		if (!navigator.userAgent.match(/(iPhone|iPod|iPad);?/i) || !navigator.userAgent.match(/android/i)) {
			// window.location.href = '/activity/recruit';
        }else{
        	window.location.href = '/activity/recruit';
        }
	</script>
</head>
<body>
	<div class="g-container">
		<div class="m-contop">
			<img src="/activity/images/pro_top.jpg">
			<div class="vedioTop">
				<video width="100%" height="100%" id="player1" poster="" controls="" autoplay="" webkit-playsinline playsinline style="margin:0;"><source type="application/x-mpegURL" src="http://pili-live-hls.wangyuhudong.com/wyds/wyds_4038872.m3u8" /></video>
			</div>
		</div>
		<div class="m-concenter">
			<img src="/activity/images/pro_center.jpg">
			<div class="vedio">
				<video width="100%" height="100%" id="player1" poster="" controls="" autoplay="" webkit-playsinline playsinline style="margin:0;"><source type="application/x-mpegURL" src="http://pili-live-hls.wangyuhudong.com/wyds/wyds_4038872.m3u8" /></video>
			</div>
		</div>
		<div class="m-conbottom">
			<div class="conCenTop">
				<img src="/activity/images/pro_bottom.jpg">
			</div>
			<div class="conCenContent">
				<div class="conTop">
					<img src="/activity/images/pro_btop.jpg">
				</div>
				<div class="sumSwitch">
					<div id="switch">
						<div id="biubiubiu"></div>
						<a href="" class="switchColor">SS级</a><a href="">S级</a><a href="">A级</a><a href="">B级</a><a href="">C级</a><a href="">D级</a>

					</div>
					<ul class="rightswitch ">
						<li><span>等级</span><span>SS级</span></li>
						<li><span>称号</span><span>娱之神</span></li>
						<li><span>日均直播（小时）</span><span>4小时*<span class="an">20</span>天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span class="ani">3000</span></li>
						<li><span>月浏览保底（人）</span><span class="ani">200000</span></li>
						<li><span>底薪（元）</span><span class="ani">8000</span></li>
						<li><span>付费礼物分成</span><span class="ani">5:5</span></li>
						<li><span>预期礼物收益（元）</span><span class="ani">190000</span></li>
						<li><span>最终底薪</span><span class="ani">103000</span></li>
					</ul>
					<ul class="rightswitch switchCon">
						<li><span>等级</span><span>S级</span></li>
						<li><span>称号</span><span>娱之王者</span></li>
						<li><span>日均直播（小时）</span><span>4小时*<span class="an">20</span>天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span class="ani">1000</span></li>
						<li><span>月浏览保底（人）</span><span class="ani">100000</span></li>
						<li><span>底薪（元）</span><span class="ani">4000</span></li>
						<li><span>付费礼物分成</span><span class="ani">5：5</span></li>
						<li><span>预期礼物收益（元）</span><span class="ani">38000</span></li>
						<li><span>最终底薪</span><span class="ani">23000</span></li>
					</ul>
					<ul class="rightswitch switchCon">
						<li><span>等级</span><span>A级</span></li>
						<li><span>称号</span><span>娱播霸</span></li>
						<li><span>日均直播（小时）</span><span>4小时*<span class="an">20</span>天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span class="ani">500</span></li>
						<li><span>月浏览保底（人）</span><span class="ani">20000</span></li>
						<li><span>底薪（元）</span><span class="ani">2000</span></li>
						<li><span>付费礼物分成</span><span>5：5</span></li>
						<li><span>预期礼物收益（元）</span><span class="ani">19000</span></li>
						<li><span>最终底薪</span><span class="ani">115000</span></li>
					</ul>
					<ul class="rightswitch switchCon">
						<li><span>等级</span><span>B级</span></li>
						<li><span>称号</span><span>娱主神</span></li>
						<li><span>日均直播（小时）</span><span>4小时*<span class="an">20</span>天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span class="ani">100</span></li>
						<li><span>月浏览保底（人）</span><span class="ani">10000</span></li>
						<li><span>底薪（元）</span><span class="ani">1000</span></li>
						<li><span>付费礼物分成</span><span class="ani">5：5</span></li>
						<li><span>预期礼物收益（元）</span><span class="ani">8400</span></li>
						<li><span>最终底薪</span><span class="ani">5200</span></li>
					</ul>
					<ul class="rightswitch switchCon">
						<li><span>等级</span><span>C级</span></li>
						<li><span>称号</span><span>小娱儿</span></li>
						<li><span>日均直播（小时）</span><span>3小时*<span class="an">20</span>天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span class="ani">50</span></li>
						<li><span>月浏览保底（人）</span><span class="ani">2000</span></li>
						<li><span>底薪（元）</span><span class="ani">500</span></li>
						<li><span>付费礼物分成</span><span class="ani">5：5</span></li>
						<li><span>预期礼物收益（元）</span><span class="ani">5600</span></li>
						<li><span>最终底薪</span><span class="ani">3300</span></li>
					</ul>
					<ul class="rightswitch switchCon" >
						<li><span>等级</span><span>D级</span></li>
						<li><span>称号</span><span>小虾米</span></li>
						<li><span>日均直播（小时）</span><span>2小时*<span class="an">20</span>天/月</span></li>
						<li><span>收到付费礼物保底（元）</span><span class="ani">—</span></li>
						<li><span>月浏览保底（人）</span><span class="ani">500</span></li>
						<li><span>底薪（元）</span><span class="ani">200</span></li>
						<li><span>付费礼物分成</span><span class="ani">—</span></li>
						<li><span>预期礼物收益（元）</span><span class="ani">—</span></li>
						<li><span>最终底薪</span><span class="ani">200</span></li>
					</ul>
				</div>
			</div>
			
		</div>
		<div class="m-conBContent">
				<div class="m-cTop">
					<img src="/activity/images/pro_bbott.jpg">
				</div>
				<div class="m-ToObtain">
				<a href="http://qm.qq.com/cgi-bin/qm/qr?k=XV36m7Kd4bLQPhQKKeZVxeAgii754bNH">获取QQ群号</a>
				</div>
				<div class="m-Download">
					<a href="http://yuerapi.wangyuhudong.com/v4/live/download">下载娱儿TV</a>
				</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			var width=$('#switch').width();
			$('.switchCon').css('marginLeft',width+'px');
			$("#switch a").on('click', function(event) {
		        event.preventDefault();
		        $(this).addClass("switchColor").siblings().removeClass("switchColor");
		       $(".rightswitch").eq($(this).index()-1).animate({marginLeft:0},300).siblings('.rightswitch').css('marginLeft',width+'px');
		    });
		     // $("#switch a:eq(0)").trigger("click");
			$("#switch #biubiubiu").css({width:"16.66%",left:0,position:"absolute",height:"3px",background:"#78c9cc"})
			$("#switch a").on("click",function(e){
			    $("#switch #biubiubiu").animate({left:$(this).position().left},300)
			})
		});
	</script>
</body>
</html>