<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主播招募</title>
	<link rel="stylesheet" href="/css/basic.css">
	<link rel="stylesheet" href="/css/recruit.css">
	<script src="/jquery.js"></script>
	<script src="/activity/build/mediaelement-and-player.min.js"></script>
	<link rel="stylesheet" href="/activity/build/mediaelementplayer.min.css" />
	<script>
		var ua = navigator.userAgent.toLowerCase(); 
		if (navigator.userAgent.match(/(iPhone|iPod|iPad);?/i) || navigator.userAgent.match(/android/i)) {
			window.location.href = '/activity/propage';
        }
        if(navigator.userAgent.indexOf("MSIE")>0){   
		    if(navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0 || navigator.userAgent.indexOf("MSIE 8.0")>0 || navigator.userAgent.indexOf("MSIE 9.0")>0 || navigator.userAgent.indexOf("MSIE 10.0")>0){  
		    	alert('请使用ie10以上版本或Chrome浏览器浏览！');
		    }     
		} 
	</script>
</head>
<body>
	<div class="g-bd">
		<img src="/activity/images/recruit_bg.png" alt="" class="recruitbg">
		<div class="g-ct">
			<div class="comWidth">
				<a href="/" target="_blank" class="u-toindex">进入娱儿TV官网</a>
				<div class="videoBox">
					<img src="/activity/images/recruit_middle.png" alt="" class="video-bg">
					<div class="videoContainer">
						<video id="player1" width="100%" height="300" poster="/activity/images/poster.jpg" controls="" autoplay="" preload="auto" loop="loop" webkit-playsinline playsinline style="margin:0;" src="http://img.wangyuhudong.com/uploads/imgs/live/yuer.mp4"></video>
					</div>
					<div class="videoContainer video-bottom">
						<video id="player2" width="100%" height="300" poster="/activity/images/poster.jpg" controls="" loop="loop" webkit-playsinline playsinline style="margin:0;" src="http://img.wangyuhudong.com/uploads/imgs/live/yuer2.mp4"></video>
					</div>
				</div>
			</div>
			<div class="g-levels">
				<img src="/activity/images/waves.png" alt="">
				<div class="levelBox">
					<div class="level-nav">
						<div class="slide"></div>
						<ul class="f-cb">
							<li class="current">SS级</li>
							<li>S级</li>
							<li>A级</li>
							<li>B级</li>
							<li>C级</li>
							<li>D级</li>
						</ul>
					</div>
					<div class="rules show">
						<table width="100%">
							<tr>
								<td>称号</td>
								<td>娱之神</td>
							</tr>
							<tr>
								<td>日均直播（小时）</td>
								<td>4小时×<span  class="orange">20</span>天/月</td>
							</tr>
							<tr>
								<td>收到付费礼物保底（元）</td>
								<td class="orange">3000</td>
							</tr>
							<tr>
								<td>月浏览保底（人）</td>
								<td class="orange">200000</td>
							</tr>
							<tr>
								<td>底薪（元）</td>
								<td class="orange">8000</td>
							</tr>
							<tr>
								<td>付费礼物分成</td>
								<td class="orange">5:5</td>
							</tr>
							<tr>
								<td>预期礼物收益（元）</td>
								<td class="orange">190000</td>
							</tr>
							<tr>
								<td>最终底薪</td>
								<td class="orange">103000</td>
							</tr>
						</table>
					</div>
					<div class="rules">
						<table width="100%">
							<tr>
								<td>称号</td>
								<td>娱之王者</td>
							</tr>
							<tr>
								<td>日均直播（小时）</td>
								<td>4小时×<span  class="orange">20</span>天/月</td>
							</tr>
							<tr>
								<td>收到付费礼物保底（元）</td>
								<td class="orange">1000</td>
							</tr>
							<tr>
								<td>月浏览保底（人）</td>
								<td class="orange">100000</td>
							</tr>
							<tr>
								<td>底薪（元）</td>
								<td class="orange">4000</td>
							</tr>
							<tr>
								<td>付费礼物分成</td>
								<td class="orange">5:5</td>
							</tr>
							<tr>
								<td>预期礼物收益（元）</td>
								<td class="orange">38000</td>
							</tr>
							<tr>
								<td>最终底薪</td>
								<td class="orange">23000</td>
							</tr>
						</table>
					</div>
					<div class="rules">
						<table width="100%">
							<tr>
								<td>称号</td>
								<td>娱播霸</td>
							</tr>
							<tr>
								<td>日均直播（小时）</td>
								<td>4小时×<span  class="orange">20</span>天/月</td>
							</tr>
							<tr>
								<td>收到付费礼物保底（元）</td>
								<td class="orange">500</td>
							</tr>
							<tr>
								<td>月浏览保底（人）</td>
								<td class="orange">20000</td>
							</tr>
							<tr>
								<td>底薪（元）</td>
								<td class="orange">2000</td>
							</tr>
							<tr>
								<td>付费礼物分成</td>
								<td class="orange">5:5</td>
							</tr>
							<tr>
								<td>预期礼物收益（元）</td>
								<td class="orange">19000</td>
							</tr>
							<tr>
								<td>最终底薪</td>
								<td class="orange">11500</td>
							</tr>
						</table>
					</div>
					<div class="rules">
						<table width="100%">
							<tr>
								<td>称号</td>
								<td>娱主神</td>
							</tr>
							<tr>
								<td>日均直播（小时）</td>
								<td>4小时×20天/月</td>
							</tr>
							<tr>
								<td>收到付费礼物保底（元）</td>
								<td>100</td>
							</tr>
							<tr>
								<td>月浏览保底（人）</td>
								<td>10000</td>
							</tr>
							<tr>
								<td>底薪（元）</td>
								<td>1000</td>
							</tr>
							<tr>
								<td>付费礼物分成</td>
								<td>5:5</td>
							</tr>
							<tr>
								<td>预期礼物收益（元）</td>
								<td>8400</td>
							</tr>
							<tr>
								<td>最终底薪</td>
								<td>5200</td>
							</tr>
						</table>
					</div>
					<div class="rules">
						<table width="100%">
							<tr>
								<td>称号</td>
								<td>小娱儿</td>
							</tr>
							<tr>
								<td>日均直播（小时）</td>
								<td>3小时×20天/月</td>
							</tr>
							<tr>
								<td>收到付费礼物保底（元）</td>
								<td>50</td>
							</tr>
							<tr>
								<td>月浏览保底（人）</td>
								<td>2000</td>
							</tr>
							<tr>
								<td>底薪（元）</td>
								<td>500</td>
							</tr>
							<tr>
								<td>付费礼物分成</td>
								<td>5:5</td>
							</tr>
							<tr>
								<td>预期礼物收益（元）</td>
								<td>5600</td>
							</tr>
							<tr>
								<td>最终底薪</td>
								<td>3300</td>
							</tr>
						</table>
					</div>
					<div class="rules">
						<table width="100%">
							<tr>
								<td>称号</td>
								<td>小虾米</td>
							</tr>
							<tr>
								<td>日均直播（小时）</td>
								<td>2小时×20天/月</td>
							</tr>
							<tr>
								<td>收到付费礼物保底（元）</td>
								<td>-</td>
							</tr>
							<tr>
								<td>月浏览保底（人）</td>
								<td>500</td>
							</tr>
							<tr>
								<td>底薪（元）</td>
								<td>200</td>
							</tr>
							<tr>
								<td>付费礼物分成</td>
								<td>-</td>
							</tr>
							<tr>
								<td>预期礼物收益（元）</td>
								<td>-</td>
							</tr>
							<tr>
								<td>最终底薪</td>
								<td>200</td>
							</tr>
						</table>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<div class="side">
		<img src="/activity/images/how.png" alt="">
		<img src="/activity/images/flag_1.png" alt="">
		<img src="/activity/images/group.png" alt="">
		<img src="/activity/images/flag_2.png" alt="">
		<img src="/activity/images/download.png" alt="">
	</div>
	<script>
		$('audio,video').mediaelementplayer({
			features: ['playpause','volume','fullscreen'],
		});
		$(".slide").css({width:"131.5px",left:0,position:"absolute",height:"3px",background:"#78c9cc"});
		$(".level-nav li").on('click', function() {
	        $(this).addClass("current").siblings().removeClass("current");
	        $(".rules").eq($(this).index()).animate({left:0},300).siblings('.rules').css('left',790+'px');
	        $(".slide").animate({left:$(this).position().left},100)
	    });
	</script>
</body>
</html>