<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主播招募</title>
	<link rel="stylesheet" href="/css/basic.css">
	<link rel="stylesheet" href="/css/recruit.css">
	<script src="/jquery.js"></script>
</head>
<body>
	<div class="g-bd">
		<img src="/activity/images/recruit_bg.jpg" alt="" class="recruitbg">
		<div class="g-ct">
			<div class="comWidth">
				<div class="recruitBox f-cb">
					<div class="recruit-l f-fl">
						<div class="re-title">
							你的星梦，这里实现！
						</div>
						<div class="video">
							<video width="100%" height="376" id="player1" poster="" controls="" webkit-playsinline playsinline style="margin:0;" src="/echo-hereweare.mp4"></video>
						</div>
					</div>
					<div class="recruit-r f-fr">
						<div class="re-title">
							如何成为娱儿TV主播?
						</div>
						<div class="joinus f-cb">
							<div class="group" style="margin-right: 40px;">
								<img src="/activity/images/flag_1.png" alt="" height="72">
								<img src="/activity/images/group.png" alt="">
							</div>
							<div class="group">
								<img src="/activity/images/flag_2.png" alt="" height="72">
								<img src="/activity/images/download.png" alt="">
							</div>
							<a href="/" class="u-toindex">进入娱儿TV官网</a>
						</div>
					</div>
				</div>
				<div class="recruitBox f-cb" style="margin-bottom: 0">
					<div class="recruit-l f-fl">
						<div class="re-title sp-title">
							百万主播招募资金，等你来瓜分！
							<p>排名靠前的用户将会获得娱儿TV优先签约的机会！</p>
						</div>
						<div class="video">
							<video width="100%" height="376" id="player2" poster="" controls="" webkit-playsinline playsinline style="margin:0;" src="/echo-hereweare.mp4"></video>
						</div>
					</div>
					<div class="recruit-r f-fr">
						<div class="re-title">
							主播分级细则?
						</div>
						<div class="levelBox">
							<div class="level-nav">
								<div class="slide"></div>
								<ul class="f-cb">
									<li class="current">SS级</li>
									<li>S级</li>
									<li>A级</li>
									<li>B级</li>
									<li>C级</li>
									<li>D级</li>
								</ul>
							</div>
							<div class="rules show">
								<table width="100%">
									<tr>
										<td>等级</td>
										<td>SS级</td>
									</tr>
									<tr>
										<td>称号</td>
										<td>娱之神</td>
									</tr>
									<tr>
										<td>日均直播（小时）</td>
										<td>4小时*20天/月</td>
									</tr>
									<tr>
										<td>收到付费礼物保底（元）</td>
										<td>3000</td>
									</tr>
									<tr>
										<td>月浏览保底（人）</td>
										<td>200000</td>
									</tr>
									<tr>
										<td>底薪（元）</td>
										<td>8000</td>
									</tr>
									<tr>
										<td>付费礼物分成</td>
										<td>5:5</td>
									</tr>
									<tr>
										<td>预期礼物收益（元）</td>
										<td>190，000</td>
									</tr>
									<tr>
										<td>最终底薪</td>
										<td>103，000</td>
									</tr>
								</table>
							</div>
							<div class="rules">
								<table width="100%">
									<tr>
										<td>等级</td>
										<td>S级</td>
									</tr>
									<tr>
										<td>称号</td>
										<td>娱之王者</td>
									</tr>
									<tr>
										<td>日均直播（小时）</td>
										<td>4小时*20天/月</td>
									</tr>
									<tr>
										<td>收到付费礼物保底（元）</td>
										<td>1000</td>
									</tr>
									<tr>
										<td>月浏览保底（人）</td>
										<td>100000</td>
									</tr>
									<tr>
										<td>底薪（元）</td>
										<td>4000</td>
									</tr>
									<tr>
										<td>付费礼物分成</td>
										<td>5:5</td>
									</tr>
									<tr>
										<td>预期礼物收益（元）</td>
										<td>38000</td>
									</tr>
									<tr>
										<td>最终底薪</td>
										<td>23，000</td>
									</tr>
								</table>
							</div>
							<div class="rules">
								<table width="100%">
									<tr>
										<td>等级</td>
										<td>A级</td>
									</tr>
									<tr>
										<td>称号</td>
										<td>娱播霸</td>
									</tr>
									<tr>
										<td>日均直播（小时）</td>
										<td>4小时*20天/月</td>
									</tr>
									<tr>
										<td>收到付费礼物保底（元）</td>
										<td>500</td>
									</tr>
									<tr>
										<td>月浏览保底（人）</td>
										<td>20000</td>
									</tr>
									<tr>
										<td>底薪（元）</td>
										<td>2000</td>
									</tr>
									<tr>
										<td>付费礼物分成</td>
										<td>5:5</td>
									</tr>
									<tr>
										<td>预期礼物收益（元）</td>
										<td>19，000</td>
									</tr>
									<tr>
										<td>最终底薪</td>
										<td>11，5000</td>
									</tr>
								</table>
							</div>
							<div class="rules">
								<table width="100%">
									<tr>
										<td>等级</td>
										<td>B级</td>
									</tr>
									<tr>
										<td>称号</td>
										<td>娱主神</td>
									</tr>
									<tr>
										<td>日均直播（小时）</td>
										<td>4小时*20天/月</td>
									</tr>
									<tr>
										<td>收到付费礼物保底（元）</td>
										<td>100</td>
									</tr>
									<tr>
										<td>月浏览保底（人）</td>
										<td>10000</td>
									</tr>
									<tr>
										<td>底薪（元）</td>
										<td>1000</td>
									</tr>
									<tr>
										<td>付费礼物分成</td>
										<td>5:5</td>
									</tr>
									<tr>
										<td>预期礼物收益（元）</td>
										<td>8400</td>
									</tr>
									<tr>
										<td>最终底薪</td>
										<td>5200</td>
									</tr>
								</table>
							</div>
							<div class="rules">
								<table width="100%">
									<tr>
										<td>等级</td>
										<td>C级</td>
									</tr>
									<tr>
										<td>称号</td>
										<td>小娱儿</td>
									</tr>
									<tr>
										<td>日均直播（小时）</td>
										<td>3小时*20天/月</td>
									</tr>
									<tr>
										<td>收到付费礼物保底（元）</td>
										<td>502000</td>
									</tr>
									<tr>
										<td>月浏览保底（人）</td>
										<td>2000</td>
									</tr>
									<tr>
										<td>底薪（元）</td>
										<td>500</td>
									</tr>
									<tr>
										<td>付费礼物分成</td>
										<td>5:5</td>
									</tr>
									<tr>
										<td>预期礼物收益（元）</td>
										<td>5600</td>
									</tr>
									<tr>
										<td>最终底薪</td>
										<td>3300</td>
									</tr>
								</table>
							</div>
							<div class="rules">
								<table width="100%">
									<tr>
										<td>等级</td>
										<td>D级</td>
									</tr>
									<tr>
										<td>称号</td>
										<td>小虾米</td>
									</tr>
									<tr>
										<td>日均直播（小时）</td>
										<td>2小时*20天/月</td>
									</tr>
									<tr>
										<td>收到付费礼物保底（元）</td>
										<td>-</td>
									</tr>
									<tr>
										<td>月浏览保底（人）</td>
										<td>500</td>
									</tr>
									<tr>
										<td>底薪（元）</td>
										<td>200</td>
									</tr>
									<tr>
										<td>付费礼物分成</td>
										<td>-</td>
									</tr>
									<tr>
										<td>预期礼物收益（元）</td>
										<td>-</td>
									</tr>
									<tr>
										<td>最终底薪</td>
										<td>200</td>
									</tr>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<script>
		$(".slide").css({width:"75px",left:0,position:"absolute",height:"3px",background:"#78c9cc"});
		$(".level-nav li").on('click', function() {
	        $(this).addClass("current").siblings().removeClass("current");
	        $(".rules").eq($(this).index()).animate({left:0},300).siblings('.rules').css('left',450+'px');
	        $(".slide").animate({left:$(this).position().left},100)
	    });
	</script>
</body>
</html>