<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
	<title>王者荣耀500点券任性领！</title>
	<script src="/jquery.js"></script>
	<script src="/jquery.sha1.js"></script>
	<script src="/wxjsapi.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<style>
		*{margin:0;padding:0;}
		body{max-width: 800px; margin:0 auto;}
		img{width: 100%;vertical-align: top;}
		.mid{
			position: relative;
		}
		.btn{
			display: block;
			position: absolute;
			width: 40%;
			left: 50%;
			top:0;
			margin-left: -20%;
		}
	</style>
	<script>
		var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?5f199d5d81411ab659081729f1f34008";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
		enableWxShare({
			appId: 'wxf96f728533f32fa8',
			ticket: '{{ticket}}',
			title: '王者荣耀500点券任性领！',		
			imgUrl: 'http://img.wangyuhudong.com/uploads/imgs/live/2017/yuerlogo.png',
			desc: '排位上铂金，点券轻松领。娱儿直播助你玩转王者荣耀！'
		})
	</script>
</head>
<body>
	<div class="g-bd">
		<img src="/activity/images/s7_1.jpg" alt="">
		<div class="mid">
			<img src="/activity/images/s7_2.jpg" alt="">
			<a href="https://jinshuju.net/f/rMvr8f" class="btn"><img src="/activity/images/s7_btn.png" alt=""></a>
		</div>
		<img src="/activity/images/s7_3.jpg" alt="">
	</div>
</body>
</html>