<!DOCTYPE html>
<html>
<head>
	<title>手游主播月入百万的真相在这里！</title>
	<title></title>
</head>
<style type="text/css">
	*{margin: 0; padding: 0;}
	body{font-family:Hiragino Sans GB W3,'微软雅黑',Heiti SC;width:100%;overflow-x: hidden;}
	.g-container{
		position:absolute;
		left:50%;
		margin-left:-960px;
	}
	img{
		border:0;
		vertical-align:top; 
	}
	#switch{
		position:relative;
		top:640px;
		left:50%;
		margin-left:-156px;
		background:transparent;
		cursor: pointer;
	}
</style>
<script>
	var ua = navigator.userAgent.toLowerCase(); 
	if (navigator.userAgent.match(/(iPhone|iPod|iPad);?/i) || navigator.userAgent.match(/android/i)) {
		window.location.href = '/cash/signup';
    }
</script>
<body>
	<div class="g-container">
		<div class="g-imgs">
			<img src="/activity/images/sw1.jpg">
			<img src="/activity/images/sw2.jpg">
			<img src="/activity/images/sw3.jpg">
			<img src="/activity/images/sw4.jpg">
			<img src="/activity/images/sw5.jpg">
		</div>
	</div>
	<img src="/activity/images/swbtn.png" id="switch">
	<script src="/jquery.js"></script>
	<script type="text/javascript">
		$("#switch").on("click",function(){
			window.open("http://yuertv.wangyuhudong.com/");
		})
	</script>
</body>
</html>