<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>天天狼人杀百万主播招募</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <style>
    	html{width:100%; height:100%; -webkit-tap-highlight-color:transparent;}
		body,ul,li,p,h3,h4,h2,em,button,input{margin: 0; padding: 0;}
		body{font-family:Hiragino Sans GB W3,'微软雅黑',Heiti SC; 
			font-size:62.5%; font-style:normal; 
			max-width: 800px; margin:0 auto;
			height:100%; color:#9da4ad; 
			background: #17121d; 
			overflow-x:hidden; 
			-webkit-overflow-scrolling:touch;
		}
		img{border:0; max-width:100%;vertical-align: top;}
    </style>
    <script src="/jquery.min.js"></script>
    <script src="/jquery.sha1.js"></script>
	<script src="/wxjsapi.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		enableWxShare({
			appId: 'wxf96f728533f32fa8',
			ticket: '{{ticket}}',
			title: '天天狼人杀百万主播招募',		
			imgUrl: 'http://img.wangyuhudong.com/uploads/imgs/live/2017/03/17/89e9652c3a0a4ab0913af581d5c6a62a.jpg',
			desc: '前排回收悍跳狼，冲锋狼，倒钩狼用不完的钻石，花不完的钱等你来拿！'
		})
	</script>
</head>
<body>
<div class="g-container" id="wkthr">
	<img src="/activity/images/wkthrshow1.jpg" alt="" >
	<img src="/activity/images/wkthrshow2.jpg" alt="" >
	<img src="/activity/images/wkthrshow3.jpg" alt="" >
	<img src="/activity/images/wkthrshow4.jpg" alt="" >
	<img src="/activity/images/wkthrshow5.jpg" alt="" >
</div>
    <script type="text/javascript">
    </script>
     
</body>
</html>