{% extends 'layout.html' %} 

{% block content %}

<div class="g-service" style="width: 800px;margin:100px auto 0;padding-bottom: 100px;line-height: 2.5;min-height: 400px;">
	<h3 style="text-align:center;font-size: 22px;">关于我们</h3>
	<div class="g-service-content">
		<p style="text-align: left;">
		    <span style="font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;娱儿</span>TV<span style="font-family:宋体">，领跑移动电竞的直播平台</span>
		</p>
		<p style="text-align: left;">
		    <span style="font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;娱儿</span>TV app<span style="font-family:宋体">是一款极具人气、火爆的手游直播平台，精彩视频，热门赛事，明星解说，抢先直播。娱儿</span>TV app<span style="font-family:宋体">有皇室战争，球球大作战，我的世界，王者荣耀，穿越火线：枪战王者、火影忍者、天天酷跑、全名枪战等游戏不同玩法、赛事直播。</span>
		</p>
		<p style="text-align: left;">
		    <span style="font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;娱儿</span>TV<span style="font-family:宋体">手游直播，集合国内外所有热门手机游戏，所有热门手游赛事，让你每天都有最新的游戏和赛事观赏！娱儿</span>TV<span style="font-family:宋体">有最热门的赛事，最具有人气的职业选手，最搞怪的直播，最有创意的主播。下载娱儿</span>TVapp<span style="font-family:宋体">，随时随地享受手游直播所带来的欢乐。</span>
		</p>
	</div>
</div>

{% endblock %}
