{% extends 'layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/dist/activity.css">
{% endblock %}

{% block content %}
    <div class="m-common">
        <div class="comWidth f-cb">
            <h3 class="breadnav">活动<a href="/">首页</a><span>&gt;正文</span></h3>
            <div class="article f-fl">
                <h3 class="activity-title">{{detail.info.title}}</h3>
                <p class="activity-author">发布于：{{detail.info.create_date}}&nbsp;&nbsp;&nbsp;&nbsp;创建人：{{detail.info.author}}</p>
                <div class="main-body">
                    <!-- {{detail.info.content}} -->
                </div>
            </div>
            <div class="recommend-live f-fr">
                <div class="title"><img src="/images/index_icon3.png" alt="">热门直播</div>
                {% for recommend in detail.lives.list %}
                    <div class="m-lst">
                        <a href="/liveroom?id={{recommend.id}}" class="live-address">
                            <img src="{{recommend.icon}}" alt="">
                            <span><i>·</i>{{recommend.name}}</span>
                            <div class="play-mask online"></div>
                        </a>
                        <div class="m-info">
                            <div class="anchor-head">
                                {% if recommend.user_icon %}
                                {% if recommend.user_icon.indexOf('http')>-1 %}
                                <img src="{{recommend.user_icon}}" alt="" class="head-icon">
                                {% else %}
                                <img src="http://img.wangyuhudong.com/{{recommend.user_icon}}" alt="" class="head-icon">
                                {% endif %}
                                {% else %}
                                <img src="/images/default_avatar.png" alt="" class="head-icon">
                                {% endif %}
                                {% if recommend.sex==0 %}
                                    <img src="/images/female.png" alt="" class="sex">
                                {% else %}
                                    <img src="/images/male.png" alt="" class="sex">
                                {% endif %}
                            </div>
                            <div class="anchor-info">
                                <div><a href="">{{recommend.nickname}}</a></div>
                                <div class="anchor-id">ID:{{recommend.room_number}}</div>
                            </div>
                            <button class="follow">关注</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
    <script>
        $('.main-body').html('{{detail.info.content | safe }}');
        // console.log({{detail.info.content}});
    </script>
    
{% endblock %}

{% block js %}
<!-- <script type="text/javascript" src="/dist/activity.js"></script> -->
{% endblock %}