{% extends 'layout.html' %} 

{% block css %}
<!-- <link rel="stylesheet" href="/css/alllive.css"> -->
{% endblock %}

{% block content %}

<div class="m-common">
    <div class="comWidth f-cb">
        <div class="m-livetop">
            <img src="/images/alllive.png">
            <span class="u-alllive">全部直播</span>
            <span class="u-alllnum">{{live.total}}</span>
            <span class="u-alling" style="margin-left: 0;">名主播正在直播</span>
        </div>
        <div class="live-container">
            {% if live.list == "" %}
                <div class="m-empty">
                    <img src="/images/empty.png" alt="">
                    还没有任何内容哦
                </div>
            {% else %}
            {% for live in live.list %}
                <div class="m-lst">
                    {% if live.state==1 %}
                        <a href="/liveroom?id={{live.id}}" class="live-address">
                    {% else %}
                        <a href="javascript:void(0);" class="live-address">
                    {% endif %}
                        <img src="{{live.icon}}" alt="">
                        <span><i>·</i>{{live.name}}</span>
                        {% if live.state==1 %}
                            <div class="play-mask online"></div>
                        {% else %}
                            <div class="play-mask outline">主播已离开</div>
                        {% endif %}
                    </a>
                    <div class="m-info">
                        <div class="anchor-head">
                            <img src="http://img.wangyuhudong.com/{{live.user_icon}}" alt="" class="head-icon">
                            {% if live.sex==0 %}
                                <img src="/images/female.png" alt="" class="sex">
                            {% else %}
                                <img src="/images/male.png" alt="" class="sex">
                            {% endif %}
                        </div>
                        <div class="anchor-info">
                            <div><a href="">{{live.nickname}}</a></div>
                            <div class="anchor-id">ID:{{live.room_number}}</div>
                        </div>
                        {% if live.is_concern==1 %}
                            <button class="disfollow" data-id="{{live.up_user_id}}">已关注</button>
                        {% else %}
                            <button class="follow" data-id="{{live.up_user_id}}">关注</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %} 
            {% endif%}
        </div>
        
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/dist/alllive.js"></script>
{% endblock %}