{% extends 'layout.html' %} 

{% block css %}
<!-- <link rel="stylesheet" href="/css/alllive.css"> -->
{% endblock %}

{% block content %}

<div class="m-common">
    <div class="comWidth f-cb">
        <div class="m-livetop">
            <img src="/images/index_icon4.png">
            <span class="u-alllive">全部视频</span>
            <span class="u-alling">当前视频总数</span>
            <span class="u-alllnum" style="margin-left: 0;">{{video.total}}</span>
        </div>
        <div class="live-container f-cb">
            {% if video.list == "" %}
                <div class="m-empty">
                    <img src="/images/empty.png" alt="">
                    还没有任何内容哦
                </div>
            {% else %}
            {% for video in video.list %}
                <div class="m-lst m-video">
                    <a href="" class="live-address" data-rtmp="{{video.rtmp}}" data-title="{{video.title}}" data-icon="{{video.up_user_icon}}" data-id="{{video.id}}" data-name="{{video.name}}" data-nickname="{{video.nickname}}">
                        <img src="{{video.icon}}" alt="">
                        <span><i>·</i>{{video.name}}</span>
                        <div class="play-mask online"></div>
                    </a>
                    <div class="m-info">
                        <div class="anchor-head">
                            <img src="http://img.wangyuhudong.com/{{video.user_icon}}" alt="" class="head-icon">
                            {% if video.sex==1 %}
                                <img src="/images/female.png" alt="" class="sex">
                            {% else %}
                                <img src="/images/male.png" alt="" class="sex">
                            {% endif %}
                        </div>
                        <div class="anchor-info">
                            <div><a href="javascript:void(0);">{{video.nickname}}</a></div>
                        </div>
                        <div class="video-name"><a href="javascript:void(0);">{{video.title}}</a></div>
                    </div>
                </div>
            {% endfor %}
            {% endif%}
        </div>
        <p class="list-tip">没有更多视频了</p>
    </div>
</div>

<div class="m-video-mask">
    <a href="" class="close"><img src="/images/iconwindow.png" alt=""></a>
    <div class="m-video-player">
        <div id="VideoPlayerDiv"/>
    </div> 
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/swfobject.js"></script>
<script type="text/javascript" src="/dist/allvideo.js"></script>
{% endblock %}