{% extends 'layout.html' %} 
  
{% block content %}
	<div class="g-main">
		<div id="leftmain" class="g-left">   
 			<ul>
 				<li class="u-center">个人中心</li>
 				<li class="u-start">
 					<span class="icon-data" style="color:#f36"></span>
 					<a href="/center/information" style="color:#f36">我的资料</a>
 				</li>
 				<li>	
 					<span class="icon-follow"></span>
 					<a href="/center/focus">我的关注</a>
 				</li>
 				<li>
 					<span class="icon-prop"></span>
 					<a href="/center/props">我的道具</a>
 				</li>
 				<li>
 					<span class="icon-messages"></span>
 					<a href="/center/message">我的消息</a>
 				</li>
 				<li>
 					<span class="icon-recharge"></span>
 					<a href="/center/top-up">我要充值</a>
 				</li>
 				<li class="u-cbottom">
 					<span class="icon-recharge"></span>
 					<a href="/center/host">我要当主播</a>
 				</li>
 			</ul>
	    </div>   
	    {% block right %}{% endblock %}
	</div>
	
{% endblock %}

{% block js %}
<script type="text/javascript" src="/dist/center.js"></script>
{% endblock %}