{% extends 'layout.html' %} 
  
{% block css %}
<link rel="stylesheet" href="/css/pagination.css">
<link rel="stylesheet" href="/dist/center.css">

{% endblock %}

{% block content %}
	<div class="g-main">
		<div id="leftmain" class="g-left">   
 			<ul>
 				<li class="u-center">个人中心</li>
 				<li data-type="0">
 					<a href=""><span class="icon-data"></span>我的资料</a>
 				</li>
 				<li data-type="1" id="myfocusclick">	 					
 					<a href=""><span class="icon-follow"></span>我的关注</a>
 				</li>
 				<li data-type="2">					
 					<a href=""><span class="icon-prop"></span>我的道具</a>
 				</li>
 				<li data-type="3" id="mymessageclick">					
 					<a href=""><span class="icon-messages"></span>我的消息</a>
 				</li>
 				<li data-type="4"> 					
 					<a href=""><span class="icon-recharge"></span>我要充值</a>
 				</li>
 				<li class="u-cbottom" data-type="5"> 					
 					<a href=""><span class="icon-anchor"></span>我要当主播</a>
 				</li>
 			</ul>
	    </div>   
	    <div id="rightmain" class="g-right">
		    <div class="m-top">
	  			<div class="m-tleft">
	  				<img src="http://img.wangyuhudong.com/{{info.icon}}">
	  				<img src="http://img.wangyuhudong.com/{{info.sex}}" class="seximg" id="seximg">
	  			</div>
	  			<div class="m-tright">
	  				<p class="u-p1"><span class="u-nicknameonly">{{info.nickname}}</span>&nbsp;<img src=""><span id="nickname" class="u-p1-s">[点击修改]</span></p>
		  			<p class="u-p2">粉丝:<span class="u-change">63836</span></p>
		  			<p class="u-p3">鱼币:<span class="u-change1">{{info.yuerCoin}}</span>
		  			<a href="/center?type=4" class="u-tovalue">充值</a>
	  			</div>	  			
	  		</div>
	  	<div class="m-rightswitch">
<!-- 我的资料 -->

	  		<div class="m-bottom rightswitch rightswitchcolor">
  			<a href="" id="m-changepass">修改密码</a><a href="" id="m-change">手机认证</a><a href="" id="m-realname">实名认证</a>
  			<div class="m-switch switch-content">
  				<div class="u-pcurrent">
  					<label for="u-current">当前密码</label>
  					<input type="" name="current" id="u-current">
  					<span class="u-verifypassword" >密码验证中</span>
  					<span class="u-failpassword" >密码错误</span>
  					<span class="u-rightpassword" >密码正确</span>
  					<br>
  				</div>
  				<div class="u-pnew">
  					<label for="u-new">新密码</label>
	  				<input type="" name="new" id="u-new" class="u-ifail">
	  				<span class="u-vpassword">密码长度必须大于6位！</span>
	  				<br>
  				</div>
  				<div class="u-pcancel">
  					<label for="u-confirm">确认新密码</label>
	  				<input type="" name="confirm" id="u-confirm" class="u-iright">
	  				<span class="u-failpassword" >密码错误</span>
	  				<span class="u-rightpassword" >密码正确</span><br>
  				</div>
	  			<input type="button" name="" value="提交" class="u-i6" id="send">
  			</div>
  			<div class="m-switcht switch-content">
  				<div class="u-div">
  					<label for="number">手机号码</label>
  					<input type="text" class="u-userbox telnumber" name="" id="number" >
  					<span class="u-number" id="gainnumber">获取验证码</span>
  				</div>
	  			<div class="u-div">
	  				<label for="verify">验证码</label>
	  				<input type="text" class="u-userbox" name="" id="verify">
	  				<span class="u-verify error-tip">验证码错误</span>
	  			</div>
	  			<div>
  						<input type="button" class="u-submit" value="提交" id="userbox">
  				</div>
  			</div>
  			<div class="m-switchi switch-content">
  				<div class="u-mscaption"><h3>实名认证通道正在开通中，想要成为主播看下面：</h3></div>
  				<div>
  					<ul>
  						<li>这里有大神，有逗比，更有精彩的游戏直播!</li>
  						<li>只要你有手机，爱游戏，就可以来直播</li>
  					</ul>
  				</div>
  				<div>
  					<ul>
  						<li><span>娱儿TV</span></li>
  						<li>一款分享手游乐趣的直播APP</li>
  						<li>本月更有丰富的活动，完善的主播制度，</li>
  						<li>诱人的礼物分成体系等着你来哟！</li>
  					</ul>
  				</div>
  				<div >
  					<img src="/images/info_hr.jpg" class="u-msimg">
  				</div>
  				<div>
  					<ul>
  						<li><span>如何成为娱儿TV主播：</span></li>
  						<li>1.点击阅读原文下载“娱儿TV”并注册；</li>
  						<li>2.加入娱儿TV官方QQ群421322720私信客服开通权限；</li>
  						<li>3.私信管理员参与活动报名；
  							<ul>
  								<li>♥活动时间：2016年11月1日-2016年11月30日</li>
  								<li>♥活动内容：开启娱儿TV，直播任意手机游戏。</li>
  								<li>♥活动奖励见下图：</li>
  								<li><img src="/images/info_table.png" class="u-msimg"></li>
  							</ul>
  						</li>
  					</ul>
  				</div>
  				<div>
  					<ul>
  						<li><span>活动规则</span></li>
  						<li>1.主播必须直播自己玩游戏的画面，严禁播放其它视频、直播、小说、电影、漫画等非游戏行为，违者取消直播资格；</li>
  						<li>2.主播直播时可以附带解说并与观众互动</li>
  						<li>3.有意向直播的用户请加入娱儿TV官方QQ群421322720，联系客服获取主播权限；</li>
  						<li>4.符合资格且表现优异的主播，官方会与其签订主播合同，保证有底薪与礼物提成</li>
  						<li>5.Q币奖励，活动结束后七个工作日内发放；</li>
  						<li>6.本活动最终解释权归娱儿TV所有。</li>
  					</ul>
  				</div>
  				<div>
  					<img src="/images/info_rn.jpg" class="u-msimg">
  				</div>
	  		</div>
  		</div> 
<div class="m-layer">
    <div class="lywrap">
	    <div class="lytt">
	    	<h2 class="u-tt">修改昵称</h2>
	    </div>
	    <div class="lyct">
	         <p>
		        <input type="text" name="" value="" id="checktips">
		        <span class="tips" id="retips">昵称已存在</span>
		      </p>
            <p class="u-check">本次修改免费，再次修改需要通过道具才能修改</p>
	    </div>
	    <div class="lybt">
	        <div class="lybtns">
	            <button type="button" class="u-btn">确认</button>
	        </div>
	    </div>
    </div>

</div>
<div class="m-psuccess">
	<div class="u-success">
		<img src="/images/iconcancel.png"><span>密码修改成功!</span>
	</div>
	<div class="u-cancel">
		<a href="">确定</a>
	</div>
</div>
<div class="m-mask">
	<div class="code-wrap">
		<p>请输入图中验证码完成本次发送</p>
		<div class="m-input">
			<input type="text">
			<span class="error-tip">验证码错误</span>
		</div>
		
		<div class="pic-code f-cb">
			<img src="" alt=""><a href="" class="changePic">看不清，换一个</a>
		</div>
		<a href="" class="u-wrap-btn confirm">确认</a><a href="" class="u-wrap-btn cancel">取消</a>
	</div>
</div>	
<!-- 我的关注 -->
	<div class="g-focus rightswitch">
		<div class="m-main">
				<div class="u-top">
					<h3>主播</h3>
				</div>
				<div class="u-host">
					<div class="u-hleft">
						<div class="u-focusimg">
							<img src="/images/focusimg.png">
						</div>
						<div class="u-nickhost">
							<p class="u-nicksex">
								<span>小飞~超影路</span>
								<img src="">
							</p>
							<div class="u-hostfans">
								<p>
									<span class="u-hf">直播间ID</span>&nbsp;
									<span class="u-num">123456789</span>
								</p>
								<p class="u-hhf">
									<span class="u-hf">粉丝</span>&nbsp;
									<span class="u-num">3764</span>
								</p>
							</div>
						</div>
					</div>
					<div class="u-hright">
						<img src="/images/focusclick.png">
						<a href="">进入房间</a>
					</div>
				</div>
				<div class="u-host">
					<div class="u-hleft">
						<div class="u-focusimg">
							<img src="/images/focusimg.png">
						</div>
						<div class="u-nickhost">
							<p class="u-nicksex">
								<span>小飞~超影路</span>
								<img src="">
							</p>
							<div class="u-hostfans">
								<p>
									<span class="u-hf">直播间ID</span>&nbsp;
									<span class="u-num">123456789</span>
								</p>
								<p class="u-hhf">
									<span class="u-hf">粉丝</span>&nbsp;
									<span class="u-num">3764</span>
								</p>
							</div>
						</div>
					</div>
					<div class="u-hright">
						<img src="/images/focusclick.png">
						<a href="">进入房间</a>
					</div>
				</div>
				<div class="u-host stopdark">
					<div class="u-hleft">
						<div class="u-focusimg">
							<img src="/images/focusimg.png">
						</div>
						<div class="u-nickhost">
							<p class="u-nicksex">
								<span>小飞~超影路</span>
								<img src="">
							</p>
							<div class="u-hostfans">
								<p>
									<span class="u-hf">直播间ID</span>&nbsp;
									<span class="u-num">123456789</span>
								</p>
								<p class="u-hhf">
									<span class="u-hf">粉丝</span>&nbsp;
									<span class="u-num">3764</span>
								</p>
							</div>
						</div>
					</div>
					<div class="u-hright">
						<img src="/images/focusclick.png" class="u-blur">
						<a href="">进入房间</a>
					</div>
					<span class="dark">该主播已离开</span>
				</div>
				<div class="u-host stopdark">
					<div class="u-hleft">
						<div class="u-focusimg">
							<img src="/images/focusimg.png">
						</div>
						<div class="u-nickhost">
							<p class="u-nicksex">
								<span>小飞~超影路</span>
								<img src="">
							</p>
							<div class="u-hostfans">
								<p>
									<span class="u-hf">直播间ID</span>&nbsp;
									<span class="u-num">123456789</span>
								</p>
								<p class="u-hhf">
									<span class="u-hf">粉丝</span>&nbsp;
									<span class="u-num">3764</span>
								</p>
							</div>
						</div>
					</div>
					<div class="u-hright">
						<img src="/images/focusclick.png" class="u-blur">
						<a href="">进入房间</a>
					</div>
					<span class="dark">该主播已离开</span>
				</div>
				<div class="M-box"></div>
		</div>
	</div>
<!-- 我的道具 -->
	<div class="g-props rightswitch">
		<div class="m-mainp">
			<div class="u-top">
				<h3>道具信息</h3>
			</div>
			<div class="u-imgmessage">
				<div class="imgprops">
					{% for myprops in myprops.gifts %}
	                <div class="u-props">
						<img src="http://img.wangyuhudong.com/{{myprops.gifts.icon}}">
						<p>
							<span>{{myprops.name}}</span>
							<span class="u-propscolor">{{myprops.num}}</span>
							<span>个</span>
						</p>
					</div>  
            		{% endfor %}
				</div>
				
			</div>
			<div class="u-bottom">
				<p>
					<span class="u-bvalue">道具价值：</span>
					<span class="u-bmoney">{{myprops.totalValue}}</span>
					<span class="u-bunit">鱼币</span>
				</p>
			</div>
		</div>
		<div class="u-propsgtips">
			<p>礼物道具，需要在直播房间中才能使用哦！</p>
			<a href="http://localhost:3000/center?type=2">好的</a>
		</div>
	</div>
<!-- 我的消息 -->
	<div class="m-message rightswitch">
		<div class="m-mainm">
			<div class="u-m-top">
				<a href="">系统消息</a>
				<a href="">关注消息</a>
			</div>
			<div class="u-systemmessage mcurrent">
				<div class="u-message">
					<div class="u-msystem">
						<img src="/images/messagehead.png">
					</div>
					<div class="u-yuer">
						<p>
							<h3></h3>
							<span class="u-messagetime"></span>
						<p>
						<p>
						<span class="u-messagecontent"></span><span class="u-messtips">全文&gt;&gt;</span>
						</p>
					</div>
				</div>
				<div class="u-message">
					<div class="u-msystem">
						<img src="/images/messagehead.png">
					</div>
					<div class="u-yuer">
						<p>
							<h3></h3>
							<span class="u-messagetime"></span>
						<p>
						<p>
						<span class="u-messagecontent"></span><span class="u-messtips">全文&gt;&gt;</span>
						</p>
					</div>
				</div>
				<div class="u-message">
					<div class="u-msystem">
						<img src="/images/messagehead.png">
					</div>
					<div class="u-yuer">
						<p>
							<h3></h3>
							<span class="u-messagetime"></span>
						<p>
						<p>
						<span class="u-messagecontent"></span><span class="u-messtips">全文&gt;&gt;</span>
						</p>
					</div>
				</div>
				<div class="u-message">
					<div class="u-msystem">
						<img src="/images/messagehead.png">
					</div>
					<div class="u-yuer">
						<p>
							<h3></h3>
							<span class="u-messagetime"></span>
						<p>
						<p>
						<span class="u-messagecontent"></span><span class="u-messtips">全文&gt;&gt;</span>
						</p>
					</div>
				</div>
				<div class="u-message">
					<div class="u-msystem">
						<img src="/images/messagehead.png">
					</div>
					<div class="u-yuer">
						<p>
							<h3></h3>
							<span class="u-messagetime"></span>
						<p>
						<p>
						<span class="u-messagecontent"></span><span class="u-messtips">全文&gt;&gt;</span>
						</p>
					</div>
				</div>
				<div class="M-box"></div>
			</div>
			
			<div class="u-focusmessage mcurrent">
				<div class="u-focusmess">
					<p class="u-focusnc">
						<span class="u-foucscolor">我在那里找到你
							
						</span>
						<span class="u-focusc">关注了你</span>
					</p>
					<span class="u-focustime">
						2016-10-13  18：00
					</span>
				</div>
				<div class="u-focusmess">
					<p class="u-focusnc">
						<span class="u-foucscolor">我在那里找到你</span>
						<span class="u-focusc">关注了你</span>
					</p>
					<span class="u-focustime">
						2016-10-13  18：00
					</span>
				</div>
				<div class="u-focusmess">
					<p class="u-focusnc">
						<span class="u-foucscolor">我在那里找到你</span>
						<span class="u-focusc">关注了你</span>
					</p>
					<span class="u-focustime">
						2016-10-13  18：00
					</span>
				</div>
				<div class="u-messnickname">
					<img src="/images/ico7.png">
					<p class="u-mkname">我从哪里找到你</p>
					<p><span>ID：</span><span>1987272</span></p>
				</div>
				<div class="M-box"></div>
			</div>
			
		</div>
	</div>
<!-- 我要充值 -->
	<div class="g-top-up rightswitch">
		<div class="m-maint">
			<div class="u-topup">
				<a href="" class="u-topfish">充值鱼币</a>
			</div>
			<div class="u-value">
			  {% for valuelist in valuelist%}
                <div data-id="{{valuelist.id}}">
                   <span class="u-vfish">{{valuelist.yuer_amount}}鱼币</span>
					<span class="u-vmoney">{{valuelist.rmb}}元</span>
                </div>       
            	{% endfor %}
			</div>
			<div class="u-determine">
				<a href="" class="u-topvalue" id="topupvalue">充值</a>
			</div>
		</div>
		<div class="u-topupwindow">
			<div class="u-iconwindow">
				<img src="/images/iconwindow.png" id="cancel">
			</div>
			<div class="u-wintop">
				<div class="u-ws">
					<img src="/images/iconcancel.png">
					<span>订单提交成功，请您尽快付款 ！</span>
				</div>
				<div class="u-wm">
					<span>金&nbsp;&nbsp;&nbsp;额：</span><span class="u-wmtips"></span><span>元</span>
				</div>
				<div class="u-wn">
					<span>订单号：</span><span>14763398738814</span>
				</div>
			</div>
			<div class="u-winbottom">
				<div class="u-wbtop">
					<div class="paycontent">
						<span>支付方式</span>
					</div>
					<div class="payimg">
						<img src="/images/focusclick.png" class="u-wpleft u-checked">
						<img src="/images/iconclick.png" class="u-wpleft u-dischecked">
						<img src="/images/iconpay.png">
					</div>
					<div class="payimg payshow">
						<img src="/images/focusclick.png" class="u-wpleft u-checked">
						<img src="/images/iconclick.png" class="u-wpleft u-dischecked">
						<img src="/images/iconwec.png">
						<p>暂未开放敬请期待</p>
					</div>
					<div class="payimg pay">
						<img src="/images/focusclick.png" class="u-wpleft u-checked">
						<img src="/images/iconclick.png" class="u-wpleft u-dischecked">
						<img src="/images/iconcard.png">
						<p >暂未开放敬请期待</p>
					</div>
				</div>
				<div class="u-wbbottom">
					<a href="" id="tovalue">下一步</a>
					<p>选择支付平台，点击“下一步”完成支付流程</p>
				</div>
			</div>
		</div>
<div class="m-topupsuccess">
	<div class="u-success">
		<img src="/images/iconcancel.png"><span>充值成功!</span>
	</div>
	<div class="u-cancel">
		<a href="">确定</a>
	</div>
</div>
	</div>
<!-- 我要当主播 -->
			<div class="g-host rightswitch">
				<div class="m-mainh">
					<div class="u-top">
						<a href="">主播认证</a>
						<a href="">如何直播</a>
						<a href="">提现说明</a>
					</div>
					<div class="u-certification switchcontent">
						<div class="u-ctop">
							<a href="">手机认证</a>
							<a href="">实名认证</a>
						</div>
						<div class="u-ctleft switchrepeat">
							
						</div>
						<div class="u-ctright switchrepeat">
							
						</div>
					</div>
					<div class="u-live switchcontent">
						<div class="u-ltop">
							<p>
								娱儿TV【安卓版】直播流程
							</p>
						</div>
						<div class="u-ljoin">
							<p>
								1.加入娱儿TV官方群（421322720）私聊管理员开通直播权限：提交网娱大师手机 、昵称、描述、擅长游戏
							</p>
						</div>
						<div class="u-lsearch">
							<p>
								2.搜索各大安卓市场下载：娱儿TV:
							</p>
							<p>
								<img src=""><img src="">
							</p>
						</div>
						<div class="u-lopen">
							<p>
								3.开通直播权限后，打开娱儿TV：点击右上角我要直播
							</p>
							<p>
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
							</p>
							<p>
								<img src=""><img src=""><img src=""><img src="">
							</p>
						</div>
						<div class="u-lstart">
							<p>4.打开游戏 开始直播</p>
							<p>
								<h6>注意：</h6>
								<p>1.每次直播时长一定要大于5分钟，否则直播数据不能存入网娱大师后台</p>
								<p>2.直播时你的屏幕会被所有观众所看到，请注意个人隐私信息的泄漏</p>
							</p>
						</div>
					</div>
					<div class="u-withdrawal switchcontent">
						<div>正式的提现规则以及提现系统正在开发过程中，详细进度请个人主播留意系统通知消息，谢谢</div>
					</div>
				</div>
			</div>
		</div>	<!-- 右侧下侧结尾 -->
	    </div><!-- 右侧结尾 -->
	    
	</div> <!-- 整个块结尾 -->
	
{% endblock %}

{% block js %}
<script type="text/javascript" src="/jquery.pagination.min.js"></script>
<script type="text/javascript" src="/dist/center.js"></script>
<script type="text/javascript">
	$('.g-left li').each(function(){
		if($(this).attr("data-type")=='{{type}}'){
			$(this).addClass('rightswitchcolor');
		}
	})
	$('.rightswitch').eq({{type}}).show().siblings().hide();
</script>
{% endblock %}