{% extends 'layout.html' %} 
  
{% block content %}
	<div class="g-main">
		<div id="div1" class="g-left">   
 			<ul>
 				<li class="u-center">个人中心</li>
 				<li class="u-start"><span class="icon-data" style="color:#f36"></span><a href="" style="color:#f36">我的资料</a></li>
 				<li><span class="icon-follow"></span><a href="">我的关注</a></li>
 				<li><span class="icon-prop"></span><a href="">我的道具</a></li>
 				<li><span class="icon-messages"></span><a href="">我的消息</a></li>
 				<li><span class="icon-recharge"></span><a href="">我要充值</a></li>
 				<li class="u-cbottom"><span class="icon-recharge"></span><a href="">我要当主播</a></li>
 			</ul>
	    </div>   
	    {% block right %}{% endblock %}
		<!-- <div id="div2" class="g-right">   
	  		<div class="m-top">
	  			<div class="m-tleft">
	  				<img src="images/ico7.png">
	  			</div>
	  			<div class="m-tright">
	  				<p class="u-p1"><span>巧克力～包子</span>&nbsp;<img src="images/ico8.png"><span class="u-p1-s">[点击修改]</span></p>
		  			<p class="u-p2">粉丝:<span class="u-change">63836</span></p>
		  			<p class="u-p3">娱币:<span class="u-change1">6524</span><input type="button" name="" value="充值"></p>
	  			</div>
	  			
	  		</div>
	  		<div class="m-bottom">
	  			<a href="" id="m-change">修改密码</a><a href="" id="m-realname">实名认证</a>
	  			<div class="m-switch switch-content">
	  				<label for="u-current">当前密码</label><input type="" name="current" id="u-current" class="u-i3"><br>
		  			<label for="u-new">新密码</label><input type="" name="new" id="n-new" class="u-i4"><br>
		  			<label for="u-confirm">当前密码</label><input type="" name="confirm" id="u-confirm" class="u-i5"><br>
		  			<input type="button" name="" value="提交" class="u-i6">
	  			</div>
	  			<div class="m-switch2 switch-content">
	  				<div class="u-div">
	  					<label for="name">姓名</label><input type="text" class="u-userbox" name="" id="name" >
	  				</div>
		  			<div class="u-div">
		  				<label for="passward">QQ密码</label><input type="text" class="u-userbox" name="" id="passward">
		  			</div>
	  				<div class="u-div">
	  					<label for="Idcard">身份证号</label><input type="text" class="u-userbox" name="" id="Idcard">
	  				</div>
		  			<div class="u-div">
		  				<label for="time">身份证到期时间</label>
		  				<select><option value="volvo">2016年</option></select>
		  				<select><option value="volvo">10月</option></select>
		  				<select><option value="volvo">10日</option></select>
		  			</div>
		  			<div class="u-div5">
		  				<div class="u-dleft" style="color:#666e72;">身份证扫描件</div>
		  				<div class="u-dright">
		  					<div class="u-card">
		  						<img src="" ><br>
		  						<span>身份证正面照</span><br>
		  						<div class="upload-container">上传图片
								    <input type="file" name="fileToUpload" id="fileToUpload" class="fileupload"/>
								</div>
		  					</div>
			  				<div class="u-card">
			  					<img src=""><br>
			  					<span>身份证反面照</span><br>
			  					<div class="upload-container">上传图片
								    <input type="file" name="fileToUpload" id="fileToUpload" class="fileupload" />
								</div>
			  				</div>
			  				<div class="u-card">
			  					<img src=""><br>
			  					<span>手持身份证正面照</span><br>
			  					<div class="upload-container">上传图片
								    <input type="file" name="fileToUpload" id="fileToUpload" class="fileupload" />
								</div>
			  				</div>
		  				</div>
		  				<div class="u-agree">
	  						我已阅读并同意 <span class="u-spec">《娱儿tv主播协议》</span>
	  					</div>
	  					<div>
	  						<input type="button" class="u-submit" value="提交" class="u-userbox">
	  					</div>
			  		</div>
		  		</div>
	  		</div>
	  	</div>    -->
	</div>
	
{% endblock %}

{% block js %}
<script type="text/javascript" src="/dist/center.js"></script>
{% endblock %}