{% extends 'layout.html' %} 

{% block content %}

<div class="g-service" style="width: 800px;margin:100px auto 0;padding-bottom: 100px;line-height: 2.5;min-height: 400px;">
	<h3 style="text-align:center;font-size: 22px;">联系我们</h3>
	<div class="g-service-content">
		<p>
		    <span style="font-family:宋体">联系我们</span>
		</p>
		<p>
		    <span style="font-family:宋体">广告合作：</span>yuer@miqtech.com
		</p>
		<p>
		    <span style="font-family:宋体">应聘求职：</span>hr-wangyu@miqtech.com
		</p>
		<p>
		    <span style="font-family:宋体">商务合作：</span>QQ:403661668
		</p>
		<p>
		    <span style="font-family:宋体">客服热线：</span>4006902530
		</p>
		<p>
		    &nbsp;
		</p>
		<p>
		    <span style="font-family:宋体">联系客服</span>
		</p>
		<p>
		    <span style="font-family:宋体">客服热线：</span>4006902530
		</p>
	</div>
</div>

{% endblock %}