{% extends 'layout.html' %} 
{% block css %}
<style type="text/css">
	*{padding:0;margin:0;}
	body{
	font-family:'Microsoft YaHei','微软雅黑', Helvetica,Arial,sans-serif,STHeiTi;
	background:#f3f3f3;
	}
	.g-container{
		width:1200px;
		margin:95px auto 110px;
		position:relative;
		min-height:490px;
	}
	.m-top{
		margin-left:150px;
		height:30px;
		width:900px;
	}
	.host{
		margin-right:50px;
		background:#f3f3f3;
		border:none;
		width:160px;
		height:30px;
		line-height:30px;
		font-size:18px;
		color:#777;
	}
	.host img{
		display:inline-block;
		width:30px;
		height:30px;
		float:left;
		margin-right:10px;
	}
	.hosts img{
		display:inline-block;
		width:22px;
		height:22px;
		float:left;
		margin-right:10px;
	}
	.hosts{
		margin-right:50px;
		background:#f3f3f3;
		border:none;
		width:150px;
		height:22px;
		line-height:22px;
		text-align:left;
		font-size:14px;
		color:#777;
		margin-bottom:30px;
		vertical-align:middle;
	}
	.hostSwitch{
		position:relative;
		margin-top:35px;
	}
	.biubiubiu{
		margin-top:5px;
	}
	button.switchColor{
		font-size:18px;
		color:#1a2129;
		text-align:left;
	}
	/*主播教程，主播常见问题，用户常见问题左侧*/
	.htleft{
		position: absolute;
		width:149px;
	}
	#moduleIds li{
		font-size:14px;
		color:#b5b5b5;
		height:20px;
		line-height:20px;
		margin-bottom:20px;
		cursor: pointer;
	}
	#moduleIds li.rightswitchcolor{
		height:20px;
		line-height:20px;
		font-size:14px;
		color:#1a2129;
		margin-bottom:20px;
	}
	/*主播教程，主播常见问题，用户常见问题右侧*/
	.leftborder{
		margin-left:150px;
		border-left:2px solid #b5b5b5;
	}
	.htright{
		margin-left:40px;
		width:900px;
		font-size:14px;
		color:#333;
	}
	.hqright p{
		color:#333;
		font-size:14px;
		text-indent:2em;
	}
</style>
{% endblock %}
{% block content %}
<div class="g-container">
	<div class="m-top">
		{% for modules in navigation.modules %}
			<button class="host" data-id="{{modules.id}}">
				<img src="http://img.wangyuhudong.com/{{modules.thumbnails}}">
				{{modules.module}}
			</button>
		{% endfor %}
		<div class="biubiubiu"></div>
	</div>
	<div class="htutorial hostSwitch">
		<div class="htleft">
			<button class="hosts" data-id="{{navigation.modules.id}}"></button>
			<div class="leftmodule">
				<ul id="moduleIds">
				{% for subsets in navigation.subsets %}
					{% if loop.first == true %}
					<li data-id="{{subsets.id}}" class="rightswitchcolor" >{{subsets.title}}</li>
					{% else %}
					<li data-id="{{subsets.id}}">{{subsets.title}}</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="leftborder">
			<div class="htright" date-id="{{subset.id}}">
			</div>
		</div>
		
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(".htright").html('{{navigation.firstSubset.content | safe }}');
	function getQueryString(name) {
	    var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
	    var r = window.location.search.substr(1).match(reg);
	    if (r != null) {
	        return unescape(r[2]);
	    }
	    return null;
	}
	var index = getQueryString("moduleId");
	var copy=$('.host').eq(index-1).html();
	$('.hosts').html(copy);
	$(".m-top button").eq(index-1).addClass("switchColor");
	$(".m-top button").click(function(e) {
		var moduleid=$(this).attr("data-id");
		var leftid=$("leftmodule li").attr("data-id");
        window.location.href="/helpcenter?moduleId="+moduleid;
    })
    $(".biubiubiu").css({width:"160px",left:150+210*(index-1),position:"absolute",height:"2px",background:"#f36"})
    $(".m-top button").on("click",function(){
    	$(".biubiubiu").animate({left:$(this).position().left},300)
    })
    // 点击左侧对应显示右边内容
    $(".htleft li").on('click', function(event) {
        event.preventDefault();
        var leftid=$(this).attr("data-id");
        var subsetid=$(".m-top button").attr("data-id");
        $(this).addClass("rightswitchcolor").siblings().removeClass("rightswitchcolor");
        $(".hqright").eq($(this).index() - 1).show().siblings().hide();
        $.ajax({
            method: "GET",
            url: "/api/helpCenter/subset",
            dataType: 'json',
            data: {
                subsetId: leftid
            }, 
            success: function(data) {
                if (data.code == 0) {
                    if(data.object){
                    	var str="";
						str+=data.object.content;
                    	$(".htright").show().html(str); 
                    }           
                } else {
                    console.log(data.result);
                }
            },
            error: function(a, b, c) {
                console.log("接口出问题啦");
            }
        })
    });    
</script>
{% endblock %}