{% extends 'layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/dist/index.css">
{% endblock %}

{% block content %}

<div class="g-wrap">
    <div class="g-player f-cb">
        <div class="m-player f-fl">
            <div id="LiveHomeDiv"></div>
            <!-- <div id="VideoPlayerDiv"/> -->
            <!-- <div id="LiveRoomDiv"/> -->
        </div>
        <div class="m-play-list f-fr">
            <ul>
                {% for recommend in index.recommend %}
                    {% if loop.first %}
                        <li class="current"><a href="{{recommend.rtmp}}" data-icon="{{recommend.up_user_icon}}"><img src="{{recommend.icon}}" alt=""></a></li>
                    {% else %}
                        <li><a href="{{recommend.rtmp}}" data-icon="http://img.wangyuhudong.com/{{recommend.up_user_icon}}"><img src="{{recommend.icon}}" alt=""></a></li>
                    {% endif %}
                {% endfor %}
               <!--  <li class="current"><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li> -->
            </ul>
        </div>
    </div>       
</div>
<div class="g-mb">
    <div class="g-wrap">
        <div class="m-activity">
            <div class="title"><img src="/images/index_icon1.png" alt="">热门活动</div>
            <div class="m-content f-cb">
                {% for activity in index.activity %}
                    <div class="m-lst">
                        <a href="{{activity.url}}"><img src="{{activity.img}}" alt=""></a>
                        <a href="{{activity.url}}" class="active_name">{{activity.title}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="m-game">
            <div class="title"><img src="/images/index_icon2.png" alt="">游戏专区<a href="" class="more">更多>></a></div>
            <div class="m-content f-cb">
                <div class="m-lst">
                    <a href=""><img src="" alt=""></a>
                    <a href="">穿越火线：枪战王者</a>
                </div>
                <div class="m-lst">
                    <a href=""><img src="" alt=""></a>
                    <a href="">穿越火线</a>
                </div>
                <div class="m-lst">
                    <a href=""><img src="" alt=""></a>
                    <a href="">穿越火线</a>
                </div>
                <div class="m-lst">
                    <a href=""><img src="" alt=""></a>
                    <a href="">穿越火线</a>
                </div>
                <div class="m-lst">
                    <a href=""><img src="" alt=""></a>
                    <a href="">穿越火线</a>
                </div>
                <div class="m-lst">
                    <a href=""><img src="" alt=""></a>
                    <a href="">穿越火线</a>
                </div>
                <div class="m-lst">
                    <a href=""><img src="" alt=""></a>
                    <a href="">穿越火线</a>
                </div>
                <div class="m-lst">
                    <a href=""><img src="" alt=""></a>
                    <a href="">穿越火线</a>
                </div>
            </div>
        </div>
        <div class="m-hot">
            <div class="title"><img src="/images/index_icon3.png" alt="">热门直播<a href="" class="more">更多>></a></div>
            <div class="m-content f-cb">
                {% for hotlive in index.live %}
                    <div class="m-lst">
                        <a href="" class="live-address">
                            <img src="{{hotlive.icon}}" alt="">
                            <span><i>·</i>{{hotlive.name}}</span>
                        </a>
                        <div class="m-info">
                            <div class="anchor-head">
                                <img src="http://img.wangyuhudong.com/{{hotlive.up_user_icon}}" alt="" class="head-icon">
                                {% if hotlive.sex==1 %}
                                    <img src="/images/female.png" alt="" class="sex">
                                {% else %}
                                    <img src="/images/male.png" alt="" class="sex">
                                {% endif %}
                            </div>
                            <div class="anchor-info">
                                <div><a href="">{{hotlive.nickname}}</a></div>
                                <div class="anchor-id">ID:123</div>
                            </div>
                            <button class="follow">关注</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="m-video">
            <div class="title"><img src="/images/index_icon4.png" alt="">精彩视频<a href="" class="more">更多>></a></div>
            <div class="m-content f-cb">
                {% for video in index.video %}
                    <div class="m-lst">
                    <a href="" class="live-address">
                        <img src="{{video.icon}}" alt="">
                        <span><i>·</i>{{video.name}}</span>
                    </a>
                    <div class="m-info">
                        <div class="anchor-head">
                            <img src="http://img.wangyuhudong.com/{{video.up_user_icon}}" alt="" class="head-icon">
                            {% if video.sex==1 %}
                                <img src="/images/female.png" alt="" class="sex">
                            {% else %}
                                <img src="/images/male.png" alt="" class="sex">
                            {% endif %}
                        </div>
                        <div class="anchor-info">
                            <div><a href="">{{video.nickname}}</a></div>
                        </div>
                        <div class="video-name"><a href="">{{video.title}}</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="videoBox" style="width: 1200px;height: 620px;">
            <div id="VideoPlayerDiv"></div>
        </div> 
    </div>
    
</div>

{% endblock %}

{% block js %}
<!-- <script type="text/javascript" src="/YeInterf.js"></script> -->
<script type="text/javascript" src="/swfobject.js"></script>
<!-- <script type="text/javascript" src="/dist/index.js"></script> -->
<script type="text/javascript">

    var liveHomeInterf = {

        //首页直播Flash对象
        flash: null,

        rtmp: "",
        anchorid: "",
        anchorhead: "",
        head_icon: "head.png",


        //初始化Flash
        init: function ()
        {   
            //播放直播视频，参数：视频地址
            this.flash.playLive(this.rtmp);

            //更新主播信息，参数：主播ID, 主播头像，是否已关注
            this.flash.updateAnchor("123", this.head_icon, false);
            // this.flash.updateAnchor("123", "head.png", false);
        },

        //关注主播，参数：主播ID
        focusAnchor: function ( anchorId )
        {
            //调用后台，关注成功后请回调 flash.updateAnchor
            this.flash.updateAnchor(anchorId, null, true);
        },

        //刷新
        refresh: function ()
        {
            alert("刷新直播页面");
        },

        //进入直播间，参数：主播ID
        enterRoom: function ( anchorId )
        {
            alert("进入直播间：" + anchorId);
        },
    };
    //视频播放器接口
    var videoPlayerInterf = {

        //视频播放器Flash对象
        flash: null,

        //初始化Flash
        init: function ()
        {
            //播放视频，参数：视频地址, 视频标题, 游戏名称
            this.flash.playVideo("http://pili-media.wangyuhudong.com/7FUkDXBrj3kr1leI8VjVFX6GGD0=/Fk8ffjjNrphUwlioPxjmXIB0R7tl", "界黄盖暴力输出，秒全场", "王者荣耀");

            //更新主播信息，参数：主播ID, 主播昵称, 主播头像，是否已关注
            this.flash.updateAnchor("123", "奔波儿灞", "head.png", false);
        },

        //关注主播，参数：主播ID
        focusAnchor: function ( anchorId )
        {
            //调用后台，关注成功后请回调 flash.updateAnchor
            this.flash.updateAnchor(anchorId, null, null, true);
        },
    };

    var att = {};
    att.width = "100%";
    att.height = "100%";
    var par = {};
    par.quality = "high";
    par.bgcolor = "#000000";
    par.allowscriptaccess = "sameDomain";
    par.allowfullscreen = "true";
    par.allowFullScreenInteractive = "true";

    att.id = "LiveHome";
    att.data = "YeLiveHome.swf";
    liveHomeInterf.rtmp = "rtmp://live.hkstv.hk.lxdns.com/live/hks";
    liveHomeInterf.flash = swfobject.createSWF(att, par, "LiveHomeDiv");

    // att.id = "LiveRoom";
    // att.data = "YeLiveRoom.swf";
    // liveRoomInterf.flash = swfobject.createSWF(att, par, "LiveRoomDiv");

    att.id = "VideoPlayer";
    att.data = "YeVideoPlayer.swf";
    videoPlayerInterf.flash = swfobject.createSWF(att, par, "VideoPlayerDiv");
        $('.m-play-list a').click(function(event){
            event.preventDefault();
            // liveHomeInterf.flash.playLive($(this).attr('href'));
            liveHomeInterf.flash.updateAnchor("123", "icon.png", false);
            console.log(liveHomeInterf.rtmp);
        })
    
</script>
{% endblock %}