{% extends 'layout.html' %} 
{% block css %}
<link rel="stylesheet" href="/dist/index.css">
{% endblock %}

{% block content %}

<div class="g-wrap">
    <div class="comWidth">
        <div class="g-player f-cb">
            <div class="m-player f-fl">
                <div id="LiveHomeDiv"></div>
                <!-- <div id="VideoPlayerDiv"/> -->
                <!-- <div id="LiveRoomDiv"/> -->
            </div>
            <div class="m-play-list f-fr">
                <div class="u-arrow arrow-up"></div>
                <div class="u-arrow arrow-down"></div>
                <ul>
                    {% for recommend in index.recommend %}
                        {% if loop.first %}
                            <li class="current"><a href="{{recommend.rtmp}}" data-icon="{{recommend.up_user_icon}}" data-id="{{recommend.id}}" data-upid="{{recommend.up_user_id}}"><img src="{{recommend.icon}}" alt=""></a></li>
                        {% else %}
                            <li><a href="{{recommend.rtmp}}" data-icon="{{recommend.up_user_icon}}" data-id="{{recommend.id}}" data-upid="{{recommend.up_user_id}}"><img src="{{recommend.icon}}" alt=""></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>       
    </div>
    
</div>
<div class="g-mb">
    <div class="comWidth">
        <div class="m-activity">
            <div class="title"><img src="/images/index_icon1.png" alt="">热门活动</div>
            <div class="m-content f-cb">
                {% for activity in index.activity %}
                    <div class="m-lst">
                        <a href="{{activity.url}}"><img src="{{activity.img}}" alt=""></a>
                        <a href="{{activity.url}}" class="active_name">{{activity.title}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- <div class="m-game">
            <div class="title"><img src="/images/index_icon2.png" alt="">游戏专区<a href="" class="more">更多>></a></div>
            <div class="m-content f-cb">
                {% for game in index.game %}
                    <div class="m-lst">
                        <a href=""><img src="http://img.wangyuhudong.com/{{game.icon}}" alt=""></a>
                        <a href="">{{game.name}}</a>
                    </div>
                {% endfor %}
            </div>
        </div> -->
        <div class="m-hot">
            <div class="title"><img src="/images/index_icon3.png" alt="">热门直播<a href="/alllive" class="more">更多>></a></div>
            <div class="m-content f-cb">
                {% for hotlive in index.live %}
                    <div class="m-lst">
                        <a href="/liveroom?id={{hotlive.id}}" class="live-address">
                            <img src="{{hotlive.icon}}" alt="">
                            <span><i>·</i>{{hotlive.name}}</span>
                            <div class="play-mask"></div>
                        </a>
                        <div class="m-info">
                            <div class="anchor-head">
                                <img src="http://img.wangyuhudong.com/{{hotlive.up_user_icon}}" alt="" class="head-icon">
                                {% if hotlive.sex==0 %}
                                    <img src="/images/female.png" alt="" class="sex">
                                {% else %}
                                    <img src="/images/male.png" alt="" class="sex">
                                {% endif %}
                            </div>
                            <div class="anchor-info">
                                <div><a href="javascript:void(0)">{{hotlive.nickname}}</a></div>
                                <div class="anchor-id">ID:123</div>
                            </div>
                            <button class="follow">关注</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="m-video">
            <div class="title"><img src="/images/index_icon4.png" alt="">精彩视频<a href="/allvideo" class="more">更多>></a></div>
            <div class="m-content f-cb">
                {% for video in index.video %}
                    <div class="m-lst">
                    <a href="javascript:void(0);" class="live-address" data-rtmp="{{video.rtmp}}" data-title="{{video.title}}" data-icon="{{video.up_user_icon}}" data-id="{{video.id}}" data-name="{{video.name}}" data-nickname="{{video.nickname}}">
                        <img src="{{video.icon}}" alt="">
                        <span><i>·</i>{{video.name}}</span>
                        <div class="play-mask"></div>
                    </a>
                    <div class="m-info">
                        <div class="anchor-head">
                            <img src="http://img.wangyuhudong.com/{{video.up_user_icon}}" alt="" class="head-icon">
                            {% if video.sex==1 %}
                                <img src="/images/female.png" alt="" class="sex">
                            {% else %}
                                <img src="/images/male.png" alt="" class="sex">
                            {% endif %}
                        </div>
                        <div class="anchor-info">
                            <div><a href="">{{video.nickname}}</a></div>
                        </div>
                        <div class="video-name"><a href="">{{video.title}}</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>   
</div>
<div class="m-video-mask">
    <a href="" class="close"><img src="/images/iconwindow.png" alt=""></a>
    <div class="m-video-player">
        <div id="VideoPlayerDiv"/>
    </div> 
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/swfobject.js"></script>
<script type="text/javascript" src="/dist/index.js"></script>
{% endblock %}
