<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/jquery.datetimepicker.css">
    {% block css %}{% endblock %}
</head>
<body>
	{% include 'common/tophead.html' %}

    {% block content %}{% endblock %}

    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/dist/layout.js"></script>
    {% block js %}{% endblock %}

    <!-- {% include 'common/footer.html' %} -->

</body>
</html>