<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="keywords" content="娱儿，手游直播，手游直播平台，游戏直播，" />
    <meta name="description" content="娱儿直播是一款弹幕式手机游戏直播平台，以游戏直播为主，涵盖多款热门游戏直播内容，为玩家提供视频直播和手游赛事直播服务。玩家可以找到喜欢的手机游戏并进行直播向其他玩家分享游戏攻略。" />
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/jquery.datetimepicker.css">
    {% block css %}{% endblock %}
   
</head>
<body>
	{% include 'common/tophead.html' %}

    {% block content %}{% endblock %}
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/dist/layout.js"></script>
    {% block js %}{% endblock %}

    <!-- {% include 'common/footer.html' %} -->

</body>
</html>