{% extends 'layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/dist/liveroom.css">
{% endblock %}

{% block content %}
<div class="g-lb">
    <div class="m-sidebar">
        
    </div>
    <div class="live-left">
        <div class="live-info f-cb">
            <img src="/head.png" alt="" class="live-avatar f-fl">
            <div class="avatar-info f-fl">
                <h3>界黄盖暴力输出，回合内秒全场</h3>
                <div>梦妮~依恋*<img src="/images/female.png" alt="">王者荣耀</div>
                <div>房间ID：354681  在线：3626</div>
            </div>
            <div class="follow-avatar f-fr">
                
            </div>
        </div>
        <div class="videoBox">
            <div id="LiveRoomDiv"></div>
        </div> 
    </div>
    <div class="live-right">
        
    </div>
</div>
    
{% endblock %}

{% block js %}
<script type="text/javascript" src="/swfobject.js"></script>
<script type="text/javascript" src="/dist/liveroom.js"></script>
{% endblock %}