{% extends 'layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/dist/liveroom.fef2c76b955123b02216.css">
{% endblock %}

{% block content %}
<div class="g-lb">
    <div class="m-sidebar">
        <ul>
            <li>
                <a href="">
                    首页
                </a>
                <a href="">
                    直播
                </a>
                <a href="">
                    专区
                </a>
            </li>
        </ul>
        <ul class="bottom-nav">
            <li><a href="">APP下载</a></li>
            <li><a href="">做主播</a></li>
        </ul>
    </div>
    <div class="m-live-left">
        <div class="live-info f-cb">
            <img src="/head.png" alt="" class="live-avatar f-fl">
            <div class="avatar-info f-fl">
                <span class="hide-rtmp">{{detail.info.rtmp}}</span>
                <h3>{{detail.info.title}}</h3>
                <div><span class="u-label">{{detail.info.nickname}}<img src="/images/female.png" alt=""></span>{{detail.info.game_name}}</div>
                <div><span class="u-label">房间ID：{{detail.info.room_number}}</span>在线：{{detail.info.online_num}}</div>
            </div>
            <div class="follow-avatar f-fr">
                <div class="follow f-cb">
                    <a href="">关注</a>
                    <div class="follownum">{{detail.info.fans}}</div>
                </div>
                <div class="option">
                    <a href="">举报</a><a href="">转发</a>
                </div>
            </div>
        </div>
        <div class="videoBox">
            <div id="LiveRoomDiv"></div>
        </div> 
        <div class="send-gift f-cb">
            <div class="award">
                <img src="/images/gift.png" alt="">
                <div class="countdown">
                    19:21后<br>
                    惊喜降临
                </div>
            </div>
            <div class="m-gift">
                <div class="myCoin">
                    <p>我有<span class="yuerCoin">{{info.yuerCoin}}</span>鱼币</p>
                    <a href="/center?type=4" class="givemoney">充值</a>
                </div>
                {% for gift in gift %}
                    <div class="gift" data-name="{{gift.name}}" data-id="{{gift.id}}">
                       <img src="http://img.wangyuhudong.com/{{gift.icon}}" alt=""> 
                       <div class="gift-hover">
                           {{gift.name}}(<span>{{gift.price}}</span>鱼币)<br>点击送给主播
                       </div>
                    </div>       
                {% endfor %}
                <div class="myGift">
                    我的道具
                    <div class="my-prop"></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="m-live-right">
        <div class="live-notice">
            <h3><img src="/images/trumpet.png" alt="">直播公告</h3>
            <p>{{detail.info.introduce}}</p>
        </div>
        <div class="liveroom">
            <ul class="room-tab f-cb">
                <li>互动聊天</li>
                <li>贡献榜</li>
            </ul>
            <div class="room-block">
                <div class="welcome">欢迎来到<span>{{detail.info.nickname}}</span>的直播间，喜欢就点击房间信息关注吧！</div>
            </div>
            <div class="set-block">
                <div class="set-option">快捷短语</div>
                <div class="set-option">屏蔽设置</div>
                <div class="set-option">清屏</div>
            </div>
            <div class="send-block">
                <input type="text" class="live-text"><button class="sendText">发送</button>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block js %}
<script src="/sha1.js"></script>
<script src="/Web_SDK_Base_v2.8.0.js"></script>
<script src="/Web_SDK_NIM_v2.8.0.js"></script>
<script src="/Web_SDK_Chatroom_v2.8.0.js"></script>
<script type="text/javascript" src="/swfobject.js"></script>
<script type="text/javascript" src="/dist/liveroom.fef2c76b955123b02216.js"></script>

{% endblock %}