{% extends 'layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/dist/liveroom.css">
{% endblock %}

{% block content %}
<div class="g-lb">
    <div class="m-sidebar">
        <ul>
            <li>
                <a href="">
                    首页
                </a>
                <a href="">
                    直播
                </a>
                <a href="">
                    专区
                </a>
            </li>
        </ul>
        <ul class="bottom-nav">
            <li><a href="">APP下载</a></li>
            <li><a href="">做主播</a></li>
        </ul>
    </div>
    <div class="m-live-left">
        <div class="live-info f-cb">
            <img src="/head.png" alt="" class="live-avatar f-fl">
            <div class="avatar-info f-fl">
                <span>{{detail.info.rtmp}}</span>
                <h3>界黄盖暴力输出，回合内秒全场</h3>
                <div><span class="u-label">梦妮~依恋*<img src="/images/female.png" alt=""></span>王者荣耀</div>
                <div><span class="u-label">房间ID：354681</span>在线：3626</div>
            </div>
            <div class="follow-avatar f-fr">
                <div class="follow f-cb">
                    <a href="">关注</a>
                    <div class="follownum">53,123</div>
                </div>
                <div class="option">
                    <a href="">举报</a><a href="">转发</a>
                </div>
            </div>
        </div>
        <div class="videoBox">
            <div id="LiveRoomDiv"></div>
        </div> 
        <div class="send-gift f-cb">
            <div class="award">
                <img src="/images/gift.png" alt="">
                <div class="countdown">
                    19:21后<br>
                    惊喜降临
                </div>
            </div>
            <div class="m-gift">
                <div class="myCoin">
                    <p>我有<span>123</span>鱼币</p>
                    <a href="" class="givemoney">充值</a>
                </div>
                {% for gift in gift %}
                    <div class="gift">
                       <img src="http://img.wangyuhudong.com/{{gift.icon}}" alt=""> 
                    </div>       
                {% endfor %}
                <div class="myGift">
                    我的道具
                </div>
            </div>
            
        </div>
    </div>
    <div class="m-live-right">
        <div class="live-notice">
            <h3><img src="/images/trumpet.png" alt="">直播公告</h3>
            <p>粉丝群 奔家军 3284637 （已满）2群 4993821 没关注的小伙伴点一波关注</p>
        </div>
        <div class="liveroom">
            <ul class="room-tab f-cb">
                <li>互动聊天</li>
                <li>贡献榜</li>
            </ul>
            <div class="room-block">
                
            </div>
            <div class="set-block">
                <div class="set-option">快捷短语</div>
                <div class="set-option">屏蔽设置</div>
                <div class="set-option">清屏</div>
            </div>
            <div class="send-block">
                <input type="text"><button class="sendText">发送</button>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block js %}
<script src="/sha1.js"></script>
<script src="/Web_SDK_Base_v2.8.0.js"></script>
<script src="/Web_SDK_NIM_v2.8.0.js"></script>
<script src="/Web_SDK_Chatroom_v2.8.0.js"></script>
<script type="text/javascript" src="/swfobject.js"></script>
<script type="text/javascript" src="/dist/liveroom.js"></script>
{% endblock %}