{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/login.css">
{% endblock %}

{% block content %}

<div class="landregister">
        <div class="landreg_head">
            <ul class="landreg_tab">
                <li class="reg_active">登&nbsp;录</li>
                <li>注&nbsp;册</li>
            </ul>
        </div>
        <div class="landreg_content">
            <div class="landreg_list land_list">
                <p class="landreg_tip"><span>•</span>加入开赛吧开启全新办赛、参赛体验!</p>
                <div class="landreg_form">
                    <div class="form_account form_list">
                        <label class="reg_label"><img src="/images/account.png"></label>
                        <input class="input_text phone_text" type="text" placeholder="手机号／网娱大师帐号">
                        <span class="reg_error"><span class="error_tri"></span><img src="/images/tip.png"><i class="error_tip">手机号码位数不对</i></span>
                    </div>
                    <div class="form_pw form_list">
                        <label class="reg_label"><img src="/images/password.png"></label>
                        <input class="input_text last_input login_pw_text" type="password" placeholder="请输入密码">
                        <span class="reg_error"><span class="error_tri"></span><img src="/images/tip.png"><i class="error_tip">密码位数不对</i></span>
                    </div>
                </div>
                <div class="password_st clearfix">
                    <div class="remeber_pw">
                        <input type="checkbox" id="auto_land">
                        <label class="remeber_label" for="auto_land">下次自动登录</label>
                        <label for="auto_land" class="float_checkbox"><span class="check_gou"></span></label>
                    </div>
                    <div class="forgot_pw"><a>忘记密码？</a></div>
                </div>
                <div class="twolines"></div>
                <div class="allow_login">登&nbsp;录</div>
            </div>
            <div class="landreg_list reg_list" style="display:none">
                <p class="landreg_tip"><span>•</span>加入开赛吧开启全新办赛、参赛体验!</p>
                <div class="landreg_form">
                    <div class="form_account form_list">
                        <label class="reg_label"><img src="/images/account.png"></label>
                        <input class="input_text" type="text" placeholder="手机号" v-model="phone" @blur="blurPhone" @keyup="keyupPhone">
                        <span class="reg_error"><span class="error_tri"></span><img src="images/tip.png"><i class="error_tip">手机号码位数不对</i></span>
                    </div>
                    <div class="form_ident form_list">
                        <label class="reg_label"><img src="/images/ident.png"></label>
                        <input class="input_text" type="text" placeholder="验证码" v-model="ident" @blur="blurId">
                        <span class="reg_error"><span class="error_tri"></span><img src="images/tip.png"><i class="error_tip">验证码错误</i></span>
                        <div class="get_indent" @click="getIdent" v-bind:class="{ 'can_ident': isident }">获取验证码</div>
                    </div>
                    <div class="form_nickname form_list">
                        <label class="reg_label"><img src="/images/nickname.png"></label>
                        <input class="input_text" type="text" maxlength='8' placeholder="昵称(最多8位，允许数字字母常用符号)" v-model="nickname" @blur="getNickname">
                        <span class="reg_error"><span class="error_tri"></span><img src="images/tip.png"><i class="error_tip">昵称有非法字符</i></span>
                    </div>
                    <div class="form_pw form_list">
                        <label class="reg_label"><img src="/images/password.png"></label>
                        <input class="input_text last_input" type="password" placeholder="密码(6-16位，允许数字字母常用符号)" maxlength='16' v-model="password" @blur="getpwd">
                        <span class="reg_error"><span class="error_tri"></span><img src="/images/tip.png"><i class="error_tip">密码位数太短</i></span>
                    </div>
                </div>
                <div class="accept_rule">
                    <input type="checkbox" id="accept_input" checked v-model="acceptchecked">
                    <span class="accept_span">我接受<i v-link="{ path: '/clause'}">《开赛吧服务条款》</i></span>
                    <label for="accept_input" class="float_checkbox"><span class="check_gou" v-show="acceptchecked"></span></label>
                </div>
                <div class="twolines"></div>
                <div class="allow_reg" @click="regIn">注&nbsp;册</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/login.js"></script>
{% endblock %}