{% extends 'layout.html' %} 

  {% block css %}
<link rel="stylesheet" href="/dist/register.css">
{% endblock %}

{% block content %}
<div class="m-register">
	<!-- <img src="images/logo_center.png" alt=""> -->
	<div class="m-regbox">
		<h3>注册即可获得两个贝壳，快来注册吧！</h3>
		<div class="m-regform">
			<div class="m-input">
				<input type="text" class="u-ipt nickname" placeholder="请输入昵称">
				<span class="error-tip">昵称不能为空</span>
			</div>
			<div class="m-input m-tel">
				<input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" oninput="if(value.length>11)value=value.slice(0,11)" class="u-ipt telnumber" placeholder="请输入手机号码">
				<button class="getCode">获取验证码</button>
				<span class="error-tip">手机号码不能为空</span>
			</div>
			<div class="m-input">
				<input type="text" class="u-ipt code" placeholder="请输入验证码" onkeyup="this.value=this.value.replace(/\D/g,'')" oninput="if(value.length>6)value=value.slice(0,6)">
				<span class="error-tip">验证码不能为空</span>
			</div>
			<div class="m-input">
				<input type="password" class="u-ipt password" placeholder="请输入密码" maxlength="20">
				<span class="error-tip">密码不能为空</span>
			</div>
			<div class="m-input">
				<input type="password" class="u-ipt repassword" placeholder="请再次确认密码" maxlength="20">
				<span class="error-tip">密码不能为空</span>
			</div>
			<p style="margin-top: 20px;">注册即视为同意 <a href="" class="agreement">《娱儿tv用户服务协议》</a></p>
			<a href="" class="u-reg-btn">注册</a>
		</div>
	</div>
</div>

<div class="m-mask">
	<div class="code-wrap">
		<p>请输入图中验证码完成本次发送</p>
		<div class="m-input">
			<input type="text" maxlength="4">
			<span class="error-tip">验证码错误</span>
		</div>
		
		<div class="pic-code f-cb">
			<img src="" alt=""><a href="" class="changePic">看不清，换一个</a>
		</div>
		<a href="" class="u-wrap-btn confirm">确认</a><a href="" class="u-wrap-btn cancel">取消</a>
	</div>
	<div class="reg-success">
		<p>恭喜你注册成功！成功获得 <span>2个贝壳</span></p>
		<a href="/" class="u-success-btn jump-index">（3s）回到首页</a><a href="" class="u-success-btn">去充值</a>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/dist/register.js"></script>
{% endblock %}