{% extends 'layout.html' %} 

  {% block css %}
<link rel="stylesheet" href="/dist/register.css">
{% endblock %}

{% block content %}
<div class="m-register">
	<!-- <img src="images/logo_center.png" alt=""> -->
	<div class="m-regbox">
		<h3>找回密码</h3>
		<div class="m-regform">
			<div class="m-input m-tel">
				<input type="text" class="u-ipt telnumber" placeholder="请输入手机号码">
				<button class="getCode">获取验证码</button>
				<span class="error-tip">手机号码不能为空</span>
			</div>
			<div class="m-input">
				<input type="text" class="u-ipt code" placeholder="请输入验证码">
				<span class="error-tip">验证码不能为空</span>
			</div>
			<div class="m-input">
				<input type="password" class="u-ipt password" placeholder="新密码">
				<span class="error-tip">密码不能为空</span>
			</div>
			<div class="m-input">
				<input type="password" class="u-ipt repassword" placeholder="请再次确认密码">
				<span class="error-tip">密码不能为空</span>
			</div>
			<a href="" class="u-reset-btn">确定</a>
		</div>
	</div>
</div>

<div class="m-mask">
	<div class="code-wrap">
		<p>请输入图中验证码完成本次发送</p>
		<div class="m-input">
			<input type="text">
			<span class="error-tip">验证码错误</span>
		</div>
		
		<div class="pic-code f-cb">
			<img src="" alt=""><a href="" class="changePic">看不清，换一个</a>
		</div>
		<a href="" class="u-wrap-btn confirm">确认</a><a href="" class="u-wrap-btn cancel">取消</a>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/dist/reset.js"></script>
{% endblock %}