{% extends 'layout.html' %} 

{% block content %}

<div class="g-service" style="width: 800px;margin:100px auto 0;padding-bottom: 100px;line-height: 2.5;min-height: 400px;">
	<!-- <h3 style="text-align:center;font-size: 22px;">联系我们</h3> -->
	<div class="g-service-content">
		<p style="text-align:center">
		    <strong><span style="font-family:宋体">娱儿</span>TV</strong><strong><span style="font-family:宋体">主播管理条例</span></strong>
		</p>
		<p>
		    <span style="font-family:宋体">主播必须严格遵守《主播管理条例规则》之约定，如有违反，嘉兴娱儿将根据违规情况，按照以下规则予以处罚：</span>
		</p>
		<p>
		    <span style="font-family:宋体">（一）严重违规行为</span> 
		</p>
		<p>
		    <span style="font-family:宋体">严重违规行为是指涉政、涉黄、违规等严重扰乱娱儿</span>TV<span style="font-family:宋体">直播平台秩序的行为。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">在视频直播中违反以下规定，构成严重违规，包括但不限于：</span> 
		</p>
		<p>
		    1<span style="font-family:宋体">、</span> <span style="font-family:宋体">严禁发表反党反政府的言论，或做出侮辱诋毁党和国家的行为，如：</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>1<span style="font-family:宋体">）违反宪法确定的基本原则的；</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>2<span style="font-family:宋体">）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>3<span style="font-family:宋体">）损害国家荣誉和利益的；</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>4<span style="font-family:宋体">）煽动民族仇恨、民族歧视、破坏民族团结的；</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>5<span style="font-family:宋体">）破坏国家宗教政策，宣扬邪教和封建迷信的；</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>6<span style="font-family:宋体">）散布谣言，扰乱社会秩序，破坏社会稳定的；</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>7<span style="font-family:宋体">）散布暴力、恐怖或者教唆犯罪的；</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>8<span style="font-family:宋体">）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的。</span> 
		</p>
		<p>
		    2<span style="font-family:宋体">、</span> <span style="font-family:宋体">严禁直播带有色情、露点低俗、性暗示的游戏、录像、图片、绘画、设计类教学等。</span> 
		</p>
		<p>
		    3<span style="font-family:宋体">、（</span>1<span style="font-family:宋体">）直播期间严禁播放展示枪支管制刀具、进行高危表演的图片以及视频内容。如展示管制刀具、枪支、高仿真枪支等有高度危险性的视频等。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>2<span style="font-family:宋体">）直播期间严禁宣传涉及违禁品的网络，实体店铺。如管制刀具，枪支弹药，迷幻药等。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>3<span style="font-family:宋体">）直播期间严禁展示播放危害他人人身安全的视频。如：殴打他人、以刀具威胁他人等。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>4<span style="font-family:宋体">）直播期间严禁传播毒品。如展示毒品样品、表演及传播毒品吸食或注射方式、讲解毒品制作过程等。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>5<span style="font-family:宋体">）直播期间严禁宣传传销机构、哄骗用户加入传销组织、或本人组织传销等。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>6<span style="font-family:宋体">）直播期间严禁直播，播放危害自身安全以及血腥的视频，如自杀、自残、虐待动物等。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（</span>7<span style="font-family:宋体">）直播期间严禁直播中国文化部公开的禁止游戏，娱儿</span>TV<span style="font-family:宋体">坚决反对直播违禁游戏的行为，下列游戏不得播出，否则将封停直播间（包含但不限于以下游戏）：</span>
		</p>
		<p>
		    <span style="font-family:宋体">娱儿</span>TV<span style="font-family:宋体">坚决反对直播违禁游戏的行为，下列游戏不得播出，否则将封停直播间（包含但不限于以下游戏）：</span>
		</p>
		<p>
		    1<span style="font-family:宋体">、使命召唤</span>2
		</p>
		<p>
		    2<span style="font-family:宋体">、使命召唤</span>4<span style="font-family:宋体">：现代战争</span>
		</p>
		<p>
		    3<span style="font-family:宋体">、使命召唤</span>5<span style="font-family:宋体">：战争世界</span>
		</p>
		<p>
		    4<span style="font-family:宋体">、使命召唤：现代战争</span>2
		</p>
		<p>
		    5<span style="font-family:宋体">、弹震症：越南</span>67
		</p>
		<p>
		    6<span style="font-family:宋体">、弹震症</span>2:<span style="font-family:宋体">血迹</span>
		</p>
		<p>
		    7<span style="font-family:宋体">、侠盗猎车手</span>
		</p>
		<p>
		    8<span style="font-family:宋体">、侠盗猎车手：罪恶伦敦</span>1969
		</p>
		<p>
		    9<span style="font-family:宋体">、侠盗猎车手</span>2
		</p>
		<p>
		    10<span style="font-family:宋体">、侠盗猎车手</span>3
		</p>
		<p>
		    11<span style="font-family:宋体">、侠盗猎车手：前进</span>
		</p>
		<p>
		    12<span style="font-family:宋体">、侠盗猎车手：罪恶都市</span>
		</p>
		<p>
		    13<span style="font-family:宋体">、侠盗猎车手：圣安地列斯</span>
		</p>
		<p>
		    14<span style="font-family:宋体">、侠盗猎车手：自由城故事</span>
		</p>
		<p>
		    15<span style="font-family:宋体">、侠盗猎车手：罪恶都市物语</span>
		</p>
		<p>
		    16<span style="font-family:宋体">、侠盗猎车手</span>4
		</p>
		<p>
		    17<span style="font-family:宋体">、侠盗猎车手</span>5
		</p>
		<p>
		    18<span style="font-family:宋体">、侠盗猎车手：血战唐人街</span>
		</p>
		<p>
		    19<span style="font-family:宋体">、侠盗猎车手：失落与诅咒</span>
		</p>
		<p>
		    20<span style="font-family:宋体">、侠盗猎车手：夜生活之曲</span>
		</p>
		<p>
		    21<span style="font-family:宋体">、凯恩与林奇：死人</span>
		</p>
		<p>
		    22<span style="font-family:宋体">、凯恩与林奇</span>2<span style="font-family:宋体">：伏天</span>
		</p>
		<p>
		    23<span style="font-family:宋体">、黑手党</span>
		</p>
		<p>
		    24<span style="font-family:宋体">、黑手党</span>2
		</p>
		<p>
		    25<span style="font-family:宋体">、无可救药</span>
		</p>
		<p>
		    26<span style="font-family:宋体">、黑道圣徒</span>
		</p>
		<p>
		    27<span style="font-family:宋体">、黑道圣徒</span>2
		</p>
		<p>
		    28<span style="font-family:宋体">、真实犯罪：纽约城</span>
		</p>
		<p>
		    29<span style="font-family:宋体">、真实犯罪：喋血洛杉矶</span>
		</p>
		<p>
		    30<span style="font-family:宋体">、雇佣兵</span>
		</p>
		<p>
		    31<span style="font-family:宋体">、雇佣兵</span>2:<span style="font-family:宋体">战火纷飞</span>
		</p>
		<p>
		    32<span style="font-family:宋体">、</span>50<span style="font-family:宋体">美分：防弹</span>
		</p>
		<p>
		    33<span style="font-family:宋体">、</span>50<span style="font-family:宋体">美分：血沙</span>
		</p>
		<p>
		    34<span style="font-family:宋体">、教父</span>
		</p>
		<p>
		    35<span style="font-family:宋体">、教父</span>2
		</p>
		<p>
		    36<span style="font-family:宋体">、疤面煞星</span>
		</p>
		<p>
		    37<span style="font-family:宋体">、镇压</span>
		</p>
		<p>
		    38<span style="font-family:宋体">、死魂曲</span>
		</p>
		<p>
		    39<span style="font-family:宋体">、死魂曲</span>2
		</p>
		<p>
		    40<span style="font-family:宋体">、死魂曲：新生</span>
		</p>
		<p>
		    <span style="font-family:宋体">下面是娱儿</span>TV<span style="font-family:宋体">补充的禁止游戏，娱儿</span>TV<span style="font-family:宋体">坚决反对直播此类游戏的行为，下列游戏不得播出，否则将封停直播间（包含但不限于以下游戏）：</span>
		</p>
		<p>
		    1<span style="font-family:宋体">、热血无赖</span>
		</p>
		<p>
		    2<span style="font-family:宋体">、看门狗</span>
		</p>
		<p>
		    3<span style="font-family:宋体">、黑道圣徒系列</span>
		</p>
		<p>
		    4<span style="font-family:宋体">、黑色洛城系列</span>
		</p>
		<p>
		    5<span style="font-family:宋体">、孤胆车神：维加斯</span>
		</p>
		<p>
		    6<span style="font-family:宋体">、里约热内卢：圣徒之城</span>
		</p>
		<p>
		    7<span style="font-family:宋体">、孤岛惊魂系列</span>
		</p>
		<p>
		    8<span style="font-family:宋体">、极度深寒</span>
		</p>
		<p>
		    9<span style="font-family:宋体">、黑帮之地</span>
		</p>
		<p>
		    10<span style="font-family:宋体">、虐杀原形</span>
		</p>
		<p>
		    11<span style="font-family:宋体">、教父系列</span>
		</p>
		<p>
		    12<span style="font-family:宋体">、都市枭雄</span>
		</p>
		<p>
		    13<span style="font-family:宋体">、生死九毫米</span>
		</p>
		<p>
		    14<span style="font-family:宋体">、罪恶都市系列</span>
		</p>
		<p>
		    15<span style="font-family:宋体">、死亡扳机系列</span>
		</p>
		<p>
		    16<span style="font-family:宋体">、波斯王子系列</span>
		</p>
		<p>
		    17<span style="font-family:宋体">、刺客信条系列</span>
		</p>
		<p>
		    18<span style="font-family:宋体">、掠食</span>
		</p>
		<p>
		    19<span style="font-family:宋体">、喋血街头系列</span>
		</p>
		<p>
		    20<span style="font-family:宋体">、</span>MadWorld
		</p>
		<p>
		    21<span style="font-family:宋体">、</span>Splatterhouse
		</p>
		<p>
		    22<span style="font-family:宋体">、战神系列</span>
		</p>
		<p>
		    23<span style="font-family:宋体">、如龙系列</span>
		</p>
		<p>
		    24<span style="font-family:宋体">、忍者龙剑传系列</span>
		</p>
		<p>
		    25<span style="font-family:宋体">、鬼泣系列</span>
		</p>
		<p>
		    26<span style="font-family:宋体">、小镇惊魂</span>
		</p>
		<p>
		    27<span style="font-family:宋体">、耶利哥</span>
		</p>
		<p>
		    28<span style="font-family:宋体">、永生不灭</span>
		</p>
		<p>
		    29<span style="font-family:宋体">、死亡岛</span>
		</p>
		<p>
		    30<span style="font-family:宋体">、重返德军总部</span>
		</p>
		<p>
		    31<span style="font-family:宋体">、求生之路系列</span>
		</p>
		<p>
		    32<span style="font-family:宋体">、丧尸围城系列</span>
		</p>
		<p>
		    33<span style="font-family:宋体">、</span>FEAR<span style="font-family:宋体">系列</span>
		</p>
		<p>
		    34<span style="font-family:宋体">、惩罚者</span>
		</p>
		<p>
		    35<span style="font-family:宋体">、死亡空间系列</span>
		</p>
		<p>
		    36<span style="font-family:宋体">、黑暗系列</span>
		</p>
		<p>
		    37<span style="font-family:宋体">、真人快打系列</span>
		</p>
		<p>
		    38<span style="font-family:宋体">、命运战士</span>
		</p>
		<p>
		    39<span style="font-family:宋体">、侠盗猎魔系列</span>
		</p>
		<p>
		    40<span style="font-family:宋体">、辐射岛</span>
		</p>
		<p>
		    41<span style="font-family:宋体">、电锯惊魂系列</span>
		</p>
		<p>
		    42<span style="font-family:宋体">、腐尸之屋</span>
		</p>
		<p>
		    43<span style="font-family:宋体">、寂静岭系列</span>
		</p>
		<p>
		    44<span style="font-family:宋体">、生化危机系列</span>
		</p>
		<p>
		    45<span style="font-family:宋体">、迷失穿越多莫斯</span>
		</p>
		<p>
		    46<span style="font-family:宋体">、正当防卫系列</span>
		</p>
		<p>
		    47<span style="font-family:宋体">、奴隶少女</span>
		</p>
		<p>
		    48<span style="font-family:宋体">、实验</span>Z
		</p>
		<p>
		    49<span style="font-family:宋体">、病娇模拟器</span>
		</p>
		<p>
		    50<span style="font-family:宋体">、恶魔之子卢修斯</span>
		</p>
		<p>
		    51<span style="font-family:宋体">、皇帝</span>
		</p>
		<p>
		    52<span style="font-family:宋体">、尾行系列</span>
		</p>
		<p>
		    53<span style="font-family:宋体">、电车之狼系列</span>
		</p>
		<p>
		    54<span style="font-family:宋体">、美国末日</span>
		</p>
		<p>
		    55<span style="font-family:宋体">、日在校园</span>
		</p>
		<p>
		    56<span style="font-family:宋体">、死侍</span>
		</p>
		<p>
		    57<span style="font-family:宋体">、进击的巨人</span>
		</p>
		<p>
		    58<span style="font-family:宋体">、七日杀</span>
		</p>
		<p>
		    59<span style="font-family:宋体">、杀戮间系列</span>
		</p>
		<p>
		    60<span style="font-family:宋体">、勇者无惧</span>
		</p>
		<p>
		    61<span style="font-family:宋体">、人工学院</span>
		</p>
		<p>
		    62<span style="font-family:宋体">、</span>3D<span style="font-family:宋体">工口医</span>
		</p>
		<p>
		    63<span style="font-family:宋体">、</span>3D<span style="font-family:宋体">定制女仆</span>
		</p>
		<p>
		    64<span style="font-family:宋体">、爱上死神</span>
		</p>
		<p>
		    65<span style="font-family:宋体">、修罗恋</span>
		</p>
		<p>
		    66<span style="font-family:宋体">、御宅伴侣</span>
		</p>
		<p>
		    67<span style="font-family:宋体">、</span>3D<span style="font-family:宋体">定制少女</span>
		</p>
		<p>
		    68<span style="font-family:宋体">、同校生系列</span>
		</p>
		<p>
		    69<span style="font-family:宋体">、缘之空</span>
		</p>
		<p>
		    70<span style="font-family:宋体">、恶霸鲁尼</span>
		</p>
		<p>
		    71<span style="font-family:宋体">、高校模拟</span>
		</p>
		<p>
		    72<span style="font-family:宋体">、黎明杀机</span>
		</p>
		<p>
		    73<span style="font-family:宋体">、消逝的光芒</span>
		</p>
		<p>
		    74<span style="font-family:宋体">、巫师系列</span>
		</p>
		<p>
		    75<span style="font-family:宋体">、</span>H1Z1
		</p>
		<p>
		    76<span style="font-family:宋体">、秋叶原之旅系列</span>
		</p>
		<p>
		    77<span style="font-family:宋体">、毁灭战士系列</span>
		</p>
		<p>
		    78<span style="font-family:宋体">、毁灭公爵系列</span>
		</p>
		<p>
		    79<span style="font-family:宋体">、</span>Rust<span style="font-family:宋体">腐蚀</span>
		</p>
		<p>
		    80<span style="font-family:宋体">、方舟生存进化</span>
		</p>
		<p>
		    81<span style="font-family:宋体">、白色情人节</span>
		</p>
		<p>
		    82<span style="font-family:宋体">、恐怖学校</span>
		</p>
		<p>
		    &nbsp;
		</p>
		<p>
		    4<span style="font-family:宋体">、其他涉及违反《中华人民共和国刑法》或者《中华人民共和国治安处罚法》规定的情形。</span>
		</p>
		<p>
		    5<span style="font-family:宋体">、严禁主播或其粉丝通过非官方渠道刷取、充值鱼币或者利用非法手段影响主播人气等。</span>
		</p>
		<p>
		    6<span style="font-family:宋体">、严禁主播使用非本人身份证认证的直播间，主播本人与直播间身份信息必须保持一致。</span>
		</p>
		<p>
		    7<span style="font-family:宋体">、严禁主播通过任何方式使用或者宣传使用外挂、美化包等严重影响游戏环境的行为。</span>
		</p>
		<p>
		    <span style="font-family:宋体">以上违规为严重违规，违规的主播视情节轻重给予直播停止、禁播主播账号、封号、扣除全部报酬、奖励等处罚，同时官方将保留追溯法律责任的权利。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（二）</span> <span style="font-family:宋体">一般违规行为</span> 
		</p>
		<p>
		    <span style="font-family:宋体">一般违规行为是指除严重违规行为外，影响程度较轻的扰乱娱儿</span>TV<span style="font-family:宋体">直播平台秩序的行为。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">在视频直播中违反以下规定，构成一般违规，包括但不限于：</span> 
		</p>
		<p>
		    1<span style="font-family:宋体">、直播期间，主播的房间名字不得使用色情低俗、政治敏感、娱儿竞品直播平台、辱骂煽动粉丝等标题名。</span> 
		</p>
		<p>
		    2<span style="font-family:宋体">、直播期间不允许直播</span>PC<span style="font-family:宋体">游戏，以及录播其余娱儿竞争平台游戏。</span> 
		</p>
		<p>
		    3<span style="font-family:宋体">、直播期间主播在直播标题、公告和聊天互动中，不得推广与娱儿直接存在或者潜在存有竞争关系的直播平台。</span>
		</p>
		<p>
		    4<span style="font-family:宋体">、直播期间主播严禁以文字、语音、图片、视频等任何形式宣传其它与娱儿直接存在或者潜在存有竞争关系的直播平台。</span> 
		</p>
		<p>
		    5<span style="font-family:宋体">、直播期间严禁刻意发表低俗涉黄言论，引导直播间观看的用户低俗互动。</span> 
		</p>
		<p>
		    6<span style="font-family:宋体">、直播期间不得辱骂他人或煽动粉丝进行人身攻击以及去别的主播房间刷屏闹事；不得煽动地域歧视或其他侮辱性行为。</span> 
		</p>
		<p>
		    7<span style="font-family:宋体">、直播期间，主播插播广告或相关广告，从而影响他人体验或上当的行为。</span> 
		</p>
		<p>
		    8<span style="font-family:宋体">、直播期间，主播的房间标题和房间公告内不得有敏感违禁词汇以及任何涉及利用游戏漏洞卡</span>BUG<span style="font-family:宋体">，刷钻等教程；代练代跑；以赠予类文字信息虚假赠送各种礼物，</span>CDK<span style="font-family:宋体">，游戏币等；以各种欺骗名义打广告，使观众用户经济利益上当受骗。</span>
		</p>
		<p>
		    9<span style="font-family:宋体">、直播期间，严禁主播发出或者播放低俗龌龊、带有性暗示、存在不良导向的声音和音频。</span>
		</p>
		<p>
		    <span style="font-family:宋体">以上违规为一般违规，违规的主播按照违规次数给予处罚</span>
		</p>
		<p>
		    <span style="font-family:宋体">累计次数</span> 1<span style="font-family:宋体">次</span> 2<span style="font-family:宋体">次</span> 3<span style="font-family:宋体">次处罚时长与金额：</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（违规</span>1<span style="font-family:宋体">次）巡管警告一次，主播若不及时回应处理，关闭当前直播。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（违规</span>2<span style="font-family:宋体">次）禁播主播帐号</span>24<span style="font-family:宋体">小时，扣除当日奖励。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（违规</span>3<span style="font-family:宋体">次）禁播主播帐号</span>72<span style="font-family:宋体">小时，扣除当月所有报酬及奖励。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（三）轻微违规行为</span> 
		</p>
		<p>
		    <span style="font-family:宋体">轻微违规行为是指除严重违规行为和一般违规行为外，影响程度轻微的扰乱娱儿直播平台秩序的行为。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">在视频直播中违反以下规定，构成轻微违规，包括但不限于：</span> 
		</p>
		<p>
		    1<span style="font-family:宋体">、直播期间严禁持续爆粗口、谩骂、讨论低俗负面的话题。</span> 
		</p>
		<p>
		    2<span style="font-family:宋体">、直播期间主播与用户互动的时间不可超过每小时</span>15<span style="font-family:宋体">分钟。</span> 
		</p>
		<p>
		    3<span style="font-family:宋体">、直播期间如果主播有事离开，期间挂机时间不允许超过</span>3<span style="font-family:宋体">分钟，严禁恶意挂机（如长时间打电话，聊</span>QQ<span style="font-family:宋体">等）。</span>
		</p>
		<p>
		    4<span style="font-family:宋体">、直播期间严禁借助外部工具，为个人目的，故意刷人气的行为。</span> 
		</p>
		<p>
		    5<span style="font-family:宋体">、直播期间主播严禁出现抽烟喝酒等不良行为。</span> 
		</p>
		<p>
		    6<span style="font-family:宋体">、直播期间，主播务必检查好网络环境和直播质量，严禁在花屏严重、黑屏卡屏、画面颠倒等情况下执意继续直播，影响观看体验。</span> 
		</p>
		<p>
		    7<span style="font-family:宋体">、严禁主播以家族／公会统一命名。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">以上违规为轻微违规，违规的主播按照违规次数给予处罚</span>
		</p>
		<p>
		    <span style="font-family:宋体">累计次数</span> 1<span style="font-family:宋体">次</span> 2<span style="font-family:宋体">次</span> 3<span style="font-family:宋体">次</span> 4<span style="font-family:宋体">次处罚时长与金额：</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（违规</span>1<span style="font-family:宋体">次）巡管警告一次，主播若不及时回应处理，关闭当前直播。</span>
		</p>
		<p>
		    <span style="font-family:宋体">（违规</span>2<span style="font-family:宋体">次）隐藏主播直播间，隐藏期间无任何奖励。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（违规</span>3<span style="font-family:宋体">次）禁播主播帐号</span>24<span style="font-family:宋体">小时，扣除当日奖励。</span> 
		</p>
		<p>
		    <span style="font-family:宋体">（违规</span>4<span style="font-family:宋体">次）禁播主播帐号</span>72<span style="font-family:宋体">小时，扣除当月所有报酬及奖励。</span>
		</p>
		<p>
		    <span style="font-family:宋体">（四）考核标准</span>
		</p>
		<p>
		    <span style="font-family:宋体">已经书面签约的认证主播，嘉兴娱儿有权根据双方协议的约定，对认证主播的实际直播情况进行考核，具体的考核标准包括：月直播时长、月度排名等，如上述主播经考核不合格的，经通知后，主播有权提出申诉复核，如未提出申诉复核或经复核仍维持原结果的，则嘉兴娱儿有权单独或要求签约方与主播调整相应的待遇，认证主播应当予以认可，并自愿配合办理相应的手续。上述考核期限为每半年一次。</span>
		</p>
		<p>
		    <span style="font-family:宋体">五、用户点击确认本《主播规则》的，视为无条件服从本规则的约束，并放弃对上述规则申诉或抗辩的权利，同时，认证主播同意并授权嘉兴娱儿对于以上各条款拥有最终解释权。</span>
		</p>
		<p>
		    &nbsp;
		</p>
		<p>
		    <span style="font-family:宋体">六、以上条款自</span> <span style="font-family:宋体">月</span> <span style="font-family:宋体">日起生效，嘉兴娱儿有权根据情况对上述各条款进行变更或修改。认证主播对于条款的修改及变更持有异议的，应立即停止使用娱儿的服务，并与</span>24<span style="font-family:宋体">小时内以书面异议的方式与娱儿工作人员接洽，如逾期未提出书面异议或认证主播重新登录娱儿或再次使用娱儿所提供相应服务的，视为认证主播同意对条款的变更和修改。</span>
		</p>
	</div>
</div>

{% endblock %}