{% extends 'layout.html' %} 
{% block css %}
	<style type="text/css">
		.footer{
			display:none;
		}
		body{
			background: #141a20;
		}
		.m-topupsuccess{
			position:fixed;
			width:365px;
			height:200px;
			top:0;
			right:0;
			bottom: 0;
			left: 0;
			margin:auto;
			background:#323a43;
			border-radius:5px;
			}
			.m-topupsuccess .u-success{
			width:220px;
			height:45px;
			margin:50px 75px 35px 70px;
			}
			.m-topupsuccess img{
			display:inline-block;
			width:40px;
			height:40px;
			line-height:40px;
			border:none;
			vertical-align: middle;
			}
			.m-topupsuccess span{
			display:inline-block;
			color:#fff;
			font-size:24px;
			color:#f36;
			margin-left:25px;

			}

			.m-topupsuccess .u-cancel a{
			display:inline-block;
			width:100px;
			height:35px;
			line-height:35px;
			text-align: center;
			border-radius:5px;
			color:#fff;
			background:#f36;
			margin:0px 125px;

			}

	</style>
{% endblock %}

{% block content %}
	
</head>
<body>
	<div class="m-topupsuccess">
		<div class="u-success">
			<img src="/images/iconcancel.png"><span>充值成功!</span>
		</div>
		<div class="u-cancel">
			<a href="/center/topup" id="topCancel">确定</a>
		</div>
	</div>
</body>
</html>
{% endblock %}

