<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="" data-msg-img="" data-msg-title="手游主播月入百万的真相在这里！" data-msg-content="玩着手游，躺着赚钱！娱儿直播主播招募令，百万薪金等你瓜分！" data-msg-callBack="" data-line-img="" data-line-title="手游主播月入百万的真相在这里！" data-line-callBack=""/>
    <meta name="baidu-site-verification" content="nD6yyolNXN" />
    <link rel="shortcut icon" type="image/ico" href="/yuer.ico">
	<title>手游主播月入百万的真相在这里！</title>
	<style type="text/css">
		html{width:100%; height:100%; -webkit-tap-highlight-color:transparent;}
		body,ul,li,p,h3,h4,h2,em,button,input{margin: 0; padding: 0;}
		body{font-family:Hiragino Sans GB W3,'微软雅黑',Heiti SC; 
			font-size:62.5%; font-style:normal;  margin:0 auto; height:100%; color:#9da4ad; 
			background: #f0f6ff; overflow-x:hidden; -webkit-overflow-scrolling:touch;max-width:800px;}
		img{border:0; max-width:100%;vertical-align:top;}
	</style>
</head>
<body>
<div class="g-container">
	<img src="/cash/images/teach1.jpg">
	<img src="/cash/images/teach2.png">
	<img src="/cash/images/teach3.png">
	<img src="/cash/images/teach4.png">
	<img src="/cash/images/teach5.png">
	<img src="/cash/images/teach6.png">
	<img src="/cash/images/teach7.png">
</div>
<script type="text/javascript" src="/jquery.min.js"></script>
<script src="/jquery.sha1.js"></script>
<script src="/wxjsapi.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
$(function(){
	var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?5f199d5d81411ab659081729f1f34008";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
	enableWxShare({
		appId: 'wxf96f728533f32fa8',
		ticket: '{{ticket}}',
		title: '手游主播月入百万的真相在这里！',		
		imgUrl: 'http://img.wangyuhudong.com/uploads/imgs/live/2017/yuerlogo.png',
		desc: '玩着手游，躺着赚钱！娱儿直播主播招募令，百万薪金等你瓜分！'
	})
		
})
</script>
</body>
</html>