<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="shortcut icon" type="image/ico" href="/yuer.ico">
	<title>我要提现</title>
	<link rel="stylesheet" href="/cash/css/cash.css">
</head>
<body>
	<div class="g-bd">
		<div class="m-login">
			<img src="/cash/images/bg.jpg" alt="">
			<div class="m-login-wrap">
				<div class="m-input">
					<input type="tel" placeholder="请输入手机号" class="tel">
					<span class="error"></span>
				</div>
				<div class="m-input">
					<input type="tel" placeholder="请输入验证码" class="code">
					<span class="error"></span>
					<button class="getCode">获取验证码</button>
				</div>
				<p class="code-send">验证码已发送</p>
				<button class="login">确定</button>
			</div>
		</div>
	</div>
</body>
</html>