{% extends 'layout.html' %} 

{% block content %}

<div class="comWidth">
	<div class="m-content">
		<ul class="m-navlink f-cb">
			<li><a href="/guide/about" class="current">关于我们</a>|</li>
			<li><a href="/guide/join">人才招聘</a>|</li>
			<li><a href="/guide/contact">联系我们</a>|</li>
			<li><a href="/guide/copyright">著作权声明</a></li>
		</ul>
		<img src="/images/about.jpg" alt="">
		<div class="about-box f-cb">
			<img src="/images/about_ph1.png" alt="" class="f-fl">
			<div class="about-intro ml120">
				<img src="/images/about_w1.png" alt="">
				<p>娱儿直播app是一款极具人气、火爆的手游直播平台， 精彩视频，热门赛事，明星解说，抢先直播。</p>
			</div>
		</div>
		<div class="about-box f-cb">
			<div class="about-intro mr120">
				<img src="/images/about_w2.png" alt="">
				<p>娱儿直播app有皇室战争、球球大作战、我的世界、王者荣耀、 穿越火线、枪战王者、火影忍者、天天酷跑、全名枪战等游戏 不同玩法、</p>
			</div>
			<img src="/images/about_ph2.png" alt="" class="f-fl">			
		</div>
		<div class="about-box f-cb">
			<img src="/images/about_ph3.png" alt="" class="f-fl">
			<div class="about-intro ml120">
				<img src="/images/about_w3.png" alt="">
				<p>娱儿直播，集合国内外所有热门手机游戏，所有热门手游赛事，让你每天都有最新的游戏和赛事观赏！</p>
			</div>
		</div>
		<div class="about-box f-cb">
			<div class="about-intro mr120">
				<img src="/images/about_w4.png" alt="">
				<p>娱儿直播有最热门的赛事，最具有人气的职业选手，最搞怪的直播，最有创意的主播。 </p>
				<p>下载娱儿直播app，随时随地享受手游直播所带来</p>
			</div>
			<img src="/images/about_ph4.png" alt="" class="f-fl">			
		</div>
	</div>
</div>
{% endblock %}