{% extends 'layout.html' %} 

{% block content %}

<div class="comWidth">
	<div class="m-content">
		<ul class="m-navlink f-cb">
			<li><a href="/guide/about">关于我们</a>|</li>
			<li><a href="/guide/join">人才招聘</a>|</li>
			<li><a href="/guide/contact" class="current">联系我们</a>|</li>
			<li><a href="/guide/copyright">著作权声明</a></li>
		</ul>
		<img src="/images/about.jpg" alt="">
		<div class="contact">
			<h3>联系我们</h3>
			<p>广告合作：yuer@miqtech.com</p>
			<p>应聘求职：hr-wangyu@miqtech.com</p>
			<p>商务合作：QQ:403661</p>
		</div>
	</div>
</div>

{% endblock %}