{% extends 'layout.html' %} 

{% block content %}

<div class="comWidth">
	<div class="m-guide">
		<ul class="m-navlink f-cb">
			<li><a href="/guide/about">关于我们</a>|</li>
			<li><a href="/guide/join">人才招聘</a>|</li>
			<li><a href="/guide/contact">联系我们</a>|</li>
			<li><a href="/guide/copyright" class="current">著作权声明</a></li>
		</ul>
		<img src="/images/about.jpg" alt="">
		<div class="contact">
			<h3>著作权声明</h3>
			<p style="text-indent: 2em;">本网站（娱儿互动）所有内容，包括但不限于文字、图片、视频、音频、图表、标志、标识、商标、版面设计等，均受《中华人民共和国著作权法》、《中华人民共和国商标法》及适用之国际公约中有关著作权、商标权以及或其它财产所有权法律的保护，相应的版权或许可使用权均属嘉兴娱儿所有。 凡未经嘉兴娱儿书面授权，任何单位及个人不得以任何方式或理由对上述嘉兴娱儿合法拥有知识产权的内容进行使用、转载、复制、修改、重制、传播、展示或使用界面网站的局部或全部的内容或服务，或在非界面网站所属服务器上建立镜像等。如果已发生上述行为，请自行删除并消除影响。同时，嘉兴娱儿保留进一步追究相关行为主体的法律责任的权利。</p>
		</div>
	</div>
</div>

{% endblock %}