html{width:100%; height:100%; -webkit-tap-highlight-color:transparent;font-size:62.5%;}
body,ul,li,p,h3,h4,h2,em,button,input{margin: 0; padding: 0;}
body{font-family:Hiragino Sans GB W3,'微软雅黑',Heiti SC; 
	 font-style:normal;  margin:0 auto; height:100%;
	background:#fff; overflow-x:hidden; -webkit-overflow-scrolling:touch;max-width:800px;}
li{ list-style:none;}
h3{font-size: 1.5rem;line-height: 1.25;}
a{text-decoration: none; color:#9da4ad;}
.m-bg{
	background:#fff;
	padding:10px 2.5% 25px;
}
.g-top{
	font-size:21px;
	color:#333;
	padding-bottom: 15px;
}
.g-nav{
	font-size:10px;
	color:#465667;
}
.g-n-date{
	margin-right:5%;
	color:#999;
}
.g-n-title{
	display:inline-block; 
	width:20%;
	height:20px;
	line-height:20px;
	text-align:center;
	margin-right:0.2%;
	font-size:9px;
	color:#00a3ff;
	border:1px solid #00a3ff;
	position:absolute;
	right:2.5%;
	left:auto;
	border-radius: 2px;
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/ 
}
.g-n-line{
	border:1px solid #e6e6e6;
	margin-top:5%;
}
.g-mian{
	font-size:12px;color:#fff;
}
.g-mian img{
	max-width: 100%;
	height: auto!important;
}
.g-m-video{
	margin:5% 0;
}
.g-comment{
	background:#f5f5f5
	padding:12px 12px 3.5rem;
}
.u-title{
	font-size: 1rem;
	color:#666;
	margin-left:5%;
}
.u-title img{
	height: 1rem;
	vertical-align: middle;
	margin-right: 5px;
}
.comment{
	display:block;
	border-top: 1px solid #1c232d;
	padding:9px 0;
	font-size: 1.2rem;
}
.comment img{
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
	margin-right: 10px;
}
.comment-content{
	width: 100%;
	padding-left: 4rem;
	box-sizing: border-box;
}
.comment-content h3{
	font-size: 1.2rem;
	color:#f3f3f4;
}
.comment-content h3 span{
	font-size: 0.9rem;
	color:#465667;
}
.reply-nickname{
	color: #1cc7ff;
}
img.u-empty-img{
	display:block;
	width:45%;
	margin:0 auto;
}
img.f-fl{float:left;}
span.f-fr{
	float:right;
}
.u-empty-data{
	font-size:14px;
	color:#666;
	text-align:center;
	margin-top:5px;
}
.g-bt{
	position: fixed;
	bottom: 0;
	background: #fff;
	width: 100%;
	padding:1rem 0;
	color:#999;
}
.g-bt li{
	float: left;
	width: 50%;
	height: 1.5rem;
	text-align: center;
}
.g-bt li i{
	display: inline-block;
	float: right;
	font-style: normal;
	width: 1px;
	height: 100%;
	background: #666;
}
.g-bt li img{
	height: 100%;
	vertical-align: middle;
	margin-right: 5px;
}