html{width:100%; height:100%; -webkit-tap-highlight-color:transparent;font-size:62.5%;}
body,ul,li,p,h3,h4,h2,em{margin: 0; padding: 0;}
body{font-family:Hiragino Sans GB W3,'微软雅黑',Heiti SC; font-style:normal; max-width: 800px; margin:0 auto; height:100%; color:#666; background: #fff; overflow-x:hidden; -webkit-overflow-scrolling:touch;}
img{border:0; max-width:100%;}
li{ list-style:none;}
a{text-decoration: none; color:#666;}
h3{font-size: 1.5rem;line-height: 1.25;}
button{border: none;outline: none;}
button,input{padding:0;margin:0;outline: none;}

.f-fl{float:left;}.f-fr{float:right;}
.f-cb{*zoom:1;}.f-cb:after{display:block; content:"$"; height:0; clear:both; overflow:hidden; visibility:hidden;}
[v-cloak] { display: none }

.g-info{
	background: #fff;
	margin-top: 10px;
	padding:12px;
}
.top .avatar{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	margin-right: 10px;
}
.title h3{
	font-size: 1.3rem;
	color:#666;
	margin-bottom: 0.7rem;
}
.title h3 img{
	height: 1.3rem;
	vertical-align: middle;
	margin-left: 5px;
}
.title p{
	font-size: 1rem;
	color:#999;
}
.top a{
	display: block;
	background: #1cc7ff;
	color:#fff;
	font-size: 1.2rem;
	padding:0.9rem;
	border-radius: 5px;
}
.top a img{
	height: 1.2rem;
	margin-right: 5px;
	vertical-align: middle;
}
.pre{
	white-space: pre-wrap;
	word-wrap: break-word;
}
.middle{
	font-size: 1.2rem;
	color:#666;
}
.middle h3{
	color:#fff;
	font-size: 1.2rem;
	margin:1.8rem 0 1rem;
}
.lightbox{
	margin:10px 0;
}
.lightbox div{
	float: left;
	margin-bottom: 10px;
}
.lightbox img{
	vertical-align: bottom;
}
.lightbox .less{
	width: 100%;
}
.lightbox .mid{
	width: 48%;
	margin-right: 2.4%;
}
.lightbox .mid:nth-child(even){
	margin-right: 0;
}
.lightbox .full{
	width: 31%;
	margin-right: 2%;
}
.lightbox .full:nth-child(3n+0){
	margin-right: 0;
}
.game-name{
	display: inline-block;
	color:#00a3ff;
	border:1px solid #00a3ff;
	border-radius: 2px;
	font-size: 1rem;
	padding:3px 10px;
}
.g-comment{
	padding:12px 12px 3.5rem;
	background:#f5f5f5;
}
.u-title{
	font-size: 1rem;
	color:#666;
}
.u-title img{
	height: 1rem;
	vertical-align: middle;
	margin-right: 5px;
}
.comment{
	display: block;
	border-top: 1px solid #e6e6e6;
	padding:9px 0;
	font-size: 1.2rem;
}
.comment img{
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
	margin-right: 10px;
}
.comment-content{
	width: 100%;
	padding-left: 4rem;
	box-sizing: border-box;
}
.comment-content h3{
	font-size: 1.2rem;
	color:#666;
}
.comment-content h3 span{
	font-size: 0.9rem;
	color:#999;
}
.reply-nickname{
	color: #1cc7ff;
}
.u-empty-img{
	display:block;
	width:45%;
	margin:0 auto;
}
.u-empty-data{
	font-size:14px;
	color:#fff;
	text-align:center;
	margin-top:5px;
}
.g-bt{
	display: block;
	position: fixed;
	bottom: 0;
	background: #fff;
	width: 100%;
	padding:1rem 0;
	color:#c9c9cc;
	background:#f5f5f5;
}
.g-bt li{
	float: left;
	width: 50%;
	height: 1.5rem;
	text-align: center;
}
.g-bt li i{
	display: inline-block;
	float: right;
	font-style: normal;
	width: 1px;
	height: 100%;
	background: #55545f;
}
.g-bt li img{
	height: 100%;
	vertical-align: middle;
	margin-right: 5px;
}
.swiper-box{
	background: rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	height: 100%;
	width: 100%;
	display: none;
}
.swiper-container{
	height: 100%;
}
.swiper-slide img{
	width: 100%;
	position: absolute;
	top:50%;
	transform: translate(0,-50%);
}
.swiper-pagination-bullet{
	background: #fff;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background: #1cc7ff;
}