/*reset*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-weight: normal;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
a,a:hover{color:#fff;text-decoration: none;}
img{border:0;max-width: 100%;vertical-align: bottom;}
button{border:none;background: none;}
html,body{width: 100%;height: 100%;margin:0 auto;font-family: 'Microsoft YaHei','微软雅黑', Helvetica,Arial,sans-serif;}
body:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/bg.png) center 0 no-repeat;
  background-size: cover;
}

/*function*/
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}


[v-cloak] {
	display: none;
} 

/*input*/
input{
	height: 1.066667rem;
	line-height: 1.066667rem;
	border:none;
	color:#333;
}
/*placeholder*/
input::-webkit-input-placeholder{font-size:0.4rem;color:#999;}    /* 使用webkit内核的浏览器 */
input:-moz-placeholder{font-size:0.4rem;color:#999;}              /* Firefox版本4-18 */
input::-moz-placeholder{font-size:0.4rem;color:#999;}             /* Firefox版本19+ */
input:-ms-input-placeholder{font-size:0.4rem;color:#999;}         /* IE浏览器 */

/*按钮公共样式*/
/*大按钮*/
.u-btn-confirm{
	display: block;
	width: 88%;
	margin:0 auto;
	height: 1.173333rem;
	background:#ceb077;
	font-size: 0.453333rem;
	color:#3a2913;
	border-radius: 0.08rem;
}