/*reset*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-weight: normal;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
a,a:hover,a:visited{text-decoration: none!important;}
img{border:0;max-width: 100%;vertical-align: bottom;}
button{border:none;background: none;}
html,body{width: 100%;height: 100%;margin:0 auto;font-family: 'Microsoft YaHei','微软雅黑', Helvetica,Arial,sans-serif;}
body:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/bg.png) center 0 no-repeat;
  background-size: cover;
}

/*function*/
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}


[v-cloak] {
	display: none;
} 

/*input*/
input{
	height: 1.013333rem;
	line-height: 1.013333rem;
	width: 6.4rem;
	background: #201e34;
	border:none;
	color:#fffffe;
	text-indent: 0.32rem;
	font-size: 0.4rem;
}
/*placeholder*/
input::-webkit-input-placeholder{font-size:0.4rem;color:#7b7484;}    /* 使用webkit内核的浏览器 */
input:-moz-placeholder{font-size:0.4rem;color:#7b7484;}              /* Firefox版本4-18 */
input::-moz-placeholder{font-size:0.4rem;color:#7b7484;}             /* Firefox版本19+ */
input:-ms-input-placeholder{font-size:0.4rem;color:#7b7484;}         /* IE浏览器 */

/*按钮公共样式*/
/*大按钮*/
.u-btn-confirm{
	display: block;
	width: 88%;
	margin:0 auto;
	height: 1.173333rem;
	line-height: 1.173333rem;
	background:#ceb077;
	font-size: 0.453333rem;
	color:#3a2913;
	border-radius: 0.08rem;
	text-align: center;
}

/*标题*/
.m-title{
	height: 1.173333rem;
	line-height: 1.173333rem;
	border-bottom: 2px solid #33303f;
	background: url(../images/depart_titleIcon.png) left center no-repeat;
	background-size: 0.426667rem 0.293333rem;
	color:#dfbb73;
	font-size: 0.453333rem;
	font-weight: bold;
	text-indent: 0.6rem;
	margin-bottom: 0.48rem;
}

/*选择*/
.select-ul li{
	width: 2.453333rem;
	height: 0.8rem;
	line-height: 0.8rem;
	float: left;
	border:2px solid #71605b;
	border-radius: 4px;
	font-size: 0.346667rem;
	color:#71605b;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	margin-right: 0.64rem;
	margin-bottom: 0.4rem;
}
.select-ul li:nth-child(3n){
	margin-right: 0;
}
.select-ul li.active{
	background: url(../images/depart_active.png) no-repeat;
	background-size:cover;
	color:#4d250e;
}

/*font*/
.fs-24{font-size: 0.32rem}

/*color*/
/*浅黄色*/
.fc-ly{color:#dfbb73;}
/*暗灰色*/
.fc-dg{color:#645d55;}

/*background*/
.bgc-grey{background-color:#28283b;}

/*footer样式*/
footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 1.306667rem;   /*98px*/
  line-height: 1.306667rem;
  background-color:#28283b;
  border-top:2px solid #33303f;
}
footer ul{
  display: table;
  width: 100%;
  height: 100%;
}
footer ul li{
  position: relative;
  display: table-cell;
  text-align: center;
}
.footer-item a{
  display: block;
  width: 100%;
  height: 100%;
}
.footer-item i{
  position: absolute;
  top: 35%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 1.066667rem;  /*80px*/
  height: 0.666667rem; /*50px */
  background-size: 1.066667rem 0.666667rem;
}
.departure-icon{
  background: url('/depart/images/departure.png');
}
.list-icon{
  background: url('/depart/images/depart_list.png');
}
.my-icon{
  background: url('/depart/images/depart_my.png');
}
.footer-text{
  position: absolute;
  width: 100%;
  height: 0.32rem;    /*24px*/
  line-height: 0.32rem;
  bottom:0.133333rem;  /*10px*/
  color:#645d55;
}
/*高亮状态*/
.footer-item.active .departure-icon{
  background: url('/depart/images/departure_active.png');
}
.footer-item.active .list-icon{
  background: url('/depart/images/depart_listActive.png');
}
.footer-item.active .my-icon{
  background: url('/depart/images/depart_myActive.png');
}
.footer-item.active .footer-text{
  position: absolute;
  width: 100%;
  height: 0.32rem;    /*24px*/
  line-height: 0.32rem;
  bottom:0.133333rem;  /*10px*/
  color:#dfbb73;
}
