/*我的*/
#my .g-hd{
	height: 5.6rem;
	background: url(../images/my_bg.png);
	background-size: cover;
	padding-top:1.12rem;
	box-sizing: border-box;
	font-size: 0.426667rem;
	color:#fff;
	text-align: center;
}
#my .g-hd img{
	display: block;
	width: 1.92rem;
	height: 1.92rem;
	border-radius: 50%;
	margin: 0 auto 0.4rem;
	border:0.04rem solid #fff;
	box-sizing: border-box;
}
#my .g-hd .my-id{
	font-size: 0.373333rem;
	opacity: 0.5;
	margin-top: 0.266667rem;
}
.g-lst{
	margin:0 0.266667rem;
	border:0.026667rem solid #33303f;
	border-radius: 0.053333rem;
}
.m-lst{
	display: block;
	height: 1.173333rem;
	line-height: 1.173333rem;
	color:#dfbb73;
}
.m-lst .lst-item{
	position: relative;
	margin-left: 1.173333rem;
	height: 100%;
	line-height: 1.173333rem;
	border-bottom:0.026667rem solid #33303f;
	background:url(../images/arrow.png) 97% center no-repeat;
	background-size: 0.226667rem 0.373333rem;
	font-size: 0.453333rem;
	box-sizing: border-box;
}
.m-lst .lst-item span{
	position: absolute;
	right: 10%;
	/*float: right;
	margin-right: 10%;*/
	color:#786f57;
	font-size: 0.373333rem;
	line-height: normal;
	top: 51%;
	transform: translate(0,-50%);
	/*line-height: 1.173333rem;*/
}
.m-lst .lst-item em{
	color:#786f57;
	font-size: 0.373333rem;
}
.m-lst:last-child .lst-item{
	border:none;
}
.m-lst i{
	display: inline-block;
	width: 0.586667rem;
	height: 0.586667rem;
	margin:0.293333rem 0 0 0.293333rem;
	background: url(../images/my_icon.png) no-repeat;
	background-size: 0.586667rem;
	position: absolute;
}
.m-lst .my-tel{
	background-position: 0 -0.586667rem;
}
.m-lst .my-area{
	background-position: 0 -1.173333rem;
}
.m-lst .my-time{
	background-position: 0 -1.76rem;
}
.m-lst .my-list{
	background-position: 0 -2.346667rem;
}
/*账户余额*/
.m-balance{
	position: relative;
	height: 4.266667rem;
	margin:0.4rem;
	background:url(../images/balance.png) no-repeat;
	background-size: cover;
	padding:0.4rem;
	box-sizing: border-box;
	color:#786d57;
	font-size: 0.346667rem;
}
.m-balance .money{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color:#dfbb73;
	font-size: 1.333333rem;
	text-align: center;
	line-height: 4.266667rem;
}
.m-balance .money em{
	font-size: 0.853333rem;
}
/*充值*/
#recharge,#myArea{
	padding:0.426667rem 0.266667rem 2.0rem;
}
.g-avatar{
	height: 1.2rem;
	margin-bottom: 0.426667rem;
}
.g-avatar img{
	position: absolute;
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	border:0.04rem solid #fff;
	box-sizing: border-box;
	margin:0 0.4rem 0 0.16rem;
}
.g-avatar .detail{
	margin-left: 1.76rem;
	font-size: 0.426667rem;
	color:#fff;
}
.g-avatar .detail .my-id{
	margin-top: 0.266667rem;
	font-size: 0.373333rem;
	opacity: 0.5;
}
.g-recharge{
	background:#131128;
	border:2px solid #33303f;
	border-radius: 0.053333rem;
	padding:0 0.213333rem;
	margin-bottom: 0.853333rem;
}
.g-recharge input{
	margin-bottom: 0.533333rem;
}
/*陪练*/
.my-title{
	font-size: 0.346667rem;
	color:rgba(255,255,255,0.3);
	margin-bottom: 0.266667rem;
}