*{margin: 0; padding: 0;}
html, body {
    position: relative;
    height: 100%;
    -webkit-tap-highlight-color:transparent;
}
body{
	font-family:Hiragino Sans GB W3,'微软雅黑',Heiti SC;
	width: 100%;
	height: 100%;
	max-width: 800px;
	overflow:hidden;
	margin:0 auto;
}
img{
	border:0;
	max-width:100%;
	vertical-align:top; 
}
.g-container{
	width:100%;
	height: 100%;
	position:relative;
	overflow: hidden;
}
.m-startpage{
	position:relative;
	width:100%;
	height: 100%;
	z-index: 999;
}
.u-stotal{
	position:absolute;
	width:90%;
	height:65.5%;
	top:34.5%;
	left: 5%;
}
.switchs{
	position:relative;
	width:100%;
	height:67%;
}
.u-switch{
	width:100%;
	/*height:30px;*/
	margin-left:10%;
}
.u-switch i{
	display:inline-block;
	width:40%;
	height:30px;
	line-height: 26px;
	margin-top:0.5%;
	font-style:normal;
	font-size:16px;
	color:#000;
	background: #f33030;
	border:2px solid #000;
	text-align: center;
	box-sizing: border-box;
	background: url(/activity/images/data_arrowleft.png) 5% center no-repeat;
	background-size:9px 15px;
}
.u-switch .u-sleft{
	border-radius:15px 0 0 15px;
	border-right: none;
}
.u-switch .u-sright{
	border-radius:0 15px 15px 0;
	background: url(/activity/images/data_arrowright.png) 90% center no-repeat;
	background-size:9px 15px;
}
.u-switch .u-current{
	background-color: #fde401;
}
.switch-content li:first-child{
	background: url('/activity/images/data_one.png') 18px 0 no-repeat;
	background-size: 20px 20px;
}
.switch-content li:nth-child(2){
	background: url('/activity/images/data_two.png') 18px 0 no-repeat;
	background-size: 20px 20px;
}
.switch-content li:nth-child(3){
	background: url('/activity/images/data_three.png') 18px 0 no-repeat;
	background-size: 20px 20px;
}
.switch-content{
	display:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	/*margin-left:10%;*/
	top:0;
	overflow-y: auto;
}
div.switchtss{
	position: absolute;
	width:100%;
	left:0;
}
div.switchts{
	/*display:none;*/
	position: absolute;
	width:100%;
	left: 750px;
}
.switch-content ul{
	list-style:none;
	margin-top:10px;
	margin-left:13%;
	width:100%;
	height:100%;
	top:-2%;
}
.switch-content ul li{
	width:100%;
	padding:20px 0 5px; 
	/*height:16%;*/
	/*line-height: 16%;*/
	margin-left:-5%;
}
ul li span{
	display:inline-block;
	height:100%;
	font-size:16px;
	color:#fff;
}
li .scone{
	width:5%;
	font-size:16px;
	color:#000;
}
li .sctwo{
	width:10%;
	border-radius: 50%;
	margin:-3% 2% 0% 2%;
	overflow:hidden;
}
li .sctwo img{
	float:left;
	display:inline-block;
	width:100%;
}
li .scthree{
	width:30%;
}
li .scfour{
	width:35%;
	margin-left:5%;
	margin-right:0.5%;
}
li span.scfouro{
	color:#ffff01;
}
.u-canc{
	width:70%;
	height:18%;
	margin-left:15%;
	margin-top:5%;
}
.g-containers{
	width:100%;
	overflow:hidden;
	/*display:none;*/
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.m-fbutton{
    		width:90%;
    		height:80%;
    		top:20%;
    		left:10%;
    	}
    	.oneblock{
    		margin:40% 10% 0% 60%;
    	}
    	.g-containers .m-fbutton img{
    		display:inline-block;
			width:85%;
			margin:80% 0% 0% 3%;
		}
		.fontsize{
			font-size:16px;
		}
		.white{
			color:#fff;
		}
		.g-containers .total{
			display:inline-block;
			width:90%;
			 height:10%; 
			 font-size:16px;	 
		}
		.g-containers .total .t_num{ 
			display:inline-block; 
			line-height:100%; 
		}
		.g-containers .total .t_num i{
			display:inline-block;
			width:100%;
			height:100%; 
			margin-top:-10%;
			display:inline-block; 
			background: url(/activity/images/number.png) no-repeat; 
		}
		.fivenone{
			margin-top:30% 0% 3% 0%;
		}
		.fivenonetwo{
			margin:3% 0% 50% 0%;
		}
		.fournone{
			margin:30% 0% 80% 0%;
		}
		.threenon{
			margin-top:40%;
		}
		.threenone{
			margin-top:100%;
		}
		p.twonone{
			margin-bottom:60%;
		}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.g-containers{
	width:100%;
	position:relative;
	top:0;
}
.g-containers .swiper-slide{
	position:relative;
}
.g-containers .m-float{
	position:absolute;
}

.g-containers .m-twoblock{
	width:80%;
	height:80%;
	top:8%;
	left:10%;
	text-align:center;
}
.g-containers .u-icon{
	width:25%;
	height:25%;
	margin:0 auto;
}
.g-containers .u-icon img{
	display:inline-block;
	width:100%;
	border-radius:50%;
}
.g-containers .u-in p{
	margin-top:5%;
	font-size:16px;
	color:#fff;
}
.g-containers .u-in p span{
	color:#f36;
}
.g-containers .u-dates{
	margin-top:20%;
}
.g-containers .right img,.g-containers .left img{
	display:inline-block;
	width:15%;
	margin-top:-6%;
}
.g-containers .right span ,.g-containers .left span{
	font-size:14px;
	color:#fff;
}
.g-containers .right{
	text-align:right;
}
.g-containers .u-dates .right{
	font-size:14px;
	color:#fff;
}
.g-containers .left{
	text-align:left;
}
.g-containers .u-dates .left{
	margin-top:5%;
	font-size:14px;
	color:#fff;
}
.g-containers .u-dates p{
	font-size:14px;
	color:#fff;
	margin-top:4%;
}
.rights{
	text-align:right;
}
.lefts{
	text-align:left;
}
.g-containers p.centers{
	text-align:center;
}
/*第三页*/
.g-containers .m-threeblock{
	width:75%;
	height:70%;
	top:10%;
	left:12.5%;
	margin:0 auto;
}
.g-containers p{
	font-size:14px;
	color:#fff;
}
.g-containers .threetop{
	margin:5% 0% 4% 0%;
}
.g-containers .threecenter{
	margin:70% 6% 4% 0%;
}
.g-containers .rightsix{
	margin-right:6%;
}
.g-containers .threebottom{
	margin:3% 6% 30% 0%;
}
.g-containers p span{
	font-size:14px;
	color:#f36;
}
/*第四页*/
.g-containers .m-fourblock{
	width:80%;
	height:70%;
	top:10%;
	left:10%;
	margin:0 auto;
}
.g-containers .fourtop{
	margin-bottom:4%;
}
.g-containers .fourcenter{
	margin:3% 0% 90% 0%;
}
.g-containers .fourbottom{
	margin-top:3%;
}
/*第五页*/
.g-containers .m-fiveblock{
	width:70%;
	height:80%;
	top:5%;
	left:10%;
}
.g-containers .fivepublic{
	margin:0% 0% 3% 5%;
}
.g-containers .fivetop{
	margin-bottom:1%;
}
.g-containers .fivecenter{
	margin:90% 0% 4% 0%;
}
.g-containers .fivebottom{
	margin:3% 0% 20% 0%;
}
/*第六页*/
.g-containers .m-sixblock{
	width:70%;
	height:80%;
	top:10%;
	left:15%;
}
.g-containers .sixblock p{
	margin-bottom:4%;
}
.g-containers p.sexpublic{
	font-size:16px;
}
.g-containers .sexcenter{
	margin-top:110%;
}
.g-containers p.spub img{
	display:inline-block;
	width:15%;
	margin-top:-5%;
}
/*第七页*/
.g-containers .m-sevenblock{
	width:40%;
	height:40%;
	top:72.5%;
	left:29.5%;
	margin:0 auto;
}
.g-containers .sevtop{
	display:inline-block;
	width:100%;
	margin-bottom:10%;
}
.tips{
	background:rgba(0,0,0,0.8);
	width: 75%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color:#fff;
	border-radius: 5px;
	position: absolute;
	left: 20%;
	/*right: 0;*/
	bottom:10%;
	/*top: 0;*/
	margin:auto;
	display: none;
	z-index: 999;
}
