<div id="leftmain" class="g-left">
	<!--1.0.3 delete-->
		<!--<h1 class="u-center">个人中心</h1>-->
	<!--1.0.3 delete-->
	<!--1.0.3 add-->
		<div class="m-top">
		<div class="m-tleft">
			{% if info.icon %}
			{% if info.icon.indexOf('http')>-1 %}
				<img src="{{info.icon}}" alt="" class="iconfileup">
			{% else %}
				<img src="http://img.wangyuhudong.com/{{info.icon}}" alt="" class="iconfileup">
			{% endif %}
			{% else %}
				<img src="/images/default_avatar.png" alt="" class="iconfileup">
			{% endif %}

			{% if info.sex==0 %}
				<img src="/images/male.png" class="seximg" id="seximg">
			{% else %}
				<img src="/images/female.png" class="seximg" id="seximg">
			{% endif %}
		</div>
		<div class="m-tright">
			<p class="u-p1"><span class="u-nicknameonly">{{info.nickname}}</span>&nbsp;{% if info.is_certificate==1 %}<i class="iconfont icon-vip"></i>{% else %}<i></i>{% endif %}</p>

			{% if info.mobile== undefind %}
			<p id="modifyTel1" class="u-p2">请绑定手机</p>
			<p class="u-p3">鱼币:<span class="u-change1">0</span>
			<p class="u-p3">鱼饵:<span class="u-change1">0</span>
			{% else %}
			<p class="u-p2">房间号:<span class="u-change">{{info.room_number}}</span></p>
			<p class="u-p3">鱼币:<span class="u-change1">{{info.yuer_coin}}</span>
			<p class="u-p3">鱼饵:<span class="u-change1">{{info.bait}}</span>
			{% endif %}

		<!--1.0.3delete-->
			<!--<a href="/center/topup" class="u-tovalue">充值</a>-->
		</div>
	</div>
	<!--1.0.3 add-->
		<ul>
		<li>
			<a href="/center/information"><i class="iconfont icon-info"></i>我的资料</a>
		</li>
		<li id="myfocusclick">
			<a href="/center/focus"><i class="iconfont icon-follow"></i>我的关注</a>
		</li>
		<!--<li>-->
			<!--<a href="/center/props"><i class="iconfont icon-prop"></i>我的道具</a>-->
		<!--</li>-->
		<li id="mymessageclick">
			<a href="/center/message"><i class="iconfont icon-message"></i>我的消息</a>
		</li>
		<li >
			<a href="/center/topup"><i class="iconfont icon-pay"></i>我要充值</a>
		</li>
		<li class="u-cbottom" id="u-cbottom">
			<a href="/center/host"><i class="iconfont icon-anchor"></i>我要当主播</a>
		</li>
	</ul>
	<!--1.0.3 add start-->
		<div class="m-bottomText">扫一扫下载APP</div>
		<div class="m-bottomImgBox">
			<div class="m-bottomImg  bottomImgWeb">
				<img src="/images/qrimage.png" alt="">
				娱儿直播
			</div>
			<div class="m-bottomImg  bottomImgApp">
				<img src="/images/wechatAPP.png" alt="">
				娱儿手播
			</div>
		</div>
	<!--1.0.3 add end-->
</div>

