<div id="leftmain" class="g-left">  
	<h1 class="u-center">个人中心</h1> 
		<ul>
			<li>
				<a href="/center/information"><i class="iconfont icon-info"></i>我的资料</a>
			</li>
			<li id="myfocusclick">	 					
				<a href="/center/focus"><i class="iconfont icon-follow"></i>我的关注</a>
			</li>
			<li>					
				<a href="/center/props"><i class="iconfont icon-prop"></i>我的道具</a>
			</li>
			<li id="mymessageclick">					
				<a href="/center/message"><i class="iconfont icon-message"></i>我的消息</a>
			</li>
			<li > 					
				<a href="/center/topup"><i class="iconfont icon-pay"></i>我要充值</a>
			</li>
			<li class="u-cbottom" > 					
				<a href="/center/host"><i class="iconfont icon-anchor"></i>我要当主播</a>
			</li>
		</ul>
</div>  