<div class="m-float">
    <div class="u-download">
        <img src="/images/qrcode.png" alt="">
        <img src="/images/qrimage.png" alt="" class="showQR">
    </div>
    <div class="fade">
        <ul class="f-cb">
            <li><a href="/center?type=5"><img src="/images/beanchor.png" alt=""></a></li>
            <li><a href="/center?type=5">做主播</a></li>
        </ul>
    </div>
    <div class="fade collect">
        <ul class="f-cb">
            <li><img src="/images/collect.png" alt=""></li>
            <li>收藏本页</li>
        </ul>
    </div>
    <div class="fade backToTop">
        <ul class="f-cb">
            <li><img src="/images/backtop.png" alt=""></li>
            <li>返回顶部</li>
        </ul>
    </div>
</div>