<div class="m-float">
    <div class="u-download">
        <img src="/images/qrcode.png" alt="">
        <img src="/images/qrimage.png" alt="" class="showQR">
    </div>
    <div class="fade skip-anchor">
        <ul class="f-cb">
            <li><img src="/images/beanchor.png" alt=""></li>
            <li>做主播</li>
        </ul>
    </div>
    <div class="fade collect">
        <ul class="f-cb">
            <li><img src="/images/collect.png" alt=""></li>
            <li>收藏本页</li>
        </ul>
    </div>
    <div class="fade backToTop">
        <ul class="f-cb">
            <li><img src="/images/backtop.png" alt=""></li>
            <li>返回顶部</li>
        </ul>
    </div>
</div>
<script>
    var islogin = (document.cookie.indexOf('yuer_userId')>=0) ? 1 : 0;
    $('.skip-anchor').click(function(){
        if(islogin){
            window.location.href = '/center/host';
        }else{
            $('.l-usrname').val('');
            $('.l-pwd').val('');
            $('.m-login-wrap').show();
        }
    })
</script>