<div class="footer">
    <div class="comWidth f-cb">
        <img src="/images/ft_logo.png" alt="" class="ft-logo f-fl">
        <div class="footer-left f-fl">
            <ul class="f-cb guide">
                <li><a href="/helpcenter?moduleId=1&num=1" target="_blank">帮助中心</a></li>
                <li><a href="/guide/about" target="_blank">关于我们</a></li>
                <li><a href="/guide/contact" target="_blank">联系我们</a></li>
                <li><a href="/rules" target="_blank">主播管理条例</a></li>
                <li><a href="/guide/copyright" target="_blank">著作权声明</a></li>
            </ul>
            <ul class="f-cb">
                <li>友情链接:</li>
                <li><a href="http://www.wangyuhudong.com" target="_blank">网娱大师</a></li>
                <li><a href="http://www.kaisaiba.com" target="_blank">开赛吧</a></li>
                <li><a href="http://www.xiniugame.com" target="_blank">犀牛电竞</a></li>
            </ul>
            <p class="company"><a href=""><img src="/images/police.png" alt="">浙ICP备16040615号-1 </a>嘉兴娱儿网络科技有限公司2016©版权所有</p>
        </div>
        <div class="footer-right f-fr">
            <div class="footer-qr">               
                <img src="/images/qrimage.png" alt="">
                下载娱儿直播
            </div>
            <div class="footer-qr">
                <img src="/images/wechatAPP.png" alt="">
                关注微信
            </div>
        </div>
    </div>
</div>
<script>
    if((window.location.href).indexOf('http://www.yuerlive.cn')>=0){
        $('.company').html('<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802007781" target="_blank"><img src="/images/police.png" alt="">浙公网安备 33010802007781号</a>浙ICP备16039258号&nbsp;&nbsp;&nbsp;&nbsp;杭州业游网络科技有限公司2016©版权所有');
    }
</script>