<div class="footer">
    <div class="foot">
        <div class="tel">
            <div class="telIcon">
                <img src="/images/telephone.png">
                <span id="lx" v-link="{ path: '/contact'}">联系我们</span>
            </div>
        </div>
        <div class="letter">
            <div class="letterIcon">
                <img src="/images/letter.png">
                <span>招贤纳士：hr-wangyu@miqtech.com
              </span>
            </div>
        </div>
        <div class="address">
            <div class="addressIcon">
                <img src="/images/address.png">
                <span id="gy" v-link="{ path: '/about'}">关于我们</span>
            </div>
        </div>
        <div class="contactInformation">
            <span>浙江网竞网络科技有限公司 浙ICP备14028335号-2 | Copyright©2016 kaisaiba.com All Rights Reserved. 版权所有@浙江网竞网络科技有限公司</span>
        </div>
    </div>
</div>