{% if registerPage %}
<div class="g-hd f-cb">
    <div class="comWidth">
        <div class="header_right f-fr">
            <a href="" class="u-login-btn">立即登录</a><a>帮助中心</a>
        </div> 
    </div>    
</div>
{% else %}
{% if minihead %}
<div class="g-hd f-cb mini-hd">
    <div class="f-cb">
{% else %}
<div class="g-hd f-cb common-hd">
    <div class="f-cb comWidth">
{% endif %}
        <div class="header_left f-fl">
            <img src="/images/logo.png" alt="" class="f-fl">
            <ul class="m-nav f-fl">
                <li class="current"><a href="/">首页</a></li>
                <li><a href="">直播</a></li>
                <!-- <li><a href="">游戏</a></li> -->
            </ul>
            <div class="m-search f-fl">
                <input type="text" placeholder="查找游戏、主播ID、房间号">
                <a href="" class="u-search-btn"></a>
            </div>
            <div class="sweepme">
                <img src="/images/mobile.png" alt="">娱儿TV移动版
                <div class="QRbox">
                    <img src="/images/qrimage.png" alt="">
                    扫描二维码下载娱儿TV
                </div>
            </div>
        </div>
        {% if islogin %}
        <div class="header_right f-fr">
            <div class="avatar">
                <a href="/center?type=0"><img src="" alt="" class="avatar-icon"></a>
                <div class="nav-list">
                    <ul>
                        <li><a href="/center?type=0">我的资料</a></li>
                        <li><a href="/center?type=1">我的关注</a></li>
                        <li><a href="/center?type=3">我的消息</a></li>
                        <li><a href="/center?type=4">我要充值</a></li>
                        <li><a href="" class="logout">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <div class="header_right visitor f-fr">
            <a href="" class="u-login-btn">登录</a><a href="/register" class="register-hover">注册</a>
            <div class="reward-tip">注册赠送两个贝壳</div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
<div class="m-login-wrap">
    <div class="login-content">
        <a href="" class="close"><img src="/images/iconwindow.png" alt=""></a>
        <h3>娱儿TV账号登录</h3>
        <input type="text" placeholder="请输入昵称" class="l-usrname">
        <input type="password" placeholder="请输入密码" class="l-pwd">
        <div class="login-error">
            <p class="error-tip"></p>
        </div>
        <button type="submit" class="u-login">登录</button>
        <div class="m-link f-cb">
            <a href="" class="f-fl">忘记密码？</a>
            <a href="" class="f-fr">我要注册</a>
        </div>
        <div class="third-logins">
            <div class="line-through">
                <div class="line"></div>
                <span>or</span>
            </div>
            <h3>第三方账号登录</h3>
            <div class="third-enter">
                <a href="">
                    <img src="/images/qq.png" alt="">
                    QQ登录
                </a>
            </div>
            <div class="third-enter">
                <a href="">
                    <img src="/images/weibo.png" alt="">
                    微博登录
                </a>
            </div>
            <div class="third-enter">
                <a href="">
                    <img src="/images/wechat.png" alt="">
                    微信登录
                </a>
            </div>
        </div>
    </div>
</div>