{% extends 'rainlayout.html' %}
{% block css %}
<link rel="stylesheet" href="/withdrawCash/css/exchangerst.css">
{% endblock %}
{% block content %}
	<div id="exchangeRst" class="g-exchangeRst bgc-grey" v-cloak>
        <div class="m-exchangeRst bgc-wt">
            <div class="u-exchangeRst-icon"></div>
            <span class="fs-30 fc-b3">提现申请内容</span>
            <div class="u-exchangeRst-clue fs-28 fc-b9">预计在三个工作日内发放到您的微信钱包中</div>
        </div>
        <div class="m-withdraw-amount bgc-wt f-cb">
            <span class="u-amount-text fc-b3">提现金额</span>
            <span  class="u-withdraw-Cash fc-f36 f-fr">${exchangerstCash}元</span>
        </div>
        <button class="u-dl-btn u-exchangeRst-btn" @click="confirmBtn">完成</button>
    </div>
{% endblock %}
{% block js %}
<script src="/withdrawCash/js/exchangerst.js"></script>
{% endblock %}