{% extends 'rainlayout.html' %}
{% block css %}
<link rel="stylesheet" href="/withdrawCash/css/exchangeExplain.css">
{% endblock %}
{% block content %}
<div class="exchangeExplain">
   <div class="clue fs-32 fc-f36">亲爱的彩虹主播们:</div>
    <div class="m-weixin-clue fs-28 fc-b3">您在彩虹直播收到的礼物,可在“彩虹助手”微信公众号中进行提现哦!</div>
    <div class="m-withdraw-clue fs-28 fc-b9">(提现后,工作人员在3个工作日内审核,并发放至您的微信零钱中)</div>
    <div class="step-one fs-32 fc-b3">第一步:在微信里搜索&nbsp;
    <div style="display: inline-block;" class="fc-f36" >彩虹助手</div>
    <!-- <button   class="btn u-copy  fc-wt fs-28">点击复制 -->
    <!-- <div class="copy-success bgc-b8">已复制</div> -->
    <!-- </button> -->
    </div>
    <div class="step-one-pic"></div>
    <div class="step-two fs-32 fc-b3">第二步:关注彩虹助手公众号</div>
    <div class="step-two-pic"></div>
    <div class="step-three fs-32 fc-b3">第三步:进入公众号并点击下方「我要提现」按照页面指示进行提现</div>
    <div class="step-three-pic"></div>
</div>
{% endblock %}
<!-- {% block js %} -->
<!-- <script type="text/javascript" src="/clipboard.min.js"></script> -->
<!-- <script>
      $('.copy-success').hide();
      var clipboard = new Clipboard('.btn');
      clipboard.on('success', function(e) {
            e.clearSelection();
            $('.copy-success').show();
             setTimeout(function(){
            $('.copy-success').hide();
            },1500);
        });
      clipboard.on('error', function(e) {
            layer.open({
              content: '长按彩虹直播进行复制',
              btn: '好的',
              shadeClose: false,
            });
        });
</script> -->
<!-- {% endblock %} -->