{% extends 'rainlayout.html' %}
{% block css %}
<link rel="stylesheet" href="/withdrawCash/css/incomeDetail.css">
{% endblock %}
{% block content %}
	<div id="incomeDetail" class="g-incomeDetail bgc-grey" v-cloak>
        <ul  class="m-incomeDetail   bgc-wt bdc-btm">
            <li class="u-incomeDetail active" @click="incomeRecord">
                <div>收益记录</div>
            </li>
            <li class="u-exchangeDetail" @click="exchangeRecord">
                <div>兑换记录</div>
            </li>
        </ul>
        
         <!-- 收益记录 -->
        <div v-if="incomeList!=''" class="m-giftHistoryList bgc-wt" v-show="giftHistoryList">
            <div class="u-giftHistoryList bdc-btm  f-cb" v-for="item in incomeList">
                <div class="m-fansIcon g-sd51">
                    <img v-bind:src="item.icon" alt="">
                </div>
                <div class="m-giftList g-mn5">
                    <div class="u-giftList fs-30 fc-f36 g-mn5c">
                        <span>${item.nickname}</span><span class="fc-b3">赠送${item.num}个</span><span>${item.name}</span>
                        <div class="u-giftList-time fs-28 fc-b9">${item.create_date}</div>
                    </div>
                </div>
                <div class="m-giftIcon g-sd52">
                    <img  v-bind:src="item.no_frame_icon" alt="">
                </div>
            </div>
            <div class="giftLoad" v-show="giftLoad">${giftloadText}</div>
        </div>
         <!-- 暂无收礼记录 -->
         <div  v-else  class="disRecord disRecord-income" v-show="giftHistoryList">
             <div class="u-disRecord u-disRecord-income fs-30 fc-b9">暂无收礼记录</div>
         </div>
        
        
        <!-- 兑换记录 -->
        <div  v-if="exchangeList!=''"  class="m-withdrawList" v-show="withdrawList"> 
             <div class="u-withdrawList bgc-wt" v-for="item in exchangeList">
                <div class="m-exchange-income bdc-btm f-cb">
                    <span>兑换收益</span><span class="f-fr fc-f36">${item.amount}</span>
                </div>
                <div class="m-exchange-info">
                    <div class="exchange-apply-time f-cb">
                        <span>申请时间</span><span class="f-fr">${item.create_date}</span>
                    </div>
                    <div class="exchange-status f-cb">
                        <span>状态</span>
                        <span v-if='item.state==1' class="f-fr">待审核</span>
                        <span v-else-if='item.state==2' class="f-fr">成功</span>
                        <span v-else-if='item.state==3' class="f-fr">失败</span>
                        <span v-else-if='item.state==4' class="f-fr">拒绝</span>
                    </div>
                    <div class="exchange-remain f-cb">
                        <span>剩余可兑换收益</span><span class="f-fr">${item.rest_withdraw_amount}</span>
                    </div>
                </div>
             </div> 
             <div class="giftLoad" v-show="changeLoad">${exchangeloadText}</div>  
        </div>
       <!-- 暂无兑换记录 -->
        <div v-else  class="disRecord disRecord-exchange"  v-show=withdrawList>
           <div class="u-disRecord u-disRecord-exchange fs-30 fc-b9">暂无兑换记录</div>
        </div>
       
    </div>
{% endblock %}
{% block js %}
<script src="/withdrawCash/js/incomeDetail.js"></script>
{% endblock %}