{% extends 'rainlayout.html' %}
{% block css %}
<link rel="stylesheet" href="/withdrawCash/css/messageLog.css">
{% endblock %}
{% block content %}
	<div id="messageLog" class="g-messageLog" v-cloak>
        <h1 class="fc-b3 fs-36">短信验证码登录</h1>  
        <!-- 手机号 -->
        <div class="m-phone-number g-bd1 bdc-btm f-cb ">
            <div class="u-phone-number g-sd1">
                <span class="fs-32 fc-b3">手机号</span>
            </div>
            <div class="g-mn1">
                <div class="g-mn1c">
                     <input  class="phone-number-ipt fs-30" type="tel" minlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')"   placeholder="请输入手机号码"  oninput="if(value.length>11)value=value.slice(0,11);if(value.length>=11){$('.u-getCode').removeClass('fc-b9').addClass('fc-f36')}else{$('.u-getCode').removeClass('fc-f36').addClass('fc-b9')}" v-model="phone">
                </div>
            </div>
        </div>
        <div class="phone-error-clue fc-clue fs-28"><span>${phoneError}</span></div>
        <!-- 验证码 -->
         <div class="m-phone-code g-bd1 bdc-btm f-cb ">
            <div class="u-phone-code g-sd1">
                <span  class="fs-32 fc-b3">验证码</span>
            </div>
            <div class="g-mn1">
                <div class="u-getCode-box g-mn1c f-cb" >
                     <input class="code-number-ipt fs-30 f-fl" type="tel" v-model="messCode" placeholder="请输入短信验证码" onkeyup="this.value=this.value.replace(/\D/g,'')"   oninput="if(value.length>6)value=value.slice(0,6);if(value.length>=6){$('.messagesLog-btn').removeClass('u-btn-disclick').addClass('u-btn-click')}else{$('.messagesLog-btn').removeClass('u-btn-click').addClass('u-btn-disclick')}">
                        <button v-bind:class="{disabled:regdis}" v-bind:disabled="regdis"  class="u-getCode fs-30 fc-b9 noset" @click="showPic(0)">${regText}</button>
                </div>
            </div>
        </div>
        <div class="code-error-clue fc-clue fs-28"><span>${messageCodeError}</span></div>
        <!-- 登录 -->
        <button class="u-dl-btn messagesLog-btn u-btn-disclick" @click="messCodeLogin">登录</button>

        <!--图形验证码-->
        <div class="g-checkCodeMask">
            <div class="g-checkCode bgc-wt">
                <div class="m-Content fs-32 fc-b3">请输入图中的内容</div>
                <div class="m-code-ipt">
                    <input type="text" class="u-code-ipt bgc-grey fs-30"  v-model="code" oninput="if(value.length>4)value=value.slice(0,4);">
                    <img v-bind:src="regPic" class="u-codeImg"  alt="没有图片" @click="changePic()">
                </div>
                <div class="codeError fs-30 fc-clue"><span>${codeError}</span></div>
                <div class="m-codeBtn fs-30 f-cb">
                    <button class="codeCancel fs-30 bgc-wt bdc-gye6 f-fl" @click="codeCancel">取消</button>
                    <button class="codeConfirm fs-30  fc-wt  f-fr" @click="codeConfirm">确定</button>
                </div>
             </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/withdrawCash/js/messageLog.js"></script>
{% endblock %}