{% extends 'center.html' %} 
  
{% block right %}
	<div class="g-focus">
		<div class="m-main">
				<div class="u-top">
					<h3>主播</h3>
				</div>
				<div class="u-host">
					<div class="u-hleft">
						<div class="u-focusimg">
							<img src="/images/focusimg.png">
						</div>
						<div class="u-nickhost">
							<p class="u-nicksex">
								<span>小飞~超影路</span>
								<img src="">
							</p>
							<div class="u-hostfans">
								<p>
									<span class="u-hf">直播间ID</span>&nbsp;
									<span class="u-num">123456789</span>
								</p>
								<p class="u-hhf">
									<span class="u-hf">粉丝</span>&nbsp;
									<span class="u-num">3764</span>
								</p>
							</div>
						</div>
					</div>
					<div class="u-hright">
						<img src="/images/focusclick.png">
						<a href="">进入房间</a>
					</div>
				</div>
				<div class="u-host">
					<div class="u-hleft">
						<div class="u-focusimg">
							<img src="/images/focusimg.png">
						</div>
						<div class="u-nickhost">
							<p class="u-nicksex">
								<span>小飞~超影路</span>
								<img src="">
							</p>
							<div class="u-hostfans">
								<p>
									<span class="u-hf">直播间ID</span>&nbsp;
									<span class="u-num">123456789</span>
								</p>
								<p class="u-hhf">
									<span class="u-hf">粉丝</span>&nbsp;
									<span class="u-num">3764</span>
								</p>
							</div>
						</div>
					</div>
					<div class="u-hright">
						<img src="/images/focusclick.png">
						<a href="">进入房间</a>
					</div>
				</div>
				<div class="u-host stopdark">
					<div class="u-hleft">
						<div class="u-focusimg">
							<img src="/images/focusimg.png">
						</div>
						<div class="u-nickhost">
							<p class="u-nicksex">
								<span>小飞~超影路</span>
								<img src="">
							</p>
							<div class="u-hostfans">
								<p>
									<span class="u-hf">直播间ID</span>&nbsp;
									<span class="u-num">123456789</span>
								</p>
								<p class="u-hhf">
									<span class="u-hf">粉丝</span>&nbsp;
									<span class="u-num">3764</span>
								</p>
							</div>
						</div>
					</div>
					<div class="u-hright">
						<img src="/images/focusclick.png" class="u-blur">
						<a href="">进入房间</a>
					</div>
					<span class="dark">该主播已离开</span>
				</div>
				<div class="u-host stopdark">
					<div class="u-hleft">
						<div class="u-focusimg">
							<img src="/images/focusimg.png">
						</div>
						<div class="u-nickhost">
							<p class="u-nicksex">
								<span>小飞~超影路</span>
								<img src="">
							</p>
							<div class="u-hostfans">
								<p>
									<span class="u-hf">直播间ID</span>&nbsp;
									<span class="u-num">123456789</span>
								</p>
								<p class="u-hhf">
									<span class="u-hf">粉丝</span>&nbsp;
									<span class="u-num">3764</span>
								</p>
							</div>
						</div>
					</div>
					<div class="u-hright">
						<img src="/images/focusclick.png" class="u-blur">
						<a href="">进入房间</a>
					</div>
					<span class="dark">该主播已离开</span>
				</div>
		</div>
	</div>
{% endblock %}