{% extends 'center.html' %} 
  
{% block right %}
	<div class="g-focus">
		<div class="m-main">
			<div class="u-top"><h3>主播</h3></div>
			<div class="u-host">
				<div class="u-hleft">
					<div class="u-focusimg">
						<img src="images/focusimg.png">
					</div>
					<div class="u-nickhost">
						<p class="u-nicksex">
						<p>小飞~超影路</p>
						<img src="">
						</p>
						<p class="u-hostfans">
							<p>
								<span class="u-hf">直播间ID</span>
								<span class="u-num">123456789</span>
							</p>
							<p>
								<span class="u-hf">粉丝</span>
								<span class="u-num">3764</span>
							</p>
						</p>
					</div>
				</div>
				<div class="u-hright">
					<img src="images/focusclick.png">
					<a href="">进入房间</a>
				</div>
			</div>
		</div>
	</div>
<div class="u-hostdark">
	
</div>
{% endblock %}