{% extends 'center.html' %} 
  
{% block right %} 
	<div class="g-host">
		<div class="m-mainh">
			<div class="u-top">
				<a href="">主播认证</a>
				<a href="">如何直播</a>
				<a href="">提现说明</a>
			</div>
			<div class="u-certification switchcontent">
				<div class="u-ctop">
					<a href="">手机认证</a>
					<a href="">实名认证</a>
				</div>
				<div class="u-ctleft switchrepeat">
					
				</div>
				<div class="u-ctright switchrepeat">
					
				</div>
			</div>
			<div class="u-live switchcontent">
				<div class="u-ltop">
					<p>
						娱儿TV【安卓版】直播流程
					</p>
				</div>
				<div class="u-ljoin">
					<p>
						1.加入娱儿TV官方群（421322720）私聊管理员开通直播权限：提交网娱大师手机 、昵称、描述、擅长游戏
					</p>
				</div>
				<div class="u-lsearch">
					<p>
						2.搜索各大安卓市场下载：娱儿TV:
					</p>
					<p>
						<img src=""><img src="">
					</p>
				</div>
				<div class="u-lopen">
					<p>
						3.开通直播权限后，打开娱儿TV：点击右上角我要直播
					</p>
					<p>
						<span>01</span>
						<span>02</span>
						<span>03</span>
						<span>04</span>
					</p>
					<p>
						<img src=""><img src=""><img src=""><img src="">
					</p>
				</div>
				<div class="u-lstart">
					<p>4.打开游戏 开始直播</p>
					<p>
						<h6>注意：</h6>
						<p>1.每次直播时长一定要大于5分钟，否则直播数据不能存入网娱大师后台</p>
						<p>2.直播时你的屏幕会被所有观众所看到，请注意个人隐私信息的泄漏</p>
					</p>
				</div>
			</div>
			<div class="u-withdrawal switchcontent">
				<div>正式的提现规则以及提现系统正在开发过程中，详细进度请个人主播留意系统通知消息，谢谢</div>
			</div>
		</div>
	</div>
{% endblock %}