{% extends 'center.html' %} 
  
{% block right %}
  		<div class="m-bottom">
  			<a href="" id="m-change">修改密码</a><a href="" id="m-change">手机认证</a><a href="" id="m-realname">实名认证</a>
  			<div class="m-switch switch-content">
  				<div class="u-pcurrent">
  					<label for="u-current">当前密码</label>
  					<input type="" name="current" id="current" class="u-iverify">
  					<span class="u-verifypassword">密码验证中</span><br>
  				</div>
  				<div class="u-pnew">
  					<label for="u-new">新密码</label>
	  				<input type="" name="new" id="new" class="u-ifail">
	  				<span class="u-failpassword">密码错误</span>
	  				<br>
  				</div>
  				<div class="u-pcancel">
  					<label for="u-confirm">确认新密码</label>
	  				<input type="" name="confirm" id="confirm" class="u-iright">
	  				<span class="u-rightpassword">密码正确</span><br>
  				</div>
	  			<input type="button" name="" value="提交" class="u-i6" id="send">
  			</div>
  			<div class="m-switcht switch-content">
  				<div class="u-div">
  					<label for="number">手机号码</label>
  					<input type="text" class="u-userbox telnumber" name="" id="number" >
  					<span class="u-number" id="gainnumber">获取验证码</span>
  				</div>
	  			<div class="u-div">
	  				<label for="verify">验证码</label>
	  				<input type="text" class="u-userbox" name="" id="verify">
	  				<span class="u-verify error-tip">验证码错误</span>
	  			</div>
	  			<div>
  						<input type="button" class="u-submit" value="提交" id="userbox">
  				</div>
  			</div>
  			<div class="m-switchi switch-content">
  				<div class="u-div">
  					<label for="name">姓名</label><input type="text" class="u-userbox" name="" id="name" >
  				</div>
	  			<div class="u-div">
	  				<label for="passward">QQ密码</label><input type="text" class="u-userbox" name="" id="passward">
	  			</div>
  				<div class="u-div">
  					<label for="Idcard">身份证号</label><input type="text" class="u-userbox" name="" id="Idcard">
  				</div>
	  			<div class="u-div">
	  				<label for="time">身份证到期时间</label>
	  				<input type="text" name="" class="u-finaltime" id="datetimepicker">
	  			</div>
	  			<div class="u-idcard">
	  				<div class="u-dleft" style="color:#666e72;">身份证扫描件</div>
	  				<div class="u-dright">
	  					<div class="u-card">
	  						<img src=""><br>
	  						<span>身份证正面照</span><br>
	  						<div class="upload-container">上传图片
							    <input type="file" name="fileToUpload" id="fileToUpload" class="fileupload"/>
							</div>
	  					</div>
		  				<div class="u-card">
		  					<img src=""><br>
		  					<span>身份证反面照</span><br>
		  					<div class="upload-container">上传图片
							    <input type="file" name="fileToUpload" id="fileToUpload" class="fileupload" />
							</div>
		  				</div>
		  				<div class="u-card">
		  					<img src=""><br>
		  					<span>手持身份证正面照</span><br>
		  					<div class="upload-container">上传图片
							    <input type="file" name="fileToUpload" id="fileToUpload" class="fileupload" />
							</div>
		  				</div>
	  				</div>
	  				<div class="u-deal">
	  					<p>身份证及身份照将会进行人工审核，照片务必做到以下几点：</p>
	  					<br>
	  					<p>*未满16周岁的用户您需要：</p>
	  					<p>1、下载未成年家长承诺书 </p>
	  					<p>2、根据范例打印并填写承诺书相关内容</p>
	  					<p>3、拍照或者扫描上传填写好的承诺书等待审核</p>
	  					<br>
	  					<p>*全面：照片内包含以下内容：</p>
	  					<p>1、您的面部、身份证正面</p>
	  					<p>2、身份证正面</p>
	  					<p>3、身份证反面</p>
	  					<p>*清晰：身份证照片文字及图片清晰可见</p>
	  					<p>*真实：身份证照片无PS</p>
	  					<p>*有效：身份证为二代身份证，在有效期内，正反内容相符</p>
	  					<p>如果以上信息有所不符，实名认证将驳回</p>
	  				</div>
	  				<div class="u-agree">
  						我已阅读并同意 <span class="u-spec">《娱儿tv主播协议》</span>
  					</div>
  					<div>
  						<input type="button" class="u-submit" value="提交" id="userbox">
  					</div>
		  		</div>
	  		</div>
  		</div> 
<div class="m-layer">
    <div class="lywrap">
	    <div class="lytt">
	    	<h2 class="u-tt">修改昵称</h2>
	    </div>
	    <div class="lyct">
	         <p>
		        <input type="text" name="" value="" id="checktips">
		        <span class="tips" id="retips">昵称已存在</span>
		      </p>
            <p class="u-check">本次修改免费，再次修改需要通过道具才能修改</p>
	    </div>
	    <div class="lybt">
	        <div class="lybtns">
	            <button type="button" class="u-btn">确认</button>
	        </div>
	    </div>
    </div>

</div>
<div class="m-psuccess">
	<div class="u-success">
		<img src="../images/iconcancel.png"><span>密码修改成功!</span>
	</div>
	<div class="u-cancel">
		<a href="">确定</a>
	</div>
</div>
<div class="m-mask">
<div class="code-wrap">
		<p>请输入图中验证码完成本次发送</p>
		<div class="m-input">
			<input type="text">
			<span class="error-tip">验证码错误</span>
		</div>
		
		<div class="pic-code f-cb">
			<img src="" alt=""><a href="" class="changePic">看不清，换一个</a>
		</div>
		<a href="" class="u-wrap-btn confirm">确认</a><a href="" class="u-wrap-btn cancel">取消</a>
	</div>
</div>	
{% endblock %}