{% extends 'layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/dist/center.css">

{% endblock %}

{% block content %}
 <div class="g-container f-cb" id="messagevue" v-cloak>
	<div class="g-main"> 
		 {% include 'common/cenleft.html' %}  
	   	 <div id="rightmain" class="g-right f-cb">
<!-- 我的消息 -->
	<div class="m-message rightswitch">
		<div class="m-mainm">
			<div class="u-m-top">
				<a href="" id="initMessage" @click="umtop">系统消息</a>
				<a href="" id="initFocusMessage" @click="umtopeq">关注消息</a>
			</div>
			<div class="u-systemmessage mcurrent">
				<div class="messageBox">
					<div v-if="vuemessage">
						<div class="u-message f-cb" v-for="(item,index) in vuemessage" >

							<div class="u-msystem">
								<img src="/images/messagehead.png">
							</div>
							<div class="u-yuer">
								<h3>${item.title}</h3>
							 	<div class="u-yuerContent f-fl">
									<span v-if='item.target_type==1' class="u-messagecontent">${item.content}</span>
									<span v-else-if="item.target_type==2" class="u-messagecontent">${item.content}</span>
									<span v-else-if="item.target_type==4"  class="u-messagecontent">${item.content}</span>
									<span v-else class="u-messagecontent">
										${item.content}
									</span>
									<a v-if='item.target_type==1' v-bind:href="'/liveroom?id='+item.obj_id">	<span  class="u-messtips" id="messshow">查看<!--&gt;&gt;--></span></a>
									<a v-if='item.target_type==2' href="javascript:;">	<span  class="u-messtips" id="messshow">查看<!--&gt;&gt;--></span></a>
									<a v-if='item.target_type==4' v-bind:href="item.url">	<span   class="u-messtips" id="messshow">查看<!--&gt;&gt;--></span></a>
									<!--<a v-else href="javascript:;">	<span class="u-messtips" id="messshow">查看&lt;!&ndash;&gt;&gt;&ndash;&gt;</span></a>-->

								</div>
								<div class="u-yuerDate f-fr"><span class="u-messagetime f-fr">${item.create_date}</span></div>
							</div>
						</div>
					</div>
					<div v-else>
						<img src="/images/empty.png" class="empty" alt="暂无任何系统消息" title="暂无任何系统消息">
						<p class="emptyText">当前没有系统消息哦！</p>
					</div>
				</div>
				<div class="M-box">
					<a href="javascript:;" @click="prevBtnmsg" class="prevBtn">上一页</a>
					<span class="totalPage"></span>
					<a href="javascript:;" @click="nextBtnmsg" class="nextBtn">下一页</a>
				</div>
			</div>
			<div class="u-systemmessage u-focusmessage mcurrent">
				<div class="messageBox">
					<div v-if="vuemessage">

						<div class="u-message f-cb" v-for="(item,index) in vuemessage">
									<div class="u-msystem">
										{% if info.icon==null%}
											<img src="http://img.wangyuhudong.com/{{info.icon}}" alt="">
										{% else %}
											<img v-bind:src="item.icon">
										{% endif %}

										<!--{% if item.sex == 0 %}-->
										<img v-if="item.sex == 0"  src="/images/male.png" class="seximg">
										<!--{% else %}-->
										<img v-else src="/images/female.png" class="seximg">
										<!--{% endif %}-->

									</div>
									<div class="u-yuer">
										<h3>${item.title}</h3>
										<div class="u-yuerContent f-fl">
											<span class="u-messagecontent">关注了你</span>
											<a v-if="item.live_id=undefined" href="javascript:;"><span class="u-messtips">查看 该用户不是主播</span></a>
											<a v-else v-bind:href="'/liveroom?id='+item.live_id"><span class="u-messtips">查看</span></a>

										</div>
										<div class="u-yuerDate f-fr"><span class="u-messagetime f-fr">${item.create_date}</span></div>
									</div>
						</div>
					</div>
					<div v-else>
						<img src="/images/empty.png" class="empty" alt="暂无任何系统消息" title="暂无任何系统消息">
						<p class="emptyText">当前没有关注消息哦！</p>
					</div>
				</div>
				<div class="M-box">
					<a href="javascript:;" @click="prevBtnmsg" class="prevBtn">上一页</a>
					<span class="totalPage"></span>
					<a href="javascript:;" @click="nextBtnmsg" class="nextBtn">下一页</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- 右侧结尾 -->
	    
	</div> <!-- 整个块结尾 -->

</div>	

{% endblock %}

{% block js %}
 <script type="text/javascript" src="/overTexts.js"></script>
<!-- <script type="text/javascript" src="/dist/center.js"></script> -->
<script type="text/javascript" src=""></script>
<script type="text/javascript">
	$('.g-left li').eq('{{index}}').addClass('rightswitchcolor');
    //我的消息－－关注消息的划入事件
    var messagevue = new Vue({
        el: '#messagevue',
        delimiters: ['${', '}'],
        data: {
            vuemessage:'',
            local:{
            	cur_page:1,
		 		cur_pageSize:5,
		    	cur_maxPage:1,
		    	cur_total:0,
		    	cur_pageCallback:null,
		    	cur_type:0,
            },
			target_type:'',

        },
        mounted: function () {
            this.$nextTick(function () {
                // 代码保证 this.$el 在 document 中
                this.eventBind();
                this.newsList();

            })
        },
        methods:{
        	eventBind:function(){ 
		        $("#mymessageclick").on("click",function(e){
		        	var _this = this;
		            e.preventDefault();
		            _this.local.Pagination(1,0,5,"news");
		            _this.local.cur_type=0;
		        })
		        $(".u-m-top a").on("click", function(e) {
			        e.preventDefault();
			        $(this).addClass("focuscurrent").siblings().removeClass("focuscurrent");
			        $(".mcurrent").hide().eq($(this).index()).show();
			    })
			    $(".m-mainm a:eq(0)").trigger("click");
		    },
		    umtop:function(e){
		    	var _this = this;
	            e.preventDefault();
	            _this.Pagination(1,0,5,"news");
	            _this.local.cur_type=0;
	            _this.newsList();
	        },
	        umtopeq:function(e){
	        	var _this = this;
	            e.preventDefault();
	            _this.Pagination(1,0,5,"news");
	            _this.local.cur_type=1;
	            _this.newsList();
	        },
		    prevBtnmsg:function(event){
	        	var _this = this;
	        	event.preventDefault();
	            _this.local.cur_page--;
	                _this.local.cur_type=0;
	                _this.newsList();
	        },
	        nextBtnmsg:function(event){
	        	var _this = this
	        	event.preventDefault();
	            _this.local.cur_page++;
	                _this.local.cur_type=0;
	                _this.newsList();
	        },
	        prevBtnmsgs:function(){
	        	var _this = this;
	        	event.preventDefault();
	            _this.local.cur_page--;
	            	_this.local.cur_type=1;
	                _this.newsList();
	        },
	        nextBtnmsgs:function(event){
	        	var _this = this
	        	event.preventDefault();
	            _this.local.cur_page++;
	            	_this.local.cur_type=1;
	                _this.newsList();
	        },
		    Pagination:function(_page,_total,_pageSize,callback){
		    	var _this = this;
		        _this.local.cur_page = _page || 1;
		        _this.local.cur_total = _total || 0;
		        _this.local.cur_pageSize = _pageSize || 5;
		        _this.local.cur_maxPage = (Math.ceil((_this.local.cur_total)/ _this.local.cur_pageSize));
		        _this.local.cur_pageCallback=callback;
		        $(".totalPage").show().text(_this.local.cur_page+"/"+ _this.local.cur_maxPage);

		        $(".nextBtn").show();
		        $(".prevBtn").show();
		        if(_this.local.cur_page==1){
		            $(".prevBtn").hide();
		        }
		        if(_this.local.cur_page==_this.local.cur_maxPage){
		            $(".nextBtn").hide();
		        }
		        if(_this.local.cur_maxPage==1){
		            $(".prevBtn").hide();
		            $(".nextBtn").hide();
		        }
		        if( _this.local.cur_total == 0 ){ $(".totalPage").hide()};
		    },
	        // 我的消息的页面的事件处理
	        newsList:function(){
	        	var _this = this;
	            $.ajax({
	                method: "GET",
	                url: "/api/person-center/my-msg",
	                dataType: 'json',
	                data: {
	                    page: _this.local.cur_page,
	                    pageSize: _this.local.cur_pageSize,
	                    type:_this.local.cur_type,
	                },
	                success: function(data) {
	                    if (data.code == 0) {
	                        if(data.object.list.length>0){
	                        	_this.vuemessage = data.object.list;
								console.log(_this.vuemessage);
	                        	$('body').scrollTop(0);
	                            $(".M-box").show();
//	                            if(_this.local.cur_type == 0){
//	                            }else{
//	                            	 $(".u-foucscolor").on("mouseenter", function() {
//								        $(this).parents('.focuswitch').find('.u-messnickname').show();
//								    });
//								    $(".u-foucscolor").on("mouseleave", function() {
//								        $(this).parents('.focuswitch').find('.u-messnickname').hide();
//								    })
//	                            }
	                            _this.Pagination(_this.local.cur_page,data.object.total,_this.local.cur_pageSize,"follow");
	                        }else{
	                            _this.vuemessage = '';
	                            $(".M-box").hide();
	                        }
	                    } else {
	                        console.log(data.result);
	                    }
	                },
	                error: function(a, b, c) {
	                    console.log("接口出问题啦");
	                }
	            })
	        }
        },
		messagecontent : function(){
			var box = document.getElementsByClassName("u-messagecontent");
			var text = box.innerHTML;
			var newBox = document.createElement("div");
			var btn = document.createElement("a");
			newBox.innerHTML = text.substring(0,20);
			btn.innerHTML = text.length > 10 ? "...显示全部" : "";
			btn.href = "###";
			btn.onclick = function(){
				if (btn.innerHTML == "...显示全部"){
					btn.innerHTML = "收起";
					newBox.innerHTML = text;
				}else{
					btn.innerHTML = "...显示全部";
					newBox.innerHTML = text.substring(0,20);
				}
			}
			box.innerHTML = "";
			box.appendChild(newBox);
			box.appendChild(btn);
		}
    })
//	字体显示隐藏

</script>
{% endblock %}