{% extends 'center.html' %} 
  
{% block right %}
	<div class="m-message">
		<div class="m-mainm">
			<div class="u-m-top">
				<a href="">系统消息</a>
				<a href="">关注消息</a>
			</div>
			<div class="u-message">
				<img src="">
				<div class="u-yuer">
					<p>
						<h3>娱儿官方</h3>
						<span>2016-10-13  18: 00</span></p>
					<p><
					span>娱儿TV招募主播啦，这里有大神，有逗比，更有精彩的游戏直播。无论是看直播还是发起直播，在这里一键搞定。真正做到简单快捷，主播观众随时变，就看你敢不来。。</span><span>全文&lt;&lt;</span>
					</p>
				</div>
			</div>
			<div class="u-focusmessage">
				<img src="">
				<div class="u-yuer">
					<p>
						<h3>娱儿官方</h3>
						<span>2016-10-13  18: 00</span></p>
					<p><
					span>娱儿TV招募主播啦，这里有大神，有逗比，更有精彩的游戏直播。无论是看直播还是发起直播，在这里一键搞定。真正做到简单快捷，主播观众随时变，就看你敢不来。。</span><span>全文&lt;&lt;</span>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}