{% extends 'layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/dist/center.css">

{% endblock %}

{% block content %}
 <div class="g-container f-cb">
	<div class="g-main"> 
		 {% include 'common/cenleft.html' %}  
	    <div id="rightmain" class="g-right">
<!-- 我的消息 -->
	<div class="m-message rightswitch">
		<div class="m-mainm">
			<div class="u-m-top">
				<a href="" id="initMessage">系统消息</a>
				<a href="" id="initFocusMessage">关注消息</a>
			</div>
			<div class="u-systemmessage mcurrent">
				<div class="messageBox">
					<img src="/images/empty.png" class="empty" alt="暂无任何系统消息" title="暂无任何系统消息">
					<p class="emptyText">当前没有系统消息哦！</p>
					<!-- <div class="u-message">
						<div class="u-msystem">
							<img src="/images/messagehead.png">
						</div>
						<div class="u-yuer">
							<p>
								<h3></h3>
								<span class="u-messagetime"></span>
							<p>
							<p>
							<span class="u-messagecontent"></span><span class="u-messtips" id="messshow">全文&gt;&gt;</span>
							</p>
						</div>
					</div> -->
				</div>
				
				<div class="M-box">
					<a href="javascript:;" class="prevBtn">上一页</a>
					<span class="totalPage"></span>
					<a href="javascript:;" class="nextBtn">下一页</a>
				</div>
			</div>
			
			<div class="u-focusmessage mcurrent">
				<div class="focusmessage">
					<img src="/images/empty.png" class="empty" alt="暂无任何关注消息" title="暂无任何关注消息">
					<p class="emptyText">当前没有关注消息哦！</p>
						<!-- <div class="u-focusmess">
							<p class="u-focusnc">
								<span class="u-foucscolor">我在那里找到你
									
								</span>
								<span class="u-focusc">关注了你</span>
							</p>
							<span class="u-focustime">
								2016-10-13  18：00
							</span>
						</div>
						<div class="u-messnickname">
							<img src="/images/ico7.png"><img src="" class="messimgsex">
							<p class="u-mkname">我从哪里找到你</p>
							<p><span>ID：</span><span>1987272</span></p>
						</div> -->
				</div>
				<div class="M-box">
					<a href="javascript:;" class="prevBtn">上一页</a>
					<span class="totalPage"></span>
					<a href="javascript:;" class="nextBtn">下一页</a>
				</div>
			</div>
			
		</div>
	</div>
</div><!-- 右侧结尾 -->
	    
	</div> <!-- 整个块结尾 -->

</div>	

{% endblock %}

{% block js %}
<script type="text/javascript" src="/dist/center.js"></script>
<script type="text/javascript">
	$('.g-left li').eq('{{index}}').addClass('rightswitchcolor');
	//我的消息中的div之间的切换
    $(".m-mainm a").on("click", function(e) {
        e.preventDefault();
        $(this).addClass("focuscurrent").siblings().removeClass("focuscurrent");
        $(".mcurrent").hide().eq($(this).index()).show();
    })
    $(".m-mainm a:eq(0)").trigger("click");
    //我的消息－－关注消息的划入事件
    $(".u-foucscolor").on("mouseenter", function() { 
        $(".u-messnickname").show().css("top", $(this).position().top+'2px') 
    });
    $(".u-foucscolor").on("mouseleave", function() { 
        $(".u-messnickname").hide() 
    })       
    $("#cancel").off("click").on("click", function() {
            $(".u-topupwindow").hide();
    })
</script>
{% endblock %}