{% extends 'center.html' %} 
  
{% block right %} 
	<div class="g-props">
		<div class="m-mainp">
			<div class="u-top">
				<h3>道具信息</h3>
			</div>
			<div class="u-imgmessage">
				<div class="imgprops">
					<div class="u-props">
						<img src="/images/propsshell.png">
						<p>
							<span>贝壳</span>
							<span class="u-propscolor">10</span>
							<span>个</span>
						</p>
					</div>
					<div class="u-props">
						<img src="/images/propssf.png">
						<p>
							<span>海星</span>
							<span class="u-propscolor">10</span>
							<span>个</span>
						</p>
					</div>
					<div class="u-props">
						<img src="/images/propsjf.png">
						<p>
							<span>水母</span>
							<span class="u-propscolor">10</span>
							<span>个</span>
						</p>
					</div>
					<div class="u-props">
						<img src="/images/propshc.png">
						<p>
							<span>海马</span>
							<span class="u-propscolor">10</span>
							<span>个</span>
						</p>
					</div>
				</div>
				<div class="imgprops">
					<div class="u-props">
						<img src="/images/propsshell.png">
						<p>
							<span>海马</span>
							<span class="u-propscolor">10</span>
							<span>个</span>
						</p>
					</div>
					<div class="u-props">
						<img src="/images/propsjf.png">
						<p>
							<span>水母</span>
							<span class="u-propscolor">10</span>
							<span>个</span>
						</p>
					</div>
					<div class="u-props">
							<img src="/images/propsshell.png">
							<p>
								<span>贝壳</span>
								<span class="u-propscolor">10</span>
								<span>个</span>
							</p>
					</div>
				</div>
				
			</div>
			<div class="u-bottom">
				<p>
					<span class="u-bvalue">道具价值：</span>
					<span class="u-bmoney">68969</span>
					<span class="u-bunit">鱼币</span>
				</p>
			</div>
		</div>
	</div>
{% endblock %}