{% extends 'center.html' %} 
  
{% block right %}
	<div class="g-top-up">
		<div class="m-maint">
			<div class="u-topup">
				
			</div>
			<div class="u-show">
				
			</div>
			<div class="u-value">
				<div><span>600</span><span>鱼币</span></div>
				<div><span>600</span><span>鱼币</span></div>
				<div><span>600</span><span>鱼币</span></div>
				<div><span>600</span><span>鱼币</span></div>
				<div><span>600</span><span>鱼币</span></div>
				<div><span>600</span><span>鱼币</span></div>
				<div><span>600</span><span>鱼币</span></div>
			</div>
			<div class="u-determine">
				<a href="">充值</a>
			</div>
		</div>
	</div>
{% endblock %}