{% extends 'center.html' %} 
  
{% block right %}
	<div class="g-top-up">
		<div class="m-maint">
			<div class="u-topup">
				<a href="" class="u-topfish">充值鱼币</a>
			</div>
			<div class="u-value">
				<div>
					<span class="u-vfish">600鱼币</span>
					<span class="u-vmoney">6元</span>
				</div>
				<div>
					<span class="u-vfish">1200鱼币</span>
					<span class="u-vmoney">12元</span>
				</div>
				<div>
					<span class="u-vfish">1800鱼币</span>
					<span class="u-vmoney">18元</span>
				</div>
				<div>
					<span class="u-vfish">2100鱼币</span>
					<span class="u-vmoney">21元</span>
				</div>
				<div>
					<span class="u-vfish">3000鱼币</span>
					<span class="u-vmoney">30元</span>
				</div>
				<div>
					<span class="u-vfish">9800鱼币</span>
					<span class="u-vmoney">98元</span>
				</div>

				<div>
					<span class="u-vfish">29800鱼币</span>
					<span class="u-vmoney">298元</span>
				</div>
				<div>
					<span class="u-vfish">58800鱼币</span>
					<span class="u-vmoney">588元</span>
				</div>
				<div>
					<span class="u-vfish">159800鱼币</span>
					<span class="u-vmoney">1598元</span>
				</div>
			</div>
			<div class="u-determine">
				<a href="" class="u-topvalue">充值</a>
			</div>
		</div>
	</div>
{% endblock %}