{% extends 'layout.html' %} 

{% block css %}
<link rel="stylesheet" href="/dist/center.css">

{% endblock %}

{% block content %}
 <div class="g-container f-cb">
	<div class="g-main"> 
		 {% include 'common/cenleft.html' %}  
	    <div id="rightmain" class="g-right">
<!-- 我要充值 -->
	<div class="g-top-up rightswitch">
		<div class="m-maint">
			<div class="u-balance">
				<p>余额：<span>{{valueyuer.yuer_coin}}</span>鱼币</p>
			</div>
			<div class="u-value f-cb">
			  {% for valuelist in valuelist%}
                <div data-id="{{valuelist.id}}">
                   <span class="u-vfish">{{valuelist.yuer_amount}}鱼币</span>
					<span class="u-vmoney">{{valuelist.rmb}}元</span>
                </div>       
            	{% endfor %}
			</div>
			<div class="u-determine">
				<a href="" class="u-topvalue" id="topupvalue">充值</a>
			</div>
		</div>
		<div class="u-topupwindow">
			<div class="u-iconwindow">
				<img src="/images/iconwindow.png" id="cancel">
			</div>
			<div class="u-wintop">
				<div class="u-ws">
					<img src="/images/iconcancel.png">
					<span>订单提交成功，请您尽快付款 ！</span>
				</div>
				<div class="u-wm">
					<span class="u-wntop">金&nbsp;&nbsp;&nbsp;&nbsp;额：</span><span class="u-wmtips"></span><span>元</span>
				</div>
				<div class="u-wn">
					<span class="u-wntop">订单号：</span><span class="hiddenOrder" id="hiddenOrder">14763398738814</span>
				</div>
			</div>
			<div class="u-winbottom">
				<div class="u-wbtop">
					<div class="paycontent">
						<span>支付方式</span>
					</div>
					<div class="payimg initShow">
						<img src="/images/focusclick.png" class="u-wpleft">
						<img src="/images/iconpay.png">
					</div>
					<div class="payimg payshow">
						<img src="/images/iconclick.png" class="u-wpleft">
						<img src="/images/iconwec.png">
						<p>暂未开放敬请期待</p>
					</div>
					<div class="payimg pay">
						<img src="/images/iconclick.png" class="u-wpleft">
						<img src="/images/iconcard.png">
						<p>暂未开放敬请期待</p>
					</div>
				</div>
				<div class="u-wbbottom">
					<a href="" id="tovalue">下一步</a>
					<p>选择支付平台，点击“下一步”完成支付流程</p>
				</div>
			</div>
		</div>

	</div>
</div><!-- 右侧结尾 -->
	    
	</div> <!-- 整个块结尾 -->

</div>	

{% endblock %}

{% block js %}
<script type="text/javascript" src="/dist/center.js"></script>
<script type="text/javascript">
	$('.g-left li').eq('{{index}}').addClass('rightswitchcolor');
	//选中支付宝
    // $(".payimg.initShow").off("click").on("click",function(){$(".payimg .u-checked").hide();
    // $(".initShow").off("click").on("click",function(){$(".payimg .u-checked").hide();
    // $(".payimg .u-dischecked").show();$(this).find(".u-checked").show();$(this).find(".u-dischecked").hide();})
    // 我要充值－－选中鱼币的样式
    $(".u-value div").on("click", function() {
        $(this).addClass("checktopup").siblings().removeClass("checktopup");
        window.checktopup=this;
        checked = true
    })
    // 我要充值－－－点击充值出现弹框
    $("#topupvalue").off("click").on("click", function(e) {
        e.preventDefault();  
        if(checked){
            $(".u-wmtips").text($(window.checktopup).find(".u-vmoney").text().substr(0,$(window.checktopup).find(".u-vmoney").text().length-1));
            $(".u-topupwindow").show(); 
            $.ajax({
                method: "GET", //对于请求类型
                url: "/api/pay/recharge",
                dataType: 'json',
                data:{id:$(window.checktopup).attr("data-id")}, //这个是一个验证是否重名的接口。参数只有一个 名字
                success: function(data) {
                    if (data.code == 0) { //data.code的值这个是后端人员规定的。
                        console.log("请求成功");
                        $("#tovalue").attr("href","/alipay?id="+data.object);
                        $(".u-wn span:eq(1)").text(data.object);
                        // 隐藏订单号
                        $("#hiddenOrder").text("***********"); 
                        if (data.object == 1) { //1为重复
                            console.log("这个重复啦");
                        } else if (data.object == 0) {
                            console.log("这个不重复");
                        } else {
                            console.log("未知异常");
                        }
                    } else if (data.code == -2) {
                        console.log("你没有权限，通常来讲，你是没有登录");
                    } else if (data.code == -5) {
                        console.log("参数错误哦。");
                    } else {
                        console.log(data.result);
                    }
                },
                error: function(a, b, c) {
                    console.log("接口出问题啦");
                }
            })
        }else{
            alert('请选择鱼币');
        }
    })
</script>
{% endblock %}